{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}user_settings_modal{% endblock %}
{% block form_action %}{% url 'horizon:settings:user:index' %}{% endblock %}

{% block modal-body %}

  <div class="panel-group settings" id="accordion">
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#change-password" class="panel-heading">
      <h4 class="panel-title">
        Change your password
      </h4>
    </a>
    <div id="change-password" class="panel-collapse collapse">
      <div class="panel-body">
        <form accept-charset="UTF-8" action="/users" class="edit_user" id="edit_user" method="post">

  	      <div class="form-group">
  	        <label class="control-label">New password</label>
  	        <input class="form-control" id="user_password" name="user[password]" size="30" type="password">
  	      </div>

  	      <div class="form-group">
  	        <label class="control-label">Retype new password</label>
    	      <input class="form-control" id="user_password_confirmation" size="30" type="password">
    	    </div>
          
  	      <div class="form-group">
  	        <label class="control-label">Current password</label>
  	        <input class="form-control" size="30" type="password">
  	      </div>

  	      <input class="btn btn-primary" name="commit" type="submit" value="Update">
  	    </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#change-email" class="panel-heading">
      <h4 class="panel-title">
        Change your e-mail
      </h4>
    </a>
    <div id="change-email" class="panel-collapse collapse">
      <div class="panel-body">
        <form accept-charset="UTF-8" action="/users" class="edit_user" id="edit_user" method="post">
  	      <div class="form-group">
  	        <label class="control-label">Email</label>
  	        <input class="required form-control" id="user_email" size="30" type="email" value="your e-mail">
  	      </div>

  	      <div class="form-group">
  	        <label class="control-label">Current password</label>
  	        <input class="required form-control" id="user_current_password" size="30" type="password">
  	      </div>

  	      <input class="btn btn-primary" name="commit" type="submit" value="Update">
    		</form>
      </div>
    </div>
  </div>
  <div class="panel panel-default cancel_account">
    <a data-toggle="collapse" data-parent="#accordion" href="#cancel-account" class="panel-heading">
      <h4 class="panel-title">
        Cancel account
      </h4>
    </a>
    <div id="cancel-account" class="panel-collapse collapse">
      <div class="panel-body">
        Unhappy? <a href="/users" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Cancel my account</a>
      </div>
    </div>
  </div>
</div>
<!--
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Modify dashboard settings for your user." %}</p>
-->
{% endblock %}

