{% load i18n sizeformat %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Stack Resource ID" %}</dt>
    <dd>{{ resource.resource_name }}</dd>
    <dt>{% trans "Resource ID" %}</dt>
    <dd>
      {% if resource_url %}
      <a href="{{ resource_url }}">
          {{ resource.physical_resource_id }}
      </a>
      {% else %}
      {{ resource.physical_resource_id }}
      {% endif %}
    </dd>
    <dt>{% trans "Stack Resource Type" %}</dt>
    <dd>{{ resource.resource_type }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ resource.description }}</dd>
  </dl>

  <h4>{% trans "Status" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Last Updated" %}</dt>
    <dd>{{ resource.updated_time|parse_isotime|timesince_or_never }}</dd>
    <dt>{% trans "Status" %}</dt>
    <dd>
      {% blocktrans with resource_status=resource.resource_status|title|replace_underscores resource_status_reason=resource.resource_status_reason %}{{ resource_status }}: {{ resource_status_reason }}{% endblocktrans %}
    </dd>
  </dl>

  <h4>{% trans "Resource Metadata" %}</h4>
  <hr class="header_rule">
  <pre>{{ metadata }}
  </pre>
</div>
