{% if action.method != "GET" %}
  <button {{ action.attr_string|safe }} name="action" value="{{ action.table.name }}__{{ action.name }}__{{ row_id }}" type="submit">
    {% if action.icon != None %}<span class="fa fa-{{ action.icon }}"></span> {% endif %}
    {{ action.verbose_name }}
  </button>
{% else %}
  <a href='{{ action.bound_url }}' title='{{ action.verbose_name }}' {{ action.attr_string|safe }}>
    {% if action.icon != None %}<span class="fa fa-{{ action.icon }}"></span> {% endif %}
    {{ action.verbose_name }}
  </a>
{% endif %}
