{% comment %}
  NOTE(garcianavalon): Right now we are only using the actions for the role's widget to create a new role. In the future we might have to find a better solution for this rather than overriding the whole template for all table actions.
{% endcomment %}
<h4  id="headingOne" role="tab" class="panel-title">
  <a 
  -url='{{ action.get_link_url }}' title='{{ action.verbose_name }}' {{ action.attr_string|safe }}>
    {% if action.icon != None %}
        <span class="fa fa-{{ action.icon }}"></span>
    {% endif %}
    {{ action.verbose_name }}
  </a>
</h4>

<div id="inline_modal_wrapper" class="form-group collapse" role="tabpanel" aria-labelledby="headingOne">
</div>
    
    {% comment %} 
    <h4  id="headingOne" role="tab" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {% if action.icon != None %}
                <span class="fa fa-{{ action.icon }}"></span>
            {% endif %}
            {{ action.verbose_name }}
        </a>
      </h4>
      <div id="collapseOne" class="form-group collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Write the name of the role.">
          <button {{ action.attr_string|safe }} name="action" value="{{ action.get_param_name }}" type="submit"> 
            Save
          </button>
        </div> 
      </div>

    

  {% endcomment %}