
   <div class="avatar">
      {%if row.table.name = 'mytenants' or row.table.name = 'tenants' %}
        
          
         <img id="{{ row.datum.name }}-avatar" src="/static/dashboard/img/logos/small/user.png">
        {% endif %}
    </div>
{% for cell in row %}  
    <div class="data">
    {% if cell.column.name == 'name'%}
        {{ cell.column.name }} : {{ cell.value }}
        {% if row.table.name != "members" %}
          <button class="btn btn-link">switch</button>
        {% endif %}

	{% else %}
        {{ cell.column.name }} : {{ cell.value }}

	{% endif %}
	</div>

{% endfor %}
 
