<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
  <div class="h3 modal-title">
    <translate>Edit File: {$ ctrl.model.container $} : {$ ctrl.model.path $}</translate>
  </div>
</div>

<div ng-form="editForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <fieldset>
          <div class="form-group">
            <label class="control-label required" for="id_object_file" translate>
              New File Contents
            </label>
            <span class="hz-icon-required fa fa-asterisk"></span>
            <div>
              <input id="id_object_file" type="file" name="file" required
                     ng-model="ctrl.model.view_file" on-file-change="ctrl.changeFile" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">
      <span class="fa fa-close"></span>
      <translate>Cancel</translate>
    </button>
    <button class="btn btn-primary" ng-click="$close(ctrl.model)"
           ng-disabled="editForm.$invalid">
      <span class="fa fa-upload"></span>
      <translate>Edit File</translate>
    </button>
  </div>
</div>
