$accordionBorderColor: #aeb0b2;

@mixin sidebar_toggle_icon {
  & > span {
    transition: all .3s ease 0s;
    @extend .glyphicon-chevron-down;
    &:before {
      font-size: .6em;
      line-height: 18px;
      vertical-align: middle;
    }
  }
  &.active > span {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

.nav_accordion {
  color: #6e6e6e;
  margin: 0px 0px;
  dt, dd {
    line-height: 18px;
    h4 {
      padding: .5em 0 .3em 0;
      margin: 0 1.2em .5em 1.2em;
      border-bottom: 3px solid #c0c1c2;
      font-size: $font-size-base;
      line-height: $line-height-base;
      color: #6e6e6e;
      font-weight: bold;
      text-rendering: optimizelegibility;
      cursor: pointer;
      @include sidebar_toggle_icon();
      transition: all .3s ease 0s;
      &:hover{
        border-color: darken(#c0c1c2, 10%)
      }
    }
    ul {
      list-style: none outside none;
      margin: 0;
      padding: 0;
    }
    li {
      &:not(:first-child) a {
        margin-top: .2em;
      }
      &:not(:last-child) a {
        margin-bottom: .2em;
      }
      a {
        color: #6e6e6e;
        padding: .7em 1.2em;
        outline: none;
        text-decoration: none;
        display: block;
        text-align: right;
        transition: all .3s ease 0s;
        &.active, &:hover {
          color: #d93c27;
        }
        &.active {
          background: white;
          border-top: 1px solid $accordionBorderColor;
          border-left: 4px solid #d93c27;
          border-bottom: 1px solid $accordionBorderColor;
          -webkit-box-shadow: -3px 2px 6px -3px #C7C7C7;
          box-shadow: -3px 3px 6px -3px #C7C7C7;
        }
      }
    }
  }
  dd {
    padding: 0;
    border-bottom: 1px solid #bbbbbb;
    div {
      &:first-child h4 {
        margin-top: .5em;
      }
      &:last-child h4:not(.active) {
        margin-bottom: 1em;
      }
    }
  }
  dt {
    &:first-child { border-top: 1px solid #bbbbbb; }
    border-bottom: 1px solid #bbbbbb;
    padding: .5em 1.2em;
    max-width: 231px;
    cursor: pointer;
    @include sidebar_toggle_icon();
    transition: all .3s ease 0s;
    &.active {
      background-color: #e3e4e6;
    }
    &:hover{
      background-color: darken(#e3e4e6, 3%)
    }
  }
}
