@import "/bootstrap/scss/bootstrap/variables";

/* Bootstrap variables overrides */

$icon-font-path: "../../bootstrap/fonts/bootstrap/";
$font-size-base: 13px;
$modal-md: 732px;
$gray-light: #cccccc;

/* Horizon Custom Variables */

$sidebar-background-color: #f9f9f9;
$sidebar-width: 220px;
$border-color: #dddddd;
$table-bg-odd: #f9f9f9;

/* Workflows */

$workflow-color-tab-complete-bg: #007acc;
$workflow-color-tab-incomplete-bg: #dddddd;
$workflow-color-tab-trough-bg: #efefef;
$workflow-color-tab-border: #ffffff;
$workflow-color-tab-link-active: #ffffff;
$workflow-color-tab-link-inactive: #43a4d7;

$workflow-color-label-error: $brand-danger;

$workflow-size-tab-border: 2px;
$workflow-size-tab-arrow: 20px;
$workflow-size-tab-padding: 15px;


/* Resource Browser */

$rbrowser-data-table-border-width: 1px;
$rbrowser-data-table-border-color: $border-color;

$rbrowser-actions-column-padding: 10px;

$rbrowser-small-button-height: 28px;
$rbrowser-td-height: $rbrowser-small-button-height;

$rbrowser-table-cell-padding: 8px;

$rbrowser-selected-color: #e9f5fa;

$rbrowser-wrapper-width: 100%;
$rbrowser-navigation-table-width: 40%;
$rbrowser-content-table-width: $rbrowser-wrapper-width - $rbrowser-navigation-table-width;

$rbrowser-body-background-color: $body-bg;
$rbrowser-header-background-color: $gray-lighter;
$rbrowser-footer-background-color: #f1f1f1;
// Note: the content-wrapper background colors are determined by
//       .table-striped-datatable styles.

// Font-awesome path to the icon fonts
$fa-font-path: "/static/horizon/lib/font-awesome/fonts";
