// Custom Theme Variables
@import "/custom/variables";

// Horizon Variables
@import "variables";

// Horizon Mixins
@import "mixins";

// Horizon Util
@import "util";

// Vendor Components
@import "/bootstrap/scss/bootstrap";
@import "/horizon/lib/font-awesome/scss/font-awesome.scss";

// Main Page Layout
@import "layout";

// Dashboard Components
@import "components/login";
@import "components/resource_browser";
@import "components/sidebar";
@import "components/navbar";
@import "components/inline_edit";
@import "components/charts";
@import "components/workflow";
@import "components/network_topology";
@import "components/context_selection";
@import "components/pie_charts";
@import "components/bar_charts";
@import "components/quota";
@import "components/table_actions";
@import "/framework/framework";
@import "components/tables";
@import "components/forms";
@import "components/messages";
@import "components/table_actions";
@import "components/datepicker";
@import "components/membership";
@import "components/modals";
@import "components/resource_topology";

// Contrib stuff
@import "contrib";

// Legacy
@import "legacy";

// Debt
@import "debt";

small {
  font-size: 11px;
}

a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}

h2 {
  color: $headings-color;
  font-size: 30px;
  font-weight: normal;
}

/* Tenant Dropdown */

a.current_item {
  width: 163px;
  float: left;
}

a.current_item:hover {
  text-decoration: none;
}

a.current_item:hover h3,
a.current_item:hover h4 {
  color: $link-hover-color;
  border-radius: 4px;
}

.inspect {
  float: left;
  display: block;
  margin-top: 5px;
  margin-right: 25px;
}
.hidden {
  display: none;
}

.overview {
  font-size: 24px;
}

/*New List Patches*/
.details-modal .modal-body {
  padding-bottom: 20px;
}

.form-inline {
  display: inline;
  input, button, a.btn, .btn-group {
    margin-left: 5px;
  }
}

/* Tables */
tr.deleted {
  color: #999999;
}

#main_content {
  min-width: $main-content-min-width;
}

.tab_wrapper {
  padding-top: 50px;
}

div .flavor_table {
  border: 1px solid $table-border-color;
  width: 100%;
  margin-bottom: 14px;
}

.flavor_table .flavor_name {
  white-space: nowrap;
  font-weight: bold;
  text-align: left;
  padding: 7px 12px 7px 7px;
  width: 160px;
}

.item_detail .detail_section {
  margin-bottom: 25px;
  float: left;
  margin-right: 50px;
}

label.log-length {
  line-height: 28px;
  margin-right: 10px;
}

.split_five div.form-group input[type="text"],
.split_five div.form-group select {
  width: 120px;
}

#admin_warning_detail {
  ul {
    list-style: circle;
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

/* Inline member creation */
.add_member_btn {
  display: inline;
}

/* Read only text fields */
.form-control[readonly], .view-credentials input {
    cursor: text;
}

/**** Popover ****/
a.link-popover { cursor: default; }

a:hover.link-popover { text-decoration: none; }

/**** Form Horizontal Override ****/
.form-horizontal {
  .form-group {
    margin-right: 0px !important;
  }

  .form-control-feedback {
    right: 0px !important;
  }
}

