[ng-controller="LaunchInstanceConfigurationController as config"] {

  select {
    width: 250px;
  }

  textarea {
    width: 100%;
    height: 20em;
    font-family: $font-family-monospace;
  }

  .btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }

  .script-modified {
    font-width: normal;
    font-style: italic;
    color: #888;
  }

  .fa.invalid {
    display: none;
  }

  .size-indicator.warning {
    color: $WizardValidationErrorColor;
    border: none;
    padding: 0;
    margin: 0;
    border: none;

    .fa.invalid {
      display: inline;
      color: $invalid-color;
      cursor: pointer;
    }
  }

  .script-file:after,
  .disk-partition:after {
    content: ' ';
    display: block;
    clear: both;
    margin-bottom: 2.5em;
  }
}
