<div ng-controller="LaunchInstanceConfigurationController as config">
  <h1 translate>Configuration</h1>

  <div class="content">
    <div class="subtitle"></div>

    <load-edit config="config"
               user-input="model.newInstanceSpec"
               key="user_data">
    </load-edit>

    <div hz-if-nova-extensions='["DiskConfig"]'>
      <div class="form-group disk-partition">
        <label for="launch-instance-disk-partition" translate>
          Disk Partition
        </label>
        <select class="form-control"
                id="launch-instance-disk-partition"
                ng-model="model.newInstanceSpec.disk_config"
                ng-options="option.value as option.text for option in config.diskConfigOptions">
        </select>
      </div>
    </div>

    <div hz-if-nova-extensions='["ConfigDrive"]'>
      <div class="checkbox customization-script-source">
        <label>
          <input type="checkbox"
                 ng-model="model.newInstanceSpec.config_drive">
          <span translate>Configuration Drive</span>
        </label>
      </div>
    </div>

  </div>
</div>
