<div class="modal-header">
  <h3 class="modal-title">
    <span translate ng-if="modal.resourceType==='aggregate'">Update Aggregate Metadata</span>
    <span translate ng-if="modal.resourceType==='flavor'">Update Flavor Metadata</span>
    <span translate ng-if="modal.resourceType==='image'">Update Image Metadata</span>
  </h3>
</div>
<div class="modal-body">
  <metadata-tree model="modal.tree" form="form"></metadata-tree>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="modal.cancel()">
    <i class="fa fa-close"></i>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary"
          ng-click="modal.save()"
          ng-disabled="form.$invalid">
    <i class="fa" ng-class="modal.saving ? 'fa-spinner fa-spin' : 'fa-save'"></i>
    <span translate>Save</span>
  </button>
</div>
