{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>
    {% trans "Creating encryption for a volume type causes all volumes with that volume type to be encrypted.  Encryption information cannot be added to a volume type if volumes are currently in use with that volume type." %}
  </p>
  <p>
    {% blocktrans %}The <strong>Provider</strong> is the encryption provider format (e.g. 'luks' or 'plain').{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}The <strong>Control Location</strong> is the notional service where encryption is performed (e.g., front-end=Nova). The default value is 'front-end.'{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}The <strong>Cipher</strong> is the encryption algorithm/mode to use (e.g., aes-xts-plain64). If the field is left empty, the provider default will be used.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}The <strong>Key Size</strong> is the size of the encryption key, in bits (e.g., 256). If the field is left empty, the provider default will be used.{% endblocktrans %}
  </p>
{% endblock %}
