{% load i18n %}

<h3>{% trans "Data Processing Plugin Overview" %}</h3>

<div class="status row detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ plugin.name }}</dd>
    <dt>{% trans "Title" %}</dt>
    <dd>{{ plugin.title }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd>{{ plugin.description }}</dd>
    <dt>{% trans "Supported Versions" %}</dt>
    <dd>
      <ul class="list-bullet">
        {% for version in plugin.versions %}
          <li>{{ version }}</li>
        {% endfor %}
      </ul>
    </dd>
  </dl>
</div>
