{% if service.enabled %}               
  <form id="form_service_disable_{{service.id}}" class="form-service-disable" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{hidden}}
    {% endfor %}
    <input name="service" type="hidden" value="{{service.id}}" />
    <input id="disable_{{service.id}}" class="disable" type="submit" value="Disable" />
  </form>
{% else %}                          
  <form id="form_service_enable_{{service.id}}" class="form-service-enable" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{hidden}}
    {% endfor %}
    <input name="service" type="hidden" value="{{service.id}}" />
    <input id="enable_{{service.id}}" class="enable" type="submit" value="Enable" />
  </form>
{% endif %}
