{% load sizeformat %}
<table class="wide">
  <tr>
    <th>Service</th>
    <th>System Stats</th>
    <th>Enabled</th>
    <th>Up</th>
    <th>Actions</th>
  </tr>

  {% for service in services %}
    <tr class='{{service.up|yesno:"good,bad"}} {{service.disabled|yesno:"medium,"}} {% cycle 'odd' 'even' %}'>
      <td>
        {{service.type}} <br/>
        ( {{service.host}} )
      </td>
      {% if service.type == 'nova-compute' %}
        <td>
          <ul>
            <li>
              Hypervisor: {{service.stats.hypervisor_type}}( {{service.stats.cpu_info.features|join:', '}})
            </li>
            <li>
              Allocable Cores:
              {{service.stats.max_vcpus}} 
              ({{service.stats.vcpus_used}} Used, {{service.stats.vcpus}} Physical/Virtual)
            </li>
            <li>
              Allocable Storage:
              {{service.stats.max_gigabytes|diskgbformat}}
              ({{service.stats.local_gb_used|diskgbformat}} Used, {{service.stats.local_gb|diskgbformat}} Physical)
            </li>
            <li>
              System Ram:
              {{service.stats.memory_mb|mbformat}}
              ({{service.stats.memory_mb_used|mbformat}} Used)
            </li>
          </ul>
        </td>
      {% else %}
        <td> - </td>
      {% endif %}
      <td>{{service.disabled|yesno:"Disabled,Enabled"}}</td>
      <td>{{service.up}}</td>
      <td id="actions">
        <ul>
          <li class="form">{% include "_service_toggle_enabled.html" with form=service_toggle_enabled_form %}</li>
        </ul>
      </td>
    </tr>
  {% endfor %}
  {% for service in other_services %}
    <tr class='{{service.up|yesno:"good,bad"}} {{service.disabled|yesno:"medium,"}} {% cycle 'odd' 'even' %}'>
      <td>
        {{service.type}} <br/>
        ( {{service.host}} )
      </td>
      <td> - </td>
      <td>{{service.disabled|yesno:"Disabled,Enabled"}}</td>
      <td>{{service.up}}</td>
      <td></td>
    </tr>
  {% endfor %}
</table>
