<table class="wide">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Enabled</th>
    <th>Options</th>
  </tr>
  {% for tenant in tenants %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{tenant.id}}</td>
      <td>{{tenant.description}}</td>
      <td>{{tenant.enabled}}</td>
      <td id="actions">
        <ul>
          <li>{% include "_tenant_delete.html" with form=tenant_delete_form %}</li>
          <li><a href="{% url syspanel_tenant_update tenant.id %}">Update</a></li>
          <li><a href="{% url syspanel_tenant_users tenant.id %}">Edit Members</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>      
