{% load horizon i18n %}

<div id='header'>
  <ul id="main_nav">
    <li id="home_link"><h1><a href='{% url splash %}'>{% trans "OpenStack Dashboard"%}</a></h1></li>
    {% horizon_main_nav %}
    <li><a id="settings_btn" {% if request.horizon.dashboard.slug == "settings" %} class="active" {% endif %} href="{% url horizon:settings:user:index %}">&nbsp;</a></li>
  </ul>

  <div id="user_bar">
    <a id="current_tenant" href="#FIXME">
      <h4>{{request.user.tenant_name}}</h4>
      <span>as {{request.user.username}}</span>
    </a>
    <a id="drop_btn" href="#">&nbsp;</a>
    <ul id="user_tenant_list">
      <li class="title"><h4>{% trans "Available Tenants"%}</h4></li>
      {% for tenant in authorized_tenants %}
        {% if tenant.enabled %}
          <li><a href="{% url horizon:auth_switch tenant.id %}">{{tenant.name}}</a></li>
        {% endif %}
      {% endfor %}
      <li id="sign_out"><a href="{% url horizon:auth_logout %}">{% trans "Sign Out"%}</a></li>
    </ul>
  </div>
</div>
