{% load branding %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% block title %}{% endblock %} – {% site_branding %} Dashboard</title>
    <script src='{{ STATIC_URL }}dashboard/js/jquery/jquery.min.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}dashboard/js/jquery/jquery.quicksearch.js' type='text/javascript'></script>
    <script src='{{ STATIC_URL }}dashboard/js/jquery/jquery.example.min.js' type='text/javascript'></script>
    <script src="{{ STATIC_URL }}dashboard/js/jquery/jquery.table-sorter.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-alert.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-button.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-carousel.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-popover.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-transition.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}dashboard/js/bootstrap/bootstrap-typeahead.js" type="text/javascript" charset="utf-8"></script>
    <script src='{{ STATIC_URL }}dashboard/js/horizon.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/plugins.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/tables.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/modals.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/forms.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/navigation.js' type='text/javascript' charset='utf-8'></script>
    <script src='{{ STATIC_URL }}dashboard/js/form_examples.js' type='text/javascript'></script>
    <link href='{{ STATIC_URL }}dashboard/css/bootstrap.css' media='screen' rel='stylesheet' />
    <link href='{{ STATIC_URL }}dashboard/css/style.css' media='screen' rel='stylesheet' />
    <link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/images/favicon.ico"/>
    {% block headerjs %}{% endblock %}
    {% block headercss %}{% endblock %}
  </head>
  <body>
    {% block content %}
      <div id="container" class="fluid-container sidebar-left">
        {% block sidebar %}{% endblock %}
        <div id='main_content' class="fluid-content">
          <div class='topbar'>
          {% include "_header.html" %}
          {% block page_header %}{% endblock %}
          </div>
          {% block main %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block footer_js %}{% endblock %}
  </body>
</html>

