<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>OpenStack Dashboard{% block title %}{% endblock %}</title>
    <script charset='utf-8' src='/media/dashboard/js/jquery.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='/media/dashboard/js/jquery-ui.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='/media/dashboard/js/jquery.quicksearch.js' type='text/javascript'></script>
    <script charset='utf-8' src='/media/dashboard/js/jquery.example.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='/media/dashboard/js/form_examples.js' type='text/javascript'></script>
    <script charset='utf-8' src='/media/dashboard/js/application.js' type='text/javascript'></script>
    <link href='/media/dashboard/css/style.css' media='screen' rel='stylesheet' />
    {% block headerjs %}{% endblock %}
    {% block headercss %}{% endblock %}
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1><a href='{% url index %}'>OpenStack Dashboard</a></h1>
        <ul id="main_nav">
          {% block main_nav %}
            <li><a {% if navigation_selected == "dash" %} class="active" {% endif %} href="{% url nova_overview %}">User Dashboard</a></li>
            {% if current_user.is_admin %}
              <li><a {% if navigation_selected == "syspanel" %} class="active" {% endif %} href="{% url syspanel_overview %}">Admin Syspanel</a></li>
            {% endif %}
          {% endblock main_nav %}
        </ul>

        <div id="login_box">
          {{media_url}}
          {% if not request.user %}
             <a id="login_btn" class="large-rounded" href="#">Login</a>
             <div class='large-rounded' id='login'>

               <form accept-charset='utf-8' action='{% url auth_login %}' method='post'>
                 {% csrf_token %}
                 <fieldset>
                   <label for='tenant'>Tenant</label>
                   <input class='small-rounded' id='tenant' name='tenant' type='text' value='1234' />
                   <label for='username'>Username</label>
                   <input class='small-rounded' id='username' name='username' type='text' value='joeuser' />
                   <label for='password'>Password</label>
                   <input class='small-rounded' id='password' name='password' type='text' value='secrete' />
                   <input class='small-rounded' type='submit' value='Login' />
                 </fieldset>
               </form>
             </div>
          {% else %}
          <div class="logged_in">
            <div id="user_bar">
              <a id="current_tenant" href="{% url nova_overview %}">
                <h4>{{ request.user.tenant }}</h4>
                <span>as {{ request.user.username }}</span>
              </a>
              <a id="drop_btn" href="#">&nbsp;</a>
              <ul id="user_tenant_list">
                <li class="title"><h4>Available Tenants</h4></li>
                {% for tenant in tenants %}
                  {% if tenant.enabled %}
                    <li><a href="{% url nova_switch_tenants '1234' %}">{{ tenant.id }}</a></li>
                  {% endif %}
                {% endfor %}
                <li id="sign_out"><a href="{% url auth_logout  %}">Sign Out</a></li>
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div id='content'>
        {% block sidebar %}{% endblock sidebar %}
        <div id="main">
          {% block main_content %}{% endblock main_content %}
        </div>
      </div>
      <div id='footer'>
        {% block footer %}{% endblock footer %}
      </div>
      <div id='mask'></div>
    </div>
    {% block footer_js %}{% endblock footer_js %}
  </body>
</html>
