<!DOCTYPE html>
{% load branding %}
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% site_branding %} Dashboard{% block title %}{% endblock %}</title>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/jquery.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/jquery-ui.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/jquery.quicksearch.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/jquery.example.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/jquery.chosen.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/form_examples.js' type='text/javascript'></script>
    <script charset='utf-8' src='{{ STATIC_URL }}dashboard/js/application.js' type='text/javascript'></script>
    <link href='{{ STATIC_URL }}dashboard/css/style.css' media='screen' rel='stylesheet' />
    <link href='{{ STATIC_URL }}dashboard/css/chosen.css' media='screen' rel='stylesheet' />
    {% block headerjs %}{% endblock %}
    {% block headercss %}{% endblock %}
  </head>
  <body>
    {% block topbar %}
      {% include '_topbar.html' %}
    {% endblock %}
    {% block content %}
      <div id="content">
        <div id="main">
          {% block sidebar %}
          {% endblock %}
          {% block main %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block footer_js %}{% endblock %}
  </body>
</html>

