{% extends 'dash_base.html' %}
{# launch an instance based on image #}
{# standard nav, sidebar, launch form in main #}

{% block sidebar %}
  {% with current_section="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}

  <div id='page_header'>
    <h2><span>Compute:</span> Launch Instance</h2>
    <p class='desc'><span>&mdash;</span> Launch Instance from Image.</p>
  </div>
  <div class='main_content'>

  {% include "_messages.html" %}

  <div class="dash_block wide form">
    <div class='title_block'>
      <h3>Launch Image</h3>
    </div>

    {% include '_launch.html' %}

    <div class="right">
      <h3>Description:</h3>
      <p>Specify the details for launching an instance.</p>
    </div>

  </div>
{% endblock %}
