{% extends 'dash_base.html' %}
{% load parse_date %}

{# default landing page for a non-admin user #}
{# nav bar on top, sidebar, overview info in main #}

{% block sidebar %}
  {% with current_sidebar='overview' %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>Compute:</span> Overview</h2>
    <p class='desc'><span>&mdash;</span> View your overall cloud usage statistics.</p>
  </div>
  <div class='main_content'>
    {% include "_messages.html" %}
    <div id="usage">

    {% if usage.instances %}
      <div class="usage_block">
        <h3>CPU</h3>
        <ul>
          <li><span class="quantity">{{usage.total_active_vcpus|default:0}}</span><span class="unit">Cores</span> Active</li>
          <li><span class="quantity">{{usage.total_cpu_usage|floatformat|default:0}}</span><span class="unit">CPU-HR</span> Used</li>
        </ul>
      </div>

      <div class="usage_block">
        <h3>RAM</h3>
        <ul>
          <li><span class="quantity">{{total_ram|default:0}}</span><span class="unit">{{ram_unit}}</span> Active</li>
        </ul>
      </div>

      <div class="usage_block">
        <h3>Disk</h3>
        <ul>
          <li><span class="quantity">{{usage.total_active_disk_size|default:0}}</span><span class="unit">GB</span> Active</li>
          <li><span class="quantity">{{usage.total_disk_usage|floatformat|default:0}}</span><span class="unit">GB-HR</span> Used</li>
        </ul>
      </div>
     </div>

      <div class='table_title wide'>
        <h3>Server Usage Summary</h3>
        <div class='search'>
          <form action='' method='post'>
            <fieldset>
              <label for='table_search'>Search</label>
              <input id='table_search' name='search' type='text' value='' />
            </fieldset>
          </form>
        </div>
      </div>

      <table class="wide">
        <tr id='headings'>
          <th>Instance Name</th>
          <th>User</th>
          <th>VCPUs</th>
          <th>Ram Size</th>
          <th>Disk Size</th>
          <th>Flavor</th>
          <th>Uptime</th>
          <th>Status</th>
        </tr>
        <tbody class='main'>
          {% for instance in instances %}
            {% if instance.ended_at %}
              <tr class="terminated">
            {% else %}
              <tr class="{% cycle 'odd' 'even' %}">
            {% endif %}
              <td>{{instance.name}}</td>
              <td>{{instance.user_id}}</td>
              <td>{{instance.vcpus}}</td>
              <td>{{instance.ram_size}}MB</td>
              <td>{{instance.disk_size}}GB</td>
              <td>{{instance.flavor}}</td>
              <td>{{instance.uptime_at|timesince}}</td>
              <td>{{instance.state|lower|capfirst}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <div class="status_box info">
          <h2>Info</h2>
          <p>There are currently no instances.<br/><br/>You can launch an instance from the  <a href='{% url dash_images request.user.tenant %}'>Images Page.</a></p>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}
