{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_images request.user.tenant as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Containers" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  {% include '_container_list.html' %}
  <a class="action_link large-rounded" href="{% url dash_containers_create request.user.tenant %}">Create New Container &gt;&gt;</a>
{% endblock %}
