{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="floatingips" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Associate Floating IP" %}
{% endblock page_header %}

{% block dash_main %}
  <div class="dash_block">
    <div class="left">
      {% include '_floating_ip_associate.html' with form=associate_form %}
    </div>

    <div class="right">
      <h3>Description:</h3>
      <p>Associate a floating ip with an instance.</p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
{% endblock %}
