{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_objects tenant_id container_name as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Objects" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  <h3 class="container_name"><span>Container:</span> {{ container_name }}</h3>

  {% if objects %}
    {% include '_object_list.html' %}
  {% else %}
    <div class="message_box info">
      <h2>Info</h2>
      <p>There are currently no objects in the container {{container_name}}.  You can upload a new object from the <a href='{% url dash_objects_upload request.user.tenant container_name %}'>Object Upload Page &gt;&gt;</a></p>
    </div>
  {% endif %}
  <a class="action_link large-rounded" href="{% url dash_objects_upload request.user.tenant container_name %}">Upload New Object &gt;&gt;</a>

{% endblock %}
