{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% include "_page_header.html" with title="Copy Object" %}
{% endblock page_header %}

{% block dash_main %}
  <h3 class="container_name"><span>Container:</span> {{container_name}}</h3>

  <div class="dash_block wide form">
    <div class="left">
      <h3>Copy Object: '{{object_name}}'</h3>
      {% include '_copy_object.html' with form=copy_form greeting="HI" %}
      <h3><a href="{% url dash_objects request.user.tenant container_name %}">&lt;&lt; Return to objects list</a></h3>
    </div>

    <div class="right">
      <h3>Description:</h3>
      <p>You may make a new copy of an existing object to store in this or another container.</p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>

{% endblock %}


