{% extends 'dash_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="keypairs" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block headerjs %}
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $(".dash_block .left h3").hide()
      $("form input[type='submit']").click(function(e){
        $("form").hide("fast")
        $(".dash_block h3").show("fast")
        console.log($(this).parent().submit());
        e.preventDefault()
      })
    })
  </script>
{% endblock %}


{% block main %}
  <div id='page_header'>
    <h2><span>Compute:</span> Keypairs </h2>
    <p class='desc'><span>&mdash;</span> Manage keypairs.</p>
  </div>

  {% include "_messages.html" %}

  
  <div class="main_content">
    <div class="dash_block wide form">
      <div class='title_block'> 
        <h3>Create Keypair</h3> 
      </div> 
      <div class="left">
        <h3>Your private key is being downloaded.</h3>
        {% include '_keypair_form.html' with form=create_form %}
        <h3><a href="{% url dash_keypairs request.user.tenant %}"><< Return to keypairs list</a></h3>
      </div>

      <div class="right">
        <h3>Description:</h3>
        <p>Keypairs are ssh credentials which are injected into images when they are launched. Creating a new key pair registers the public key and downloads the private key (a pem file).</p>
        <p>Protect and use the key as a normal private key.</p>
      </div>
    </div>
  </div>
{% endblock %}