{% extends "base.html" %}
{% load django_openstack_tags %}

{% block headercss %}
{% endblock %}
{% block pageclass %}home{% endblock %}

{% block title %} - Cloud Computing{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Welcome to the {% site_branding %} Dashboard</h2>
    <p>Through the {% site_branding %} Dashboard you can manage your cloud
      through a crisp, clean, and easy to use interface.
      {% if not request.user.is_authenticated%}To get started
      <a href="{% url registration_register %}">register</a> or sign in below.{% endif %}
    </p>
  </div>

  {% if request.user.is_authenticated %}
  <div id="projects" class="block">
    <h3>Your Projects</h3>
    <ul>
      {% for project in projects %}
      <li class="project {% cycle 'odd' 'even' %}">
        <a id="lnk_project_{{ project.projectname }}" href="{% url nova_project project.projectname %}">
          {{ project.projectname|capfirst }}
          <span class="data">{{ project.description|capfirst }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="home_block">
    <h3>OpenStack Resources</h3>
    <ul>
      <li><a href="http://openstack.org" target="_blank">OpenStack.org</a></li>
      <li><a href="http://wiki.openstack.org/OpenStackDashboard" target="_blank">OpenStack Dashboard Wiki</a></li>
      <li><a href="https://launchpad.net/openstack-dashboard" target="_blank">OpenStack Dashboard Launchpad Repository</a></li>
    </ul>
  </div>

  {% else %}
    <div id="home_login" class="block">
      <h3>Sign In</h3>
      <form action="{% url auth_login %}" method="post">
        {% csrf_token %}
        <fieldset>
          {% if form.errors %}
          <p class="error">Your username and password didn't match. Please try again.</p>
          {% endif %}
          <label for="username">Username:</label><input id="username" type="text" name="username" />
          <label for="password">Password:</label><input id="password" type="password" name="password" />
          <input type="hidden" name="next" value="/" />
          <div class="button">
            <input id="home_login_btn" type="submit" value="Sign In">
            <span id="forgot_password"><a id="forgot_password_link" href="{% url auth_password_reset %}">Forgot Password?</a></span>
          </div>
        </fieldset>
      </form>
    </div>
    {% if not request.user.is_authenticated %}
      <div class="home_block">
        <h3>Don't have an account?</h3><br/>
        <a id="lnk_register" href="{% url registration_register %}">Register</a>
      </div>
    {% endif %}
    <div class="home_block">
      <h3>OpenStack Resources</h3>
      <ul>
        <li><a href="http://openstack.org" target="_blank">OpenStack.org</a></li>
        <li><a href="http://wiki.openstack.org/OpenStackDashboard" target="_blank">OpenStack Dashboard Wiki</a></li>
        <li><a href="https://launchpad.net/openstack-dashboard" target="_blank">OpenStack Dashboard Launchpad Repository</a></li>
      </ul>
    </div>
  {% endif %}
{% endblock %}
