{% extends 'base.html' %}
{%load i18n%}

{# pleasant landing page if not logged in #}
{# redirected to overview if logged in #}

{% block sidebar %}
  <div id="sidebar" class="empty-sidebar"></div>
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>Compute:</span>{% trans "Login"%}</h2>
    <p class='desc'><span>&mdash;</span>{% trans "Login to OpenStack via Keystone auth."%}</p>
  </div>
  <div class='main_content'>

  {% include "_messages.html" %}

  <div class="dash_block" id="login_wrapper">
    <div class='table_title narrow'>
      <h3>{% trans "Login"%}</h3>
    </div>
    {% include '_login.html' %}
  </div>
{% endblock %}
