{% extends "base.html" %}
{% load i18n %}

{% block title %} - {% trans "Permission Denied"%}{% endblock %}

{% block content %}
  <div id="right_content">
    <div id="page_head">
      <h2 id="page_heading">{% trans "Permission Denied"%}</h2>
      <p id="page_description">{% trans "You do not have permission to view the requested page."%}</p>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div id="sidebar">
    <ul id="navigation">
      {% block nav_home %}
      <li><h3><a href="{% url index %}">Home</a></h3></li>
      {% endblock %}

      {% block nav_projects %}
      <li><h3><a href="{% url index %}">Projects</a></h3></li>
      {% endblock %}
    </ul>
  </div> <!-- end sidebar -->
{% endblock %}
