{% load i18n %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login</title>
    <link href='{{ STATIC_URL }}dashboard/css/style.css' media='screen' rel='stylesheet' />
  </head>
  <body id="standalone">
    <div id="login_wrapper">
      <div class='large-rounded' id='login'>
        <h3>{% trans "Log-in to tenant" %}: <i>{{ to_tenant }}</i></h3>
        <br/>
        {% include '_login.html' %}
        <ul id='alternate_links'>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
