{% extends "syspanel_base.html" %}

{# shows usage for an individual tenant #}

{% block sidebar %}
  {% with current_sidebar="tenant" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>System Panel:</span> Tenant Overview</h2>
    <p class='desc'><span>&mdash;</span>View/Edit Tenant Memberships</p>
  </div>
  <div class='main_content'>

    {% include "_messages.html" %}

    <div id="usage">
      <div class='table_title wide'>
        <h3>Users for {{tenant_id}}</h3>
        <div class='search'>
          <form action='' method='post'>
            <fieldset>
              <label for='table_search'>Search</label>
              <input id='table_search' name='search' type='text' value='' />
            </fieldset>
          </form>
        </div>
      </div>

      <table class="wide">
        <tr id='headings'>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        <tbody class='main'>
          {% for user in users %}
          <tr class="{% cycle 'odd' 'even' %}">
              <td>{{user.id}}</td>
              <td>{{user.email}}</td>
              <td id="actions">
                <ul>
                  <li>{% include "_remove_tenant_user.html" with form=remove_user_form %}</li>
                </ul>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
