{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="floatingips" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url syspanel_floating_ips as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Floating IPs" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block syspanel_main %}
  {% if floating_ips %}
    {% include '_syspanel_floating_ips_list.html' %}
  {% else %}
    <div class="message_box info">
      <h2>Info</h2>
      <p>There are currently no floating ips.</p>
    </div>
  {% endif %}
{% endblock %}
