{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="users" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_title %}Update Users{% endblock %}

{% block syspanel_main %}
  <div class="dash_block wide form">
    {% include 'django_openstack/syspanel/_update_user_form.html' %}

    <div class="right">
      <h3>Description:</h3>
      <p>From here you can edit users by changing their usernames, emails, passwords, and tenants.</p>
    </div>
  </div>
{% endblock %}
