{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="users" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url syspanel_users as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Users" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block syspanel_main %}

    <table class="wide">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Default Tenant</th>
        <th>Options</th>
      </tr>
      {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{user.id}}{% if not user.enabled %} (disabled){% endif %}</td>
          <td>{{user.email}}</td>
          <td>{{user.tenantId}}</td>
          <td id="actions">
            <ul>
              <li class="form">{% include "_user_enable_disable.html" with form=user_enable_disable_form %}</li>
              <li class="form">{% include "_user_delete.html" with form=user_delete_form %}</li>
              <li><a href="{% url syspanel_users_update user.id %}">Edit</a></li>
            </ul>                
          </td> 
        </tr>
      {% endfor %} 
    </table>                       
    <a id="user_create_link" class="action_link large-rounded" href="{% url syspanel_users_create %}">Create New User </a>
  </div>


{% endblock %}
