{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="flavors" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_title %}Flavors{% endblock %}
{% block refresh_link %}{% url syspanel_flavors %}{% endblock refresh_link %}

{% block syspanel_main %}
  {% include "_syspanel_flavor_list.html" %}
  <a id="flavor_create_link" class="action_link large-rounded" href="{% url syspanel_flavors_create %}">Create New Flavor </a>
{% endblock %}
