{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="quotas" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url syspanel_quotas as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Default Quotas" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block syspanel_main %}
  <table class="wide">
    <tr>
      <th>Quota Name</th>
      <th>Limit</th>
    </tr>
    {% for name,value in quotas.items %}
      <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
