{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="services" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
    <div id='page_header'>
      <h2><span>System Panel:</span> Services</h2>
      <p class='desc'><span>&mdash;</span> Create, Edit, Upload, and Delete Services.</p>
    </div>
    {% include "_messages.html" %}
    <div class="main_content">
      <div class='table_title wide'>
        <h3>Services</h3>
        <a class="refresh" href="{% url syspanel_services %}">Refresh List</a>
        <div class='search'>
          <form action='' method='post'>
            <fieldset>
              <label for='table_search'>Search</label>
              <input id='table_search' name='search' type='text' value='' />
            </fieldset>
          </form>
        </div>
      </div>
      {% include "_syspanel_service_list.html" %}
    </div>
{% endblock %}

