{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="instances" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>System Panel:</span> Instances</h2>
    <p class='desc'><span>&mdash;</span> View all running instances other than VPNs.</p>
  </div>

  {% include "_messages.html" %}

  <div class='main_content'>
    {% if instances %}
      <div class='table_title wide'>
        <h3>Instances</h3>

        <a class="refresh" href="{% url syspanel_instances %}">Refresh List</a>

        <div class='search'>
          <form action='' method='post'>
            <fieldset>
              <label for='table_search'>Search</label>
              <input id='table_search' name='search' type='text' value='' />
            </fieldset>
          </form>
        </div>
      </div>

      {% include '_syspanel_instance_list.html' %}

    {% else %}
      <div class="status_box info">
        <h2>Info</h2>
        <p>There are currently no instances.  You can launch an instance from the  <a href='{% url dash_images request.user.tenant %}'>Images Page.</a></p>
      </div>
    {% endif %}
  </div>
{% endblock %}
