{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="tenants" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_title %}Create Tenant{% endblock %}

{% block syspanel_main %}
  <div class="dash_block wide form">
    {% include 'django_openstack/syspanel/_create_tenant_form.html' %}

    <div class="right">
      <h3>Description:</h3>
      <p>From here you can create a new tenant (aka project) to organize users.</p>
    </div>
  </div>
{% endblock %}




