{% extends 'admin_base.html' %}
{# launch an instance based on image #}
{# standard nav, sidebar, launch form in main #}

{% block sidebar %}
  {% with current_section="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
  <div id='page_header'>
    <h2><span>Compute:</span> Upload Image</h2>
    <p class='desc'><span>&mdash;</span> Images are virtual machines used to create Instances.</p>
  </div>

  <div class="main_content">
    <div class="dash_block wide form">
      <div class='title_block'>
        <h3>Upload Image</h3>
      </div>

      {% include '_upload.html' %}

      <div class="right">
        <h3>Description:</h3>
        <p>From here you can name and upload a new server image to use throughout your cloud.</p>
      </div>
    </div>
  </div>
{% endblock %}
