{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url syspanel_images as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Images" refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block syspanel_main %}
  {% include "_syspanel_image_list.html" %}
{% endblock %}
