{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="users" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_title %}Users{% endblock %}
{% block refresh_link %}{% url syspanel_users %}{% endblock refresh_link %}

{% block syspanel_main %}

    <table class="wide">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Default Tenant</th>
        <th>Options</th>
      </tr>
      {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.tenantId}}</td>
          <td id="actions">
            <ul>
              <li>{% include "_user_delete.html" with form=user_delete_form %}</li>
              <li><a href="{% url syspanel_users_update user.id %}">Edit</a></li>
            </ul>                
          </td> 
        </tr>
      {% endfor %} 
    </table>                       
    <a id="user_create_link" class="action_link large-rounded" href="{% url syspanel_users_create %}">Create New User </a>
  </div>


{% endblock %}
