{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="tenants" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  <div id='page_header'>
    <h2>Users for Tenant: <span>{{tenant_id}}</span></h2>
  </div>
{% endblock %}

{% block syspanel_main %}
<div id="usage">

  {% if users %}
    <table class="wide">
      <tr id='headings'>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <tbody class='main'>
        {% for user in users %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td id="actions">
              <ul>
                <li class="form">{% include "_remove_tenant_user.html" with form=remove_user_form %}</li>
              </ul>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="message_box info">
      <h2>Info</h2>
      <p>There are currently no users for this tenant</p>
    </div>
  {% endif %}
  {% if new_users %}
    <h3>Add new users</h3>
    <table class="wide">
      <tr id='headings'>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      <tbody class='main'>
        {% for user in new_users %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{user}}</td>
            <td id="actions">
              <ul>
                <li class="form">{% include "_add_tenant_user.html" with form=add_user_form %}</li>
              </ul>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}






