{% extends 'syspanel_base.html' %}

{% block sidebar %}
  {% with current_sidebar="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% include "_page_header.html" with title="Update Image" %}
{% endblock page_header %}

{% block syspanel_main %}
  <div class="dash_block wide form">
    {% include '_image_form.html' %}

    <div class="right">
      <h3>Description:</h3>
      <p>From here you can modify different properties of an image.</p>
    </div>
  </div>
{% endblock %}
