{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="quotas" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_title %}Default Quotas{% endblock %}
{% block refresh_link %}{% url syspanel_quotas %}{% endblock %}

{% block syspanel_main %}
  <table class="wide">
    <tr>
      <th>Quota Name</th>
      <th>Limit</th>
    </tr>
    {% for name,value in quotas.items %}
      <tr>
        <td>{{name}}</td>
        <td>{{value}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
