{% extends 'syspanel_base.html' %}
{# list of user's instances #}
{# standard nav, sidebar, list of instances in main #}

{% block sidebar %}
  {% with current_sidebar="flavors" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block main %}
  <div id='page_header'>
   <h2><span>System Panel:</span> Flavors</h2>
   <p class='desc'><span>&mdash;</span> Create, Edit and Delete Flavors.</p>
  </div>
`
  {% include "_messages.html" %}
  <div class="main_content">
      <div class='table_title wide'>
        <h3>Flavors</h3>
        <a class="refresh" title="Refresh" href="{% url syspanel_flavors %}">Refresh List</a>
        <div class='search'>
          <form action='' method='post'>
            <fieldset>
              <label for='table_search'>Search</label>
              <input id='table_search' name='search' type='text' value='' />
            </fieldset>
          </form>
        </div>
      </div>

    {% include "_syspanel_flavor_list.html" %}

    <a id="flavor_create_link" href="{% url syspanel_flavors_create %}">Create New Flavor &gt;&gt;</a>


{% endblock %}
