{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}import_keypair_form{% endblock %}
{% block form_action %}{% url horizon:nova:access_and_security:keypairs:import %}{% endblock %}

{% block modal-header %}{% trans "Import Keypair" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Keypairs are ssh credentials which are injected into images when they are launched. Creating a new key pair registers the public key and downloads the private key (a .pem file)." %}</p>
    <p>{% trans "Protect and use the key as you would any normal ssh private key." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn primary pull-right" type="submit" value="{% trans "Import Keypair" %}" />
  <a href="{% url horizon:nova:access_and_security:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
