{% load i18n %}

{% block pre_login %}
<form id="" class="ng-pristine ng-valid ng-scope"
      method="POST"
      action=""
      autocomplete="off"
      ng-controller="hzLoginController">
  {% csrf_token %}
{% endblock %}

  <div class="panel panel-default">

    <div class="panel-heading">
    {% block login_header %}
      <h3 class="login-title">
        {% trans 'Change password' %}
      </h3>
    {% endblock %}
    </div>

    <div class="panel-body">
    {% block login_body %}
      {% comment %}
        These fake fields are required to prevent Chrome v34+ from autofilling form.
      {% endcomment %}
      {% if HORIZON_CONFIG.password_autocomplete != "on" %}
        <div class="fake_credentials" style="display: none">
          <input type="text" name="fake_email" value="" />
          <input type="password" name="fake_password" value="" />
        </div>
      {%endif%}
      <fieldset hz-login-finder>
        {% if request.COOKIES.logout_reason %}
          {% if request.COOKIES.logout_status == "success" %}
            <div class="form-group clearfix error help-block alert alert-success" id="logout_reason">
          {% else %}
            <div class="form-group clearfix error help-block alert alert-danger" id="logout_reason">
          {% endif %}
              <p>{{ request.COOKIES.logout_reason }}</p>
            </div>
        {% endif %}
        {% include "horizon/common/_form_fields.html" %}
      </fieldset>
    {% endblock %}
    </div>

    <div class="panel-footer">
      {% block login_footer %}
        <button id="changeBtn" type="submit" class="btn btn-primary pull-right">
          <span>{% trans "Change" %}</span>
        </button>
        <div class="clearfix"></div>
      {% endblock %}
    </div>
  </div>

{% block post_login%}
</form>
{% endblock %}
