{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}openrc_download_form{% endblock %}
{% block form_action %}{% url horizon:settings:project:index %}{% endblock %}

{% block modal_id %}language_settings_modal{% endblock %}
{% block modal-header %}{% trans "OpenStack API" %}{% endblock %}

{% block modal-body %}
<div>
    {{ endpoints.render }}
</div>
<div>
    <h3>{% trans "Download OpenStack RC File" %}</h3>
    <hr />
</div>
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans 'Download the RC file for the selected project, then type "source openrc" in the terminal to configure your environment to communicate with OpenStack.' %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <button class="btn btn-primary pull-right always-enabled" type="submit">{% trans "Download RC File" %}</button>
    {% if hide %}<a href="{% url horizon:settings:project:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}
