{% load i18n swift_paging %}

<table id="containers" class="wide">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for container in containers %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ container.name }}</td>
    <td id="actions">
      <ul>
        <li class="form">{% include "django_openstack/dash/containers/_delete.html" with form=delete_form %}</li>
        <li><a href="{% url dash_objects request.user.tenant_id container.name %}">{% trans "List Objects" %}</a></li>
        <li><a href="{% url dash_objects_upload request.user.tenant_id container.name %}">{% trans "Upload Object"%}</a></li>
      </ul>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">{% object_paging containers %}</td>
    </tr>
  </tfoot>
</table>
