{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_images request.user.tenant_id as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Containers") refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  {% include 'django_openstack/dash/containers/_list.html' %}
  <a class="action_link large-rounded" href="{% url dash_containers_create request.user.tenant_id %}">{% trans "Create New Container"%} &gt;&gt;</a>
{% endblock %}
