{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_class %}{{ block.super }} horizontal {% if show_attach %}split_half{% else %} no_split{% endif %}{% endblock %}

{% block modal-body %}
  {% if show_attach %}
    <h3>{% trans "Attach To Instance" %}</h3>
    <fieldset>
      {% include "horizon/common/_form_fields.html" %}
    </fieldset>
  {% endif %}
{% endblock %}

{% block modal-footer %}
    {% if show_attach %}
        <input class="btn btn-primary pull-right" type="submit" value="{% trans "Attach Volume" %}" />
    {% endif %}
    <a href="{% url 'horizon:project:volumes:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
