# Set up globals
globals:
  angular: false

extends: openstack

# Most environment options are not explicitly enabled or disabled, only
# included here for completeness' sake. They are commented out, because the
# global updates.py script would otherwise override them during a global
# requirements synchronization.
#
# Individual projects should choose which platforms they deploy to.

env:
  # browser global variables.
  browser: true

  # Adds all of the Jasmine testing global variables for version 1.3 and 2.0.
  jasmine: true


# Below we adjust rules specific to horizon's usage of openstack's linting
# rules, and its own plugin inclusions.
rules:

  #############################################################################
  # Angular Plugin Customization
  #############################################################################

  angular/ng_controller_as_vm:
    - 1
    - "ctrl"

  # Remove after migrating to angular 1.4 or later.
  angular/ng_no_cookiestore:
    - 1