*.pyc
*.swp
.environment_version
.selenium_log
.coverage
.noseids
coverage.xml
pep8.txt
pylint.txt
reports
horizon/horizon.egg-info
.horizon-venv
openstack-dashboard/local/dashboard_openstack.sqlite3
openstack-dashboard/local/local_settings.py
docs/build/
docs/source/sourcecode
