*.pyc
*.swp
.environment_version
.selenium_log
.coverage
coverage.xml
pep8.txt
pylint.txt
reports
horizon/.installed.cfg
horizon/bin
horizon/develop-eggs/
horizon/downloads/
horizon/eggs/
horizon/htmlcov
horizon/launchpad
horizon/parts/
horizon/django_nova.egg-info
horizon/horizon.egg-info
horizon/django_openstack.egg-info
django-nova-syspanel/src/django_nova_syspanel.egg-info
openstack-dashboard/.dashboard-venv
openstack-dashboard/local/dashboard_openstack.sqlite3
openstack-dashboard/local/local_settings.py
docs/build/
docs/source/sourcecode
