*.pyc
*.swp
.coverage
coverage.xml
pep8.txt
pylint.txt
reports
django-openstack/.installed.cfg
django-openstack/bin
django-openstack/develop-eggs/
django-openstack/downloads/
django-openstack/eggs/
django-openstack/htmlcov
django-openstack/launchpad
django-openstack/parts/
django-openstack/django_nova.egg-info
django-openstack/django_openstack.egg-info
django-nova-syspanel/src/django_nova_syspanel.egg-info
openstack-dashboard/.dashboard-venv
openstack-dashboard/local/dashboard_openstack.sqlite3
openstack-dashboard/local/local_settings.py
