recursive-include doc *.py *.rst *.scss *.js *.html *.conf *.jpg *.gif *.png
recursive-include horizon *.html *.scss *.js *.csv *.template *.tmpl *.mo *.po
recursive-include openstack_dashboard *.html *.js *.scss *.mo *.po *.example *.eot *.svg *.ttf *.woff *.png *.ico *.wsgi *.gif *.csv *.template
recursive-include tools *.py *.sh

include AUTHORS
include ChangeLog
include LICENSE
include manage.py
include README.rst
include tox.ini
include doc/source/_templates/.placeholder
include requirements.txt
include test-requirements.txt

exclude openstack_dashboard/local/local_settings.py
