# Horizon Core Requirements
Django>=1.4,<1.7
django_compressor>=1.4
django_openstack_auth>=1.1.4
django_pyscss>=1.0.1  # BSD License (2 clause)
eventlet>=0.13.0
httplib2>=0.7.5
iso8601>=0.1.9
kombu>=2.4.8
# Horizon Utility Requirements
# for SECURE_KEY generation
lockfile>=0.8
netaddr>=0.7.6
pbr>=0.6,!=0.7,<1.0
pyscss>=1.2.0  # MIT License
python-ceilometerclient>=1.0.6
python-cinderclient>=1.0.7
python-glanceclient>=0.13.1
python-heatclient>=0.2.9
python-keystoneclient>=0.9.0
python-neutronclient>=2.3.5,<3
python-novaclient>=2.17.0
python-saharaclient>=0.6.0
python-swiftclient>=2.0.2
python-troveclient>=1.0.4
pytz>=2010h
six>=1.7.0
xstatic>=1.0.0
xstatic-jquery>=1.10.2.1
