coverage>=3.6
django-nose
docutils==0.9.1
hacking>=0.8.0,<0.9
mox>=0.5.3
nose
nose-exclude
nosehtmloutput>=0.0.3
nosexcover
openstack.nose_plugin>=0.7
oslosphinx
selenium
sphinx>=1.1.2,<1.2
testtools>=0.9.34
