@mixin modal-header{
    padding: 0px;
    margin-bottom: 15px;
    h3{
        color: $brand-secundary;
        font-family: $corporate-font-family-sans-serif-Regular;
        margin-top: 0;
        margin-bottom: 10px;
    }
}