@mixin well{
    min-height: 20px;
    padding: 15px 19px;
    margin-bottom: 20px;
    background-color: #FFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $border-color;
}