{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2 class="page_heading">NASA Nebula System Panel</h2>

<div class="block">
  <h3 class="half-heading">{% trans "Manage Instances</h3>
	<p>{% trans "View all running instances other than VPNs. Schedule instances for	reboot or termination. Download logs." %}</p>
  <a class="more" href="{% url syspanel_instances %}" >Manage Instances &rarr;</a>
</div>

<div class="block">
  <h3 class="half-heading">Manage Volumes</h3>
  <p>{% trans "View all volumes. See size, status, and mount point. Detach and destroy volumes." %}</p>
  <a class="more" href="{% url syspanel_volumes %}" >Manage Volumes &rarr;</a>
</div>

<div class="block">
  <h3 class="half-heading">Manage VPN</h3>
	<p>{% trans "View all projects VPN status. Schedule launch, termination, and reboot. Send credentials." %}</p>
  <a class="more" href="{% url syspanel_vpns %}" >Manage VPN &rarr;</a>
</div>

<div class="block">
  <h3 class="half-heading">Cloud View</h3>
	<p>{% trans "View servers that participate in your cloud.  See statistics about	running services and served objects." %}</p>
  <a class="more" href="{% url syspanel_cloudview %}" >Cloud View &rarr;</a>
</div>

<div class="block">
  <h3 class="half-heading">Security</h3>
	<p>{% trans "Perform operations to deal with rogue users, limit or prevent compromise, and deal with external threats." %}</p>
  <a class="more" href="{% url syspanel_security %}" >Security &rarr;</a>
</div>

{# <div class="block"> #}
{#   <h3 class="half-heading">Resource Monitors</h3> #}
{#   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec venenatis, libero ac auctor laoreet, nunc dolor volutpat purus, sit amet posuere turpis diam sit amet tellus. Praesent nec pede. </p> #}
{#   <a class="more" href="#" >Resource Monitors &rarr;</a> #}
{# </div> #}
{% endblock %}
