{% extends "base-sidebar.html" %}
{% load i18n %}

{% block headerjs %}
{{ block.super }}
{% endblock %}

{# % block region %}
  <div id="region_selector">
    <span id="project_name"><strong>Project:</strong> {{ project.projectname }}</span>

    <form id="frm_region" method="post" action="{% url region_change %}">
      {% csrf_token %}
      <fieldset>
        <input name="redirect_url" type="hidden" value="{{ request.get_full_path }}" />
        <noscript>
          <input id="btn_region_change" type="submit" value="Change" />
        </noscript>

        <div id="region_form">
          <label for="sel_region">Region: </label>
          <select id="sel_region" name="region">
            {% for region in regions %}
              <option{% if region.name == current_region.name %} selected{% endif %}>
                {{ region.name }}
              </option>
            {% endfor %}
          </select>
        </div>

      </fieldset>
    </form>
  </div>
{% endblock % #}

{% block nav_projects %}
      <li>
        <h3 class="active"><a href="{% url index %}">Projects</a></h3>
        <div id="projects">
          {% for t in tenants %}
            <div id="{{ t.id }}" class="project{% if t.id == tenant.id %} active{% endif %}">
              <h4>
                <a class="project_link" href="{% url nova_tenant t.id %}">{{ t.id }}</a>
              </h4>
              {% if tenant.id == t.id %}
                <ul>
                  <li {% if t.id == tenant.id and sidebar_selected == "instances" %}class="active"{% endif %}>
                    <a id="lnk_instances_{{t.id}}" href="{% url nova_instances t.id %}">Instances</a>
                  </li>
                  <li {% if t.id == tenant.id and sidebar_selected == "images" %}class="active"{% endif %}>
                    <a id="lnk_images_{{t.id}}" href="{% url nova_images t.id %}">Images</a>
                  </li>
                  <!--<li {% if t.id == tenant.id and sidebar_selected == "volumes" %}class="active"{% endif %}>-->
                  <!--  <a id="lnk_volumes_{{t.id}}" href="{#% url nova_volumes t.id %#}">Volumes</a>-->
                  </li>
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        </li>
{% endblock %}

{% block footerjs %}
{{ block.super }}
<script type="text/javascript">
  $(function() {
    $('#sel_region').change(function() {
      $('#frm_region').submit();
    });
  });
</script>
{% endblock %}
