{% load sidebar_modules %}
{%load i18n%}

<div id='sidebar'>
  <h3>{% trans "Manage Compute"%}</h3>
  <ul class='sub_nav'>
    <li><a {% if current_sidebar == "overview" %} class="active" {% endif %} href="{% url dash_overview %}">{% trans "Overview"%}</a></li>
    <li><a {% if current_sidebar == "instances" %} class="active" {% endif %} href="{% url dash_instances request.user.tenant_id %}">{% trans "Instances"%}</a></li>
    <li><a {% if current_sidebar == "images" %} class="active" {% endif %} href="{% url dash_images request.user.tenant_id %}">{% trans "Images"%}</a></li>
    <li><a {% if current_sidebar == "snapshots" %} class="active" {% endif %} href="{% url dash_snapshots request.user.tenant_id %}">{% trans "Snapshots"%}</a></li>
    <li><a {% if current_sidebar == "keypairs" %} class="active" {% endif %} href="{% url dash_keypairs request.user.tenant_id %}">{% trans "Keypairs"%}</a></li>
    <li><a {% if current_sidebar == "floatingips" %} class="active" {% endif %} href="{% url dash_floating_ips request.user.tenant_id %}">{% trans "Floating IPs"%}</a></li>
    <li><a {% if current_sidebar == "security_groups" %} class="active" {% endif %} href="{% url dash_security_groups request.user.tenant_id %}">{% trans "Security Groups"%}</a></li>
    <li><a {% if current_sidebar == "volumes" %} class="active" {% endif %} href="{% url dash_volumes request.user.tenant_id %}">{% trans "Volumes"%}</a></li>
    {% if quantum_configured %}
      <li><a {% if current_sidebar == "networks" %} class="active" {% endif %} href="{% url dash_networks request.user.tenant_id %}">{% trans "Networks"%}</a></li>
    {% endif %}
  </ul>
  {% if object_store_configured %}
  <h3>{% trans "Manage Object Store"%}</h3>
  <ul class='sub_nav'>
    <li><a {% if current_sidebar == "containers" %} class="active" {% endif %} href="{% url dash_containers request.user.tenant_id %}">{% trans "Containers"%}</a></li>
  </ul>
  {% endif %}

  {% dash_sidebar_modules request %}

</div>
