{% extends "base.html" %}
{% load i18n %}

{% block headerjs %}

  <link rel="stylesheet" href="/media/systempanel/css/flexigrid.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="/media/systempanel/js/flexigrid.pack.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">

    $(function(){
      $("table").flexigrid({
        height: "auto"
      });
    })
  </script>
{% endblock %}

{% block breadcrumb %}{{ block.super }}<li><a href="{% url syspanel_volumes %}">Volumes</a></li>{% endblock %}

{% block content %}
  <div id="page_description">
    <h2 class="page_heading">{% trans "Manage Volumes" %}</h2>
		<p>{% trans "View all volumes. See size, status, and mount point. Detach and destroy volumes." %}</p>
  </div>

  <table>
    <tr>
      <th>Volume ID</th>
      <th>Size</th>
      <th>Status</th>
      <th>Device</th>
      <th>Operations</th>
    </tr>
    
    {% for volume in volumes %}
      <tr class="odd">
        <td class="odd">{{volume.id}}</td>
        <td>{{volume.size}}GB</td>
        <td class="odd">
          {% if volume.attach_data.status != None %}
            Attached to Instance: {{volume.instance}}
          {% else %}
            {{volume.status_str}}
          {% endif %}
	      </td>
        <td>{{volume.attach_data.device}}</td>
				<td class="odd">
					{% if volume.attach_data.status == None %}
						<a href="{% url syspanel_delete_volume volume.id %}">Destroy</a></td>
					{% else %}
						<a href="{% url syspanel_detach_volume volume.id %}">Detach</a></td>
					{% endif %}
      </tr>
      
    {% endfor %}
  </table>
{% endblock %}
