[ng-controller="LaunchInstanceSecurityGroupsCtrl as ctrl"] {
  .table-rsp.security-group-details {
    background: none;

    td {
      background: none !important;
      padding: 15px !important;
    }

  }
}
