<!--
  Detail-row:
  Contains detailed information on this item.
  Can be toggled using the chevron button.
  Ensure colspan is greater or equal to number of column-headers.
-->

<td class="detail" colspan="100">
  <dl class="dl-horizontal">

    <dt ng-if="user.domain_id"><translate>Domain ID</translate></dt>
    <dd ng-if="user.domain_id">{$ user.domain_id $}</dd>

    <dt><translate>Project ID</translate></dt>
    <dd>{$ user.tenantId || user.default_project_id $}</dd>

    <dt><translate>User Name</translate></dt>
    <dd>{$ user.name $}</dd>

    <dt><translate>Email</translate></dt>
    <dd>{$ user.email || '--' $}</dd>

    <dt><translate>User ID</translate></dt>
    <dd>{$ user.id $}</dd>

    <dt><translate>Enabled</translate></dt>
    <dd>{$ user.enabled | yesno $}</dd>

  </dl>
</td>
