<!--
  Table-row-action-column:
  Actions taken here applies to a single item/row.
-->

<action-list dropdown>

  <action
    button-type="split-button"
    action-classes="'btn btn-default btn-sm'"
    callback="actions.edit.open" item="user">
      <translate>Edit</translate>
  </action>

  <menu>
    <action
      button-type="menu-item"
      callback="actions.password.open" item="user">
        <translate>Change Password</translate>
    </action>

    <action
      ng-if="user.id !== table.userSession.id"
      button-type="menu-item"
      callback="actions.enable.toggle" item="user">
        <translate ng-show="user.enabled">Disable</translate>
        <translate ng-hide="user.enabled">Enable</translate>
    </action>

    <action
      ng-if="user.id !== table.userSession.id"
      button-type="menu-item"
      action-classes="'text-danger'"
      callback="actions.deleted.singleDelete" item="user">
        <translate>Delete</translate>
    </action>
  </menu>

</action-list>
