{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}edit_flavor_form{% endblock %}
{% block form_action %}{% url horizon:admin:flavors:edit flavor_id %}{% endblock %}

{% block modal_id %}edit_flavor_modal{% endblock %}
{% block modal-header %}{% trans "Edit Flavor" %}{% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description" %}:</h3>
  <p>{% trans "From here you can alter the sizing of the current flavor." %}</p>
  <p>{% trans "Note: this will not affect the resources allocated to any existing instances using this flavor." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Save" %}" />
  <a href="{% url horizon:admin:flavors:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
