{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_network_form{% endblock %}
{% block form_action %}{% url horizon:nova:networks:create %}{% endblock %}

{% block modal-header %}Create Network{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Networks provide layer 2 connectivity to your instances." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn primary pull-right" type="submit" value="{% trans "Create Network" %}" />
    <a href="{% url horizon:nova:networks:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
