{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}attach_port_form{% endblock %}
{% block form_action %}{% url horizon:nova:networks:port_attach network port %}{% endblock %}

{% block modal-header %}Attach Port{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <p>{% blocktrans %}Select an interface from the list on the left to attach it to this port.{% endblocktrans %}</p>
    <p>{% blocktrans %}Only interfaces that are not connected to any existing port are shown.{% endblocktrans %}</p>
    <p>{% blocktrans %}If you want to reconnect a connected interface, please detach it first.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input type="submit" class='btn small primary create' value="{% trans "Attach Port" %}" />
    <a href="{% url horizon:nova:networks:detail network %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
