{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_port_form{% endblock %}
{% block form_action %}{% url horizon:nova:networks:port_create network_id %}{% endblock %}

{% block modal-header %}Create Port{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Networks provide layer 2 connectivity to your instances." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input type="submit" class='btn small primary create' value="{% trans "Create Port" %}" />
  <a href="{% url horizon:nova:networks:detail network_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
