{% extends 'nova/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="networks" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "horizon/common/_page_header.html" with title=_("Create Network") %}
{% endblock page_header %}

{% block dash_main %}
  <div id="update_instance_modal" class="modal static_page">
    <div class="modal-header">
      <h3>Create Network</h3>
    </div>
    <div class="modal-body">
      <div class="left">
        {% include 'nova/networks/_create.html' with form=network_form %}
      </div>
      <div class="right">
        <h3>{% trans "Description:"%}</h3>
        <p>{% trans "Networks provide layer 2 connectivity to your instances."%}</p>
      </div>
    </div>
  </div>

{% endblock %}

