{% extends "django_openstack/nova/base.html" %}
{% load i18n %}
{% block title %} - {{ project.projectname|capfirst }} Overview{% endblock %}
{% block pageclass %}overview{% endblock %}

{% block headerjs %}
{{ block.super }}
<script type="text/javascript" src="/media/dashboard/js/django-admin.multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="/media/dashboard/css/django-admin-widgets.css" />

<script type="text/javascript" charset="utf-8">
  $(function(){
    $.each($("#user_edit form select"), function () {
     // "Locations" can be any label you want
     SelectFilter.init(this.id, "Roles", 0, "/media/admin/");
    });
  })
</script>
{% endblock %}


{% block content %}
  <div id="page_head">
    <h2 id="page_heading">{% trans "Edit User Roles" %}</h2>
    <p id="page_description">{% trans "From here you can edit multiple user roles." %}</p>
  </div>

  {% include "django_openstack/_messages.html" %}
  <div id="user_edit" class="dash_block first">
    {% if user %}

      <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="module aligned {{ fieldset.classes }}">
            <h3 id="edit_{{ user.username }}">{% trans "Edit Roles for User:" %}  {{ user.username }}</h3>
            <div class="form-row">
              <h4 class="label">User</h4>
              <span id="user_name">{{ user.username }}</span>
            </div>
            <input type="hidden" name="username" value="{{ user.id }}" id="username" />

            <label for="id_role_from">Roles</label>
              {% for field in form.visible_fields %}
                  <div class="form-row">
                      {{ field.errors }}
                      {{ field }}
                      {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
                  </div>
              {% endfor %}
              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
          </fieldset>
          <div class="cancel">
            <a href="{% url nova_project_manage project.projectname %}">Cancel</a>
          </div>
          <div class="submit-row">
            <input type="submit" value="Save" class="default" />
            {# <a href="#" class="deletelink">{% trans "Remove User" %}</a> #}
          </div>
      </form>
    {% else %}
    <div class="ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <p>
          <span class="ui-icon ui-icon-info"></span>
          {% trans "No users are currently associated with this project." %}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

