{% extends "django_openstack/nova/base.html" %}
{% load i18n %}
{% block title %} - {{ project.projectname|capfirst }} Overview{% endblock %}
{% block pageclass %}overview{% endblock %}

{% block content %}
  <div id="page_head">
    <h2 id="page_heading">{% trans "Manage Users and Roles" %}</h2>
    <p id="page_description">{% trans "From here you can manage users and roles." %}</p>
  </div>

  {% include "django_openstack/_messages.html" %}

  <div id="users">
    {% if members %}
    <table style="width: 100%">
      <tr>
        <th>Username</th>
        <th>Project Roles</th>
        <th>Global Roles</th>
        <th>&nbsp;</th>
      </tr>
      {% for member in members %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ member.memberId }} {% if project.projectManagerId == member.memberId %}(<em>project manager</em>){% endif %}</td>
        <td>{{ member.project_roles }}</td>
        <td>{{ member.global_roles }}</td>
        <td class="odd">
          <a href="{% url nova_project_edit_user project.projectname member.memberId%}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <p>
          <span class="ui-icon ui-icon-info"></span>
          {% trans "No users are currently associated with this project." %}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

