{% load i18n %}

<div class="detail tab-content">
  <dl class="dl-horizontal">
    {% if domain_id %}
      <dt>{% trans "Domain ID" %}</dt>
      <dd>{{ domain_id }}</dd>
    {% endif %}
    {% if domain_name %}
      <dt>{% trans "Domain Name" %}</dt>
      <dd>{{ domain_name }}</dd>
    {% endif %}
    <dt>{% trans "User Name" %}</dt>
    <dd>{{ user.name }}</dd>
    {% if description %}
      <dt>{% trans "Description" %}</dt>
      <dd>{{ description }}</dd>
    {% endif %}
    <dt>{% trans "ID" %}</dt>
    <dd>{{ user.id }}</dd>
    <dt>{% trans "Email" %}</dt>
    <dd>{{ user.email|default:_("None") }}</dd>
    <dt>{% trans "Enabled" %}</dt>
    <dd>{{ user.enabled|yesno|capfirst }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ user.project_id }}</dd>
    {% if tenant_name %}
      <dt>{% trans "Project Name" %}</dt>
      <dd>{{ tenant_name }}</dd>
    {% endif %}
  </dl>
</div>

