@import "/bootstrap/scss/bootstrap/mixins/_vendor-prefixes.scss";

@import "components/breadcrumb_header";
@import "components/context_selection";
@import "components/messages";
@import "components/navbar";
@import "components/pie_charts";
@import "components/quota";
@import "components/sidebar";
@import "components/tables";
@import "components/table_actions";

.navbar-brand {
  // The 114 is a legacy value to push the context-menu over
  padding-right: 114px;
}

// TODO(hurgleburgler): This seems awfully global ... and strange
// need to look into why we are actually doing this.
form label {
  text-align: left;
  color: $gray;
  font-weight: bold;
  display: inline-block;
}

/* Details page overrides */
.detail {
  ul {
    padding-left: 0;
  }

  dt, dd {
    text-align: left;
    line-height: $line-height-small;
  }
}

.help-icon {
  color: $gray;
}

// Note (hurgleburgler) : the combination of display: table-cell, width: 100%
// and max-width has strange consequences in CSS.  This is required to make sure
// that the width does not stretch beyond 100%.  Please see the answer to
// this question for specifics:
//   http://stackoverflow.com/questions/26292408/why-does-this-behave-the-way-it-does-with-max-width-0
#content_body {
  max-width: 0;
}