@import '/bootstrap/scss/bootstrap/mixins/_vendor-prefixes.scss';

@import 'components/breadcrumb_header';
@import 'components/context_selection';
@import 'components/pie_charts';
@import 'components/quota';
@import 'components/sidebar';
@import 'components/tables';
@import 'components/table_actions';

.navbar-brand {
  // The 114 is a legacy value to push the context-menu over
  padding-right: 114px;
}

// TODO(hurgleburgler): This seems awfully global ... and strange
// need to look into why we are actually doing this.
form label {
  text-align: left;
  color: $gray;
  font-weight: bold;
  display: inline-block;
}

/* Details page overrides */
.detail {
  ul {
    padding-left: 0;
  }

  dt, dd {
    text-align: left;
    line-height: $line-height-small;
  }
}
