{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Administrators" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_domain_page_header.html" with title="Administrators" %}
{% endblock page_header %}

{% block main %}
<div id="administrators-page">
  <div class="panel panel-default members">
    <div class="panel-heading"> 
      {{ members_table.render_table_actions }}
    </div>
    <div class="panel-body">
      {{ members_table.render}}
    </div>
  </div>
</div>
{% endblock %}

