{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Administrators" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" %}
{% endblock page_header %}

{% block main %}
<div id="administrators">
<div class="list-group">
  <a class="list-group-item" href="/idm/organizations/3d09b3878724434eaea93f2e066c7bed/">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href="/idm/organizations/3d09b3878724434eaea93f2e066c7bed/">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href="/idm/organizations/3d09b3878724434eaea93f2e066c7bed/">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
  <a class="list-group-item" href=".">
    <div class="avatar">
      <img id="Prueba Silvia-avatar" src="/static/dashboard/img/logos/small/user.png">
    </div>
    <div class="data">
    Name of user
    </div>
  </a>
</div>
{% endblock %}
