{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrastyle %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{{settings.MEDIA_URL}}/stylesheets/extra_admin.css" />
{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Home</a>&nbsp;&rsaquo;&nbsp;Projects</div>{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="module filtered" id="changelist">
            <div id="toolbartable">
                {% block innercontent %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
