{% extends "admin/django_openstack/nova/project/base_projects.html" %}
{% load admin_modify adminmedia i18n %}

{% block extrahead %}
{{ block.super }}
{{ media }}

<script type="text/javascript" src="/media/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/media/dashboard/js/django-admin.multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="/media/dashboard/css/django-admin-widgets.css" />

<script type="text/javascript" charset="utf-8">
  django.jQuery(function(){
    django.jQuery.each(django.jQuery(".edit_user_roles select[multiple]"), function () {
     // "Locations" can be any label you want
     SelectFilter.init(this.id, "Roles", 0, "/media/admin/");
    });
  })
</script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">Home</a> &rsaquo;
  <a href="{% url admin_projects %}">Projects</a> &rsaquo;
  <a href="{% url admin_project project.projectname %}">{{project.projectname}}</a> &rsaquo;
    User
    {{form.ProjectUserForm}}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
    {% endblock %}
    <form class="edit_user_roles" action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <fieldset class="module aligned {{ fieldset.classes }}">
          <div class="form-row">
            <label for="id_username">Username</label>
            <span>{{user.username}}</span>
          </div>
          <input type="hidden" name="username" value="{{user.id}}" id="username" />
            {% for field in form.visible_fields %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                    {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
                </div>
            {% endfor %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}

        </fieldset>
        <div class="submit-row">
          {% if project.projectManagerId != user.username %}
            <p class="deletelink-box">
              <a href="{% url admin_project_delete_user project.projectname user.username %}" class="deletelink">{% trans "Remove User From Project" %}</a>
            </p>
          {% endif %}

          <input type="submit" value="Save" class="default" />
        </div>

    </form>
</div>
{% endblock %}
