{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block title %}Send project credentials{{ block.super }}{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media }}

<script type="text/javascript" src="/media/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/media/dashboard/js/django-admin.multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="/media/dashboard/css/django-admin-widgets.css" />

<script type="text/javascript" charset="utf-8">
  django.jQuery(function(){
    django.jQuery.each(django.jQuery("#send_credentials select"), function () {
     // "Locations" can be any label you want
     SelectFilter.init(this.id, "Users", 0, "/media/admin/");
    });
  })
</script>

<style type="text/css" media="screen">
  .errorlist, .successlist {background:#fcc;border:1px solid #c66;color:#600;list-style:none; padding: 10px 5px; margin: 25px 0 25px 0; float: left; width: 100%;}
  .successlist {background: #CBFBD7; color: #1E5024; border-color: #6FBA5C;}
</style>
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">Home</a> &rsaquo;
  <a href="{% url admin_projects %}">Projects</a> &rsaquo;
  <a href="{% url admin_project project.projectname %}">{{project.projectname}}</a> &rsaquo;
    Send Credentials
</div>
{% endblock %}

{% block content %}
<div id="content-main">


  {% if not success %}
  <h1>{% trans "Send Credentials"%}</h1>
  <h3>{%blocktrans with proj=project.projectname%}"Select which users you would like to send credentials to from the '{{proj}}' project."{%endblocktrans%}</h3>
  {% else %}
    <h1>{% trans "Credentials sent successfully"%}</h1>
  {% endif %}

  <div class="status">
    {% if error %}
      <span class="errorlist">{{ error }}</span>
    {% endif %}

    {% if success %}
      <span class="successlist">{{ success }}</span>
    {% endif %}

  </div>

  {% if not success %}
    <form id="send_credentials" action="{% url admin_project_sendcredentials project.projectname %}" method="post">
      {% csrf_token %}
      <fieldset class="module aligned">

                {% for field in form.visible_fields %}
                    <div class="form-row">
                        {{ field.errors }}
                        {{ field }}
                        {% if field.field.help_text %}<p class="help">{{ field.field.help_text|safe }}</p>{% endif %}
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                {{ field }}
                {% endfor %}

            </fieldset>
            <div class="submit-row">
              <input style="margin-top:20px; margin-left:10px;" type="submit" value="{% trans "Send Credentials"%}" />
            </div>

        </form>
  {% endif %}
</div>
{% endblock %}
