{% extends "admin/django_openstack/nova/project/base_projects.html" %}
{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">Home</a> &rsaquo;
  Global Roles
</div>
{% endblock %}

{% block innercontent %}
   <h1>Select a User</h1>

    <table cellspacing="0" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Username</th>
                <th>Global Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    {{user.username}}
                </td>
                <td>
                    (temporarily hidden)
                    {#user.roles#}
                </td>
                <td>
                    <a href="{%url admin_user_roles user.username %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
