{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}{{ block.super }}<li><a href="{% url syspanel_cloudview %}">Cloud View</a></li>{% endblock %}

{% block content %}
  <div id="page_description">
    <h2 class="page_heading">Cloud View</h2>
		<p>{% trans "View servers that participate in your cloud.  See statistics about running services and served objects." %}</p>
  </div>
          

  <table>
    <tr>
      <th>Hostname</th>
      <th>Compute Status</th>
      <th>Instance Count</th>
      <th>Volume Status</th>
      <th>Volume Count</th>
    </tr>

    {% for node in nodes %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td class="odd {% if node.compute == "Down" and node.volume == "Down"  %}down{% else %}{% if node.compute == "Down" and node.volume == "Up" or node.compute == "Up" and node.volume == "Down" %}caution{% else %}running{% endif %}{% endif %}">{{node.hostname}}</td>
        {% if node.compute %}
          <td class="{% if node.compute == "Down" %}down{% else %}running{% endif %}">{{node.compute}}</td>
          <td class="odd {% if node.compute == "Down" %}down{% else %}running{% endif %}">{{node.instance_count}}</td>
        {% else %}
          <td class="unavailable">N/A</td>
          <td class="unavailable">N/A</td>
        {% endif %}
        
        {% if node.volume %}
          <td class="{% if node.volume == "Down" %}down{% else %}running{% endif %}">{{node.volume}}</td>
          <td class="odd {% if node.volume == "Down" %}down{% else %}running{% endif %}">{{node.volume_count}}</td>
        {% else %}
          <td class="unavailable">N/A</td>
          <td class="unavailable">N/A</td>
        {% endif %}
        
      </tr>
    {% endfor %}
  </table>

{% endblock %}
