#recaptcha_area, #recaptcha_table {
width: 100% !important;
}

.recaptchatable {
line-height: auto !important;
}

.recaptchatable * {
margin: inherit !important;
padding: inherit !important;
border: inherit !important;
font-family: verdana;
font-size: inherit !important;
color: inherit !important;
position: inherit !important;
top: inherit !important;
left: inherit !important;
right: inherit !important;
bottom: inherit !important;
}

.recaptchatable .recaptcha_r1_c1,
.recaptchatable .recaptcha_r2_c1,
.recaptchatable .recaptcha_r2_c2,
.recaptchatable .recaptcha_r3_c1,
.recaptchatable .recaptcha_r3_c2,
.recaptchatable .recaptcha_r3_c3,
.recaptchatable .recaptcha_r4_c1,
.recaptchatable .recaptcha_r4_c2,
.recaptchatable .recaptcha_r4_c4,
.recaptchatable .recaptcha_r7_c1,
.recaptchatable .recaptcha_r8_c1{
background: transparent;
width: inherit !important; 
height: inherit !important;
}

.recaptchatable .recaptcha_image_cell center {
height: 57px;
}

.recaptchatable #recaptcha_image {
position: relative !important;
margin: inherit !important;
width: 100% !important;
}

.recaptchatable #recaptcha_image #recaptcha_challenge_image {
display: block;
}

.recaptchatable .recaptcha_image_cell center img{
height: 57px;
width: 100%;
}

.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th{
display: inline-flex;
}

.recaptcha_input_area {
position: relative!important;
width: 153px!important;
height: 45px!important;
margin-left: 0!important;
margin-right: 0!important;
background: none!important;
}

#recaptcha_reload {
margin-top: 13px !important;
}