{% load i18n %}

<h3>{% trans "Instance VNC Console" %}</h3>
{% if vnc_url %}
<p class='alert alert-info'>{% blocktrans %}If VNC console is not responding to keyboard input: click the grey status bar below.{% endblocktrans %}</p>
<iframe src="{{ vnc_url }}" width="720" height="430"></iframe>
{% else %}
<p class='alert alert-error'>{% blocktrans %}VNC console is currently unavailabe. Please try again later.{% endblocktrans %}
<a class='btn btn-mini' href="{% url horizon:nova:instances_and_volumes:instances:detail instance_id %}">{% trans "Reload" %}</a></p>
{% endif %}