{% load i18n sizeformat %}

<h3>{% trans "Instance Overview" %}</h3>

<div class="status row-fluid">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <ul>
    <li><strong>{% trans "Name" %}:</strong>&nbsp;{{ instance.name }}</li>
    <li><strong>{% trans "ID" %}:</strong>&nbsp;{{ instance.id }}</li>
  </ul>
</div>

<div class="status row-fluid">
  <h4>{% trans "Status" %}</h4>
  <hr class="header_rule">
  <ul>
    <li><strong>{% trans "Status" %}:</strong>&nbsp;{{ instance.status|title }}</li>
  </ul>
</div>

<div class="specs row-fluid">
  <h4>{% trans "Specs" %}</h4>
  <hr class="header_rule">
  <ul>
    <li><strong>{% trans "RAM" %}:</strong>&nbsp;{{ instance.full_flavor.ram|mbformat }}</li>
    <li><strong>{% trans "VCPUs" %}:</strong>&nbsp;{{ instance.full_flavor.vcpus }} {% trans "VCPU" %}</li>
    <li><strong>{% trans "Disk" %}:</strong>&nbsp;{{ instance.full_flavor.disk }}{% trans "GB" %}</li>
  </ul>
</div>

<div class="addresses row-fluid">
  <h4>{% trans "IP Addresses" %}</h4>
  <hr class="header_rule">
  <ul>
    {% for network, ip_list in instance.addresses.items %}
    <li><strong>{{ network|title }}:</strong>
      {% for ip in ip_list %}
        {% if not forloop.last %}{{ ip.addr}},&nbsp;{% else %}{{ip.addr}}{% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>

<div class="security_groups row-fluid">
  <h4>{% trans "Security Groups" %}</h4>
  <hr class="header_rule">
  {% for group in instance.security_groups %}
  <ul>
    <li>
      <strong>{{ group.name }}</strong>
      <ul>
      {% for rule in group.rules %}
        <li>{{ rule }}</li>
        {% empty %}
        <li><em>{% trans "No rules defined." %}</em></li>
      {% endfor %}
      </ul>
    </li>
  </ul>
  {% endfor %}
</div>

<div class="meta row-fluid">
  <h4>{% trans "Meta" %}</h4>
  <hr class="header_rule">
  <ul>
    <li><strong>{% trans "Key name" %}:</strong>&nbsp;{% if instance.key_name %}{{ instance.key_name }}{% else %}<em>None</em>{% endif %}</li>
    {% url horizon:nova:images_and_snapshots:images:detail instance.image.id as image_url %}
    <li><strong>{% trans "Image Name" %}:</strong>&nbsp;<a href="{{ image_url }}">{{ instance.image_name }}</a></li>
  </ul>
</div>

<div class="volumes row-fluid">
  <h4>{% trans "Volumes" %}</h4>
  <hr class="header_rule">
  <ul>
    {% if instance.volumes %}
      {% for volume in instance.volumes %}
      <li>
        <strong>{% trans "Volume" %}:</strong>
        <a href="{% url horizon:nova:instances_and_volumes:volumes:detail volume.volume_id %}">
          {{ volume.volume_id }}&nbsp;({{ volume.device }})
        </a>
      </li>
      {% endfor %}
    {% else %}
    <li><em>{% trans "No volumes attached." %}</em></li>
    {% endif %}
  </ul>
</div>
