{% load i18n %}

<div class="clearfix">
  <h3 class="pull-left">Instance Console Log</h3>
  <p class="pull-right">
    {% url horizon:nova:instances_and_volumes:instances:console instance.id as console_url %}
    <a class="btn btn-small" target="_blank" href="{{ console_url }}">{% trans "View Full Log" %}</a>
  </p>

  <form id="tail_length" action="{% url horizon:nova:instances_and_volumes:instances:console instance.id %}" class="span3 pull-right">
    <label class="pull-left log-length" for="tail_length_select">Log Length</label>
    <input class="span1" type="text" name="length" value="35" />
    <input value="Go" class="btn-small btn-primary" type="submit" />
  </form>
</div>

<pre class="logs">
  {{ console_log }}
</pre>
