{% extends 'nova/base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Instance Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title="Instance Detail: "|add:instance.name %}
{% endblock page_header %}

{% block dash_main %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" charset="utf-8">
    $(document).on('submit', '#tail_length', function (evt) {
      horizon.instances.user_decided_length = true;
      horizon.instances.getConsoleLog(this, true);

      evt.preventDefault();
    });

    setInterval(function() {
      horizon.instances.getConsoleLog($("#tail_length"), false);
    }, 10000);
  </script>
{% endblock %}
