<footer class="footer-main">
    <div class="footer-content">
        <div class="container-fluid">
		    2015 &copy; 
		    <a href="http://www.fi-ware.org/">FIWARE</a>.

		    The use of FIWARE Lab services is subject to the acceptance of the
		    <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions">Terms and Conditions</a>,

		    <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy</a>
		      and 
		    <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy">Cookies Policy</a>.
	    </div>
  </div>
</footer>