{% load branding i18n %}
{% load url from future %}
<header class="navbar navbar-fixed-top">
  <nav class="container-fluid">

    <div class="logo-header">
      <a href="{%site_branding_link%}" class="brand">
        <img alt="FIWARE" class="fiware-logo" src="{{ STATIC_URL }}dashboard/img/Fi-lab.png">
      </a>
    </div>

    <div class="dropdown mobile">
      <a href="#" class='dropdown-toggle' data-toggle="dropdown">
        <i class="fa fa-chevron-down"></i> 
      </a>

      <ul class="dropdown-menu dropdown-menu-header">
        <li class="">
          <a href="http://cloud.lab.fi-ware.org/">
            Cloud
          </a>
        </li>
        <li class="">
          <a href="http://store.lab.fi-ware.org/">
            Store
          </a>
        </li>
        <li class="">
          <a href="http://mashup.lab.fi-ware.org/">
            Mashup
          </a>
        </li>
        <li class="">
          <a href="https://data.lab.fi-ware.org">
            Data
          </a>
        </li>
        <li class="active">
          <a href="#">
            Account
          </a>
        </li>
        <li class="">
          <a href="http://help.lab.fi-ware.org/">
            Help&info
          </a>
        </li>
      </ul>
    </div>


    <ul class="oil-portal hidden-phone">
      <li class="">
        <a href="http://cloud.lab.fi-ware.org/">
          Cloud
        </a>
      </li>
      <li class="">
        <a href="http://store.lab.fi-ware.org/">
          Store
        </a>
      </li>
      <li class="">
        <a href="http://mashup.lab.fi-ware.org/">
          Mashup
        </a>
      </li>
      <li class="">
        <a href="https://data.lab.fi-ware.org">
          Data
        </a>
      </li>
      <li class="active">
        <a href="#">
          Account
        </a>
      </li>
      <li class="">
        <a href="http://help.lab.fi-ware.org/">
          Help&info
        </a>
      </li>
    </ul>

    <div id="user_info" class="pull-right">
      <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex='1'>
       
 <!--        <a class="dropdown-toggle" data-toggle="dropdown" href="#profile_editor_switcher">
          -->
        
        {% if request.user.username %}
         <a  href="{% url 'horizon:idm:users:detail' request.user.id %}">
         {% if request.user.img_small %} 
            <img alt="User" src="{{ MEDIA_URL }}{{ request.user.img_small }}">
         {% else %}
           <img alt="User" src="{{ STATIC_URL }}dashboard/img/logos/small/user.png">
         {% endif %}
         {{ request.user.username }}   
         </a>

         <a class="dropdown-toggle" data-toggle="dropdown" href="#profile_editor_switch">
          <i class="fa fa-angle-double-down"></i>
        </a>
        <ul id="editor_list" class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="{% url 'horizon:settings:multisettings:index' %}">   {% trans "Settings" %}
            </a>
          </li>
          {% if HORIZON_CONFIG.help_url %}
          <!--<li><a href="{{ HORIZON_CONFIG.help_url }}" target="_new">{% trans "Help" %}</a></li>-->
          <li class="divider"></li>
          <li>
            <a href="#" onclick="Fiware.signOut('account'); return false">
              {% trans "Sign Out" %}
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
        {% include "horizon/common/_region_selector.html" %}
      </div>
    </div>
  </nav> 
</header>