{% comment %} jQuery and Plugins {% endcomment %}
<script src='{{ STATIC_URL }}horizon/js/jquery/jquery.min.js' type='text/javascript' charset="utf-8"></script>
<script src='{{ STATIC_URL }}horizon/js/json2.js' type='text/javascript' charset="utf-8"></script>
<script src='{{ STATIC_URL }}horizon/js/jquery/jquery.cookie.js' type='text/javascript' charset="utf-8"></script>
<script src='{{ STATIC_URL }}horizon/js/jquery/jquery.quicksearch.js' type='text/javascript' charset="utf-8"></script>
<script src='{{ STATIC_URL }}horizon/js/jquery/jquery.example.min.js' type='text/javascript' charset="utf-8"></script>
<script src="{{ STATIC_URL }}horizon/js/jquery/jquery.table-sorter.js" type="text/javascript" charset="utf-8"></script>

{% comment %} Bootstrap {% endcomment %}
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

{% comment %} Hogan.js (client-side templating) {% endcomment %}
<script src="{{ STATIC_URL }}horizon/js/hogan-1.0.5.min.js" type="text/javascript" charset='utf-8'></script>

{% comment %} Horizon-specific JS {% endcomment %}
<script src='{{ STATIC_URL }}horizon/js/horizon.js' type='text/javascript' charset='utf-8'></script>
{% include "horizon/client_side/conf.html" %}
<script src='{{ STATIC_URL }}horizon/js/tabs.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/plugins.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/tables.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/modals.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/forms.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/form_examples.js' type='text/javascript' charset='utf-8'></script>

{% comment %} Client-side Templates {% endcomment %}
{% include "horizon/client_side/templates.html" %}
