{% load branding i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    {% include "horizon/_custom_meta.html" %}
    <title>FIWARE Lab - {% block title %}{% endblock %}</title>
    {% comment %} Load CSS sheets before Javascript  {% endcomment %}
    {% block css %}
      {% include "_stylesheets.html" %}
    {% endblock %}
    {% include "horizon/_conf.html" %}
    {% include "horizon/client_side/_script_loader.html" %}
    {% include "_custom_head_js.html" %}
    
    <link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/icons/favicon.ico"/>
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}dashboard/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}dashboard/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}dashboard/img/icons/apple-touch-icon-114x114.png">
     
  </head>
  <body id="{% block body_id %}{% endblock %}" ng-app='hz'>
    {% block content %}
      
      {% include "_header.html" %}

      <div id="container" class="container-fluid wrap">
        <div id='main_content' class="wrap">
          {% block sidebar %}
            {% include 'horizon/common/_sidebar.html' %}
          {% endblock %}
          <div id='content_body'>
            {% block page_header %}{% endblock %}
            {% block main %}{% endblock %}
          </div>
        </div>
      </div>
      {% include "horizon/_messages.html" %}
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block js %}
      {% include "horizon/_scripts.html" %}
    {% endblock %}
    <div id="modal_wrapper"></div>
    {% include '_footer.html' %}

    <script type="text/javascript">
      $(document).ready(function(){
        $('textarea').autosize();    
      });
    </script>


  </body>
</html>
