<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>s
<body>
<div style=" background-color: #F1F1F2; position: static; min-height: 300px; width: 700px; display: block;">
  <div style="width: 700px; height: 70px; display: block; background: url(header-mail.png'); background-repeat: no-repeat;">
  </div>

<!--notification-->
  <div style="width: 670px; height: auto; padding: 30px 15px 10px; margin: 15px 15px 30px; display: inline-block; color: #666; background-color: #FFF; font-size: 13px; font-family: "verdana, sans-serif";">
    <span style="display: block;margin-bottom: 10px;">
        Dear FIWARE Lab user,
    </span>
    <span>
        {{ content }}
    </span>
    <!--footer-->
    <div style="padding:7px 0px 0; font-size: 11px; border-top:1px solid #ccc; margin-top: 30px;">
      2014 © <a href="http://www.fi-ware.org/">FIWARE</a>.
    </div>
  </div>
</div>
</body>
</html>

