{%load i18n%}
<table id="security_groups" class="wide">
  <tr>
    <th>{% trans "Name"%}</th>
    <th>{% trans "Description"%}</th>
    <th>{% trans "Actions"%}</th>
  </tr>
  {% for security_group in security_groups %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ security_group.name }}</td>
    <td>{{ security_group.description }}</td>
    <td id="actions">
      <ul>
        <li><a href="{% url dash_security_groups_edit_rules request.user.tenant_id security_group.id %}">{% trans "Edit Rules"%}</a></li>
        {% if security_group.name != 'default' %}
          <li class="form">{% include "django_openstack/dash/security_groups/_delete.html" with form=delete_form %}</li>
        {% endif %}
      </ul>
    </td>
  </tr>
  {% endfor %}
</table>
