#content {background:url(/media/dashboard/img/content_shadow.png) no-repeat center top;}
.sphboard_categories  {
border-collapse:collapse;
width:100%;
}
.sphboard_categories td, .sphboard_categories th {
border:1px solid gray;
padding:5px;
}
.sphboard_categories th {
white-space:nowrap;
}
.sphboard_threadcount, .sphboard_postcount, .sphboard_threadcount, .sphboard_viewcount {
text-align:right;
width:5%;
}
.sphboard_latestpost {
width:40%;
}
.sphboard_postform {
border:1px solid black;
border-collapse:collapse;
width:80%;
}
.sphboard_postform td, .sphboard_postform th {
padding:3px;
}
.sphboard_postform input[type="text"], .sphboard_postform textarea {
width:80%;
}
.sph_captcha input[type="text"] {
width:100px;
}
.sphboard_post_list {
border-collapse:collapse;
width:100%;
}
.sphboard_post_list td, .sphboard_post_list th {
border:1px solid gray;
padding:5px;
}
.sphboard_post_list td.sphboard_post_subject {
height:10px;
}
.sphboard_post_list td.sphboard_post_body {
min-height:100px;
vertical-align:top;
}
.sphboard_post_list td.sphboard_post_authorinfo {
padding-top:2em;
vertical-align:top;
width:150px;
}
dl.sphboard_post_authorinfo_details dt {
font-weight:bold;
margin:0;
padding:0;
}
dl.sphboard_post_authorinfo_details dt:after {
content:": ";
}
dl.sphboard_post_authorinfo_details dd {
margin:0 0 0 1em;
padding:0;
}
.sphboard_thread_list {
border-collapse:collapse;
width:100%;
}
.sphboard_mainhead {
background-color:#0066CC;
color:white;
}
.sphboard_thread_list td, .sphboard_thread_list th {
border:1px solid gray;
padding:5px;
}
.sphboard_post_body .signature {
border-top:1px solid gray;
color:gray;
display:block;
font-size:smaller;
margin-top:20px;
padding-left:10px;
}
.sphboard_post_body .annotation_not_hidden {
border-bottom:1px solid gray;
font-size:smaller;
}
.sphboard_post_body .attachments {
border-top:1px solid black;
font-size:smaller;
margin-top:20px;
padding-left:10px;
}
.sphboard_post_body .attachments:before {
content:attr(title);
}
.sphboard {
width:100%;
}
.sphboard textarea {
width:100%;
}

.sphboard label {
margin-left:20px;
width:auto;
float:none;
}

.sphboard input {
width:100%;
}

.board_previewarea {
border:2px solid gray;
display:none;
max-height:500px;
overflow:scroll;
padding:5px;
visibility:hidden;
}
.board_threadcount {
float:left;
}
.board_pagination {
display:block;
float:right;
}
.board_postdate {
float:left;
}
.board_controls {
float:right;
}
.polls_percent {
white-space:nowrap;
}
.polls_percentbar {
background-color:#CCCCCC;
font-size:5px;
height:10px;
}
.polls_choices {
list-style:none outside none;
}
ul.sphboard_post_summary {
display:block;
list-style-type:none;
margin:0;
padding:0;
}
.sphboard_post_summary li {
border-bottom:1px dotted gray;
display:block;
margin:0;
padding:1em;
}
.sphboard_post_summary li:hover {
background-color:#DDDDFF;
}
.sphboard_post_summary dt {
padding:0;
}
.sphboard_post_summary dd.category {
display:none;
}
.sphboard_post_summary .postdate {
font-size:x-small;
font-weight:bold;
margin-bottom:1em;
}
.sphboard_post_summary .subject {
}
.sphboard_post_summary .body {
max-height:4em;
overflow:hidden;
}
.sphboard_post_summary li:hover .body {
max-height:20em;
}
table.sphlist_threadlist {
border-collapse:collapse;
width:100%;
}
table.sphlist_threadlist th {
font-size:smaller;
}
table.sphlist_threadlist td, table.sphlist_threadlist th {
border:1px solid gray;
padding:5px;
}
.sphlist_threadlist_newpost {
width:20px;
}
td.sphlist_threadlist_views, td.sphlist_threadlist_posts {
text-align:right;
width:5%;
}
th.sphlist_threadlist_views {
white-space:nowrap;
}
div.sortorder_desc:after {
content:"↓";
}
div.sortorder_asc:after {
content:"↑";
}
.sphlist_threadlist_object_count {
float:left;
}
.sphlist_threadlist_pagination {
display:block;
float:right;
}

