h1, h1 a, h1 span { position: relative !important; }
#content_wrap {margin-top: 15px;}
.image_detail, .instance_detail { position: relative; }
td#actions {  padding-bottom: 10px !important; }
td#actions input { width: 80px; }
#edit_image_link:hover { color: #1d77ff; }
input.private { margin-right: -30px !important; margin-left: -17px !important;}
#user_info li { list-style: disc !important; }
input.create, input.attach, input#launch_image { margin-right: 4px !important; }

#edit_image_link {
	margin-left: -180px !important;
	margin-top: 20px !important;
}

