@import url("reset.css");

/* Misc */
body {
  background: #bdd4f9 url(../img/body_bg.png) repeat-x top left;
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 !important;
}

p {
	margin-bottom: 10px;
}
h1{font-size: 26px; color: #333;}
h2{font-size: 22px; color: #333;}
h3{font-size: 18px; color: #333;}
h4{font-size: 14px; color: #333;}

#header h1 a {
  background: url(../img/logo.png) no-repeat top left;
  text-indent: 69px;
  height: 50px;
  display: block;
  color: #fff;
  font-weight: bold;
  float: left;
  padding: 18px 0 0;
  width: 500px;
}

#header h1 a span {
  font-weight: normal;
}

#header h1 a sup {
  color: #ccc;
  font-size: 12px;
  float: right;
  margin-top: -25px;
  margin-right: -10px;
}

a {
  color:#06c; 
  font-weight:bold;
  text-decoration: none;
}
a:hover{ cursor:pointer; text-decoration:underline }

#wrapper {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

#content_wrap {
  float: left;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
/* rounded corners */
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 25px;
  position: relative;
  border-top: 0;
}

/* Header */

#header {
  font-family: "Helvetica Neue", "Helvetica", Arial;
  margin-top: 20px;
	height: 69px;
}

#login {
  float: right;
}

#login a {
  color: #fff;
  font-weight: normal;
}

#user_info a { color: #fff; }
#user_info a:hover { color: #e1e1e1; }

#user_info {
  float: right;
  color: #fff;
  width: 180px;
  height: 50px;
  text-align: left;
}

#login_link {
	text-decoration: underline;
	margin-top: 15px;
	float: left;
	margin-left: 115px;
}

#user_info .user {
  clear: both;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

#user_info .user a {
	font-size: 14px;
}

#user_info img {
  float: left;
  margin-top: 4px;
}

#user_info ul {
  float: left;
  list-style-type: disc;
  font-size: 11px;
  margin-left: 30px;
  line-height: 12px;
}
/* Sidebar */

#sidebar {
  float: left;
  width: 240px;
	background-color: #b0cdeb;
	margin-bottom: 25px;
}

#navigation ol  {
	font-size: 12px;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#navigation li h3 a{
  background: url(../img/nav_bg.png) repeat-x top left;
  text-align: center;
  font-size: 14px;
  height: 31px;
  padding-top: 10px;
  display: block;
  color: #999 !important;
	text-shadow: #252525 0 0 3px;
}

#navigation li h3.active a{
  background-position: 0 -41px;
  color: #fff !important;
}

#navigation li h3 a {
  color: #fff;
}

#projects {
	margin-bottom: 20px;
}
#projects  a {
  color: #416c82;
}


.project h4 a{
  background: #e6e6e6;
  color: #747474 !important;
  padding: 5px 0 5px 10px;
  display: block;
  text-transform: uppercase;
  position: relative;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
	margin: 10px 0;
}

.project h4 a:hover {
	background: #eee;
}

.project.active h4 a:hover {
  background: #7fc1f8;
}
.project.active h4 a {
  background: #689fce;
  border-top: 1px solid #ccd4fa;
  border-bottom: 1px solid #ccd4fa;
	border-color: #4681b2;
	color: #fff !important;
}

.project ul {
  line-height: 23px;
  margin-left: 14px;
  position: relative;
}

.project ul li {
  padding-left: 10px;
}
.project ul li a{
  padding: 5px 5px 5px 10px;
  display: block;
  position: relative;
}

.project ul li a:hover {
  background: #f7f7f7;
}

.project ul li.active a {
  background: #fff;
  border-bottom: 1px solid #999;
  border-left: 1px solid #e1e1e1;
}

/* Content Area */

#content {
  float: left;
  padding: 25px;
  width: 670px;
}

#page_head {
  background: #f1f1f1;
  padding: 20px;
  float: left;
	width: 630px;
}

#page_head p {
	margin-top: 11px;
	font-size: 16px;
	line-height: 21px;
	color: #777;
}

#page_head em {
	color: #444;
}
#page_description {
  font-size: 13px;
}

#page_head {
  margin-bottom: 25px;
}

#content table {
	width: 100%;
	font-size: 12px;
	margin-bottom: 25px;
}
#content th {
  background: url(../img/table_header_bg.png) repeat-x left;
  padding: 5px;
  border-right: 1px solid #ccc;
  color: #fff;
}

#content tr td {
  background: #deeefc;
  text-align: center;
  height: 20px;
  vertical-align: middle;
  padding: 5px;
}

#content tr td.odd {
  background: #edf4ff;
}

#content tr.even .radar_name {
  background: #edf4ff;
}

#content tr.odd td {
  background: #c8deff;
}

#content tr.odd td.odd {
  background: #d2e5ff;
}

#content tr td.image_location {
  width: 60%;
  text-align: left;
}

td#actions {
	width: 200px;
	text-align: center;
}

input[type="submit"], input[type="button"], a.launch, a.console, a.reply, .new_thread a, .edit_btns input {
	background: url(../img/btn_bg.png) top left repeat-x;
	border: 1px solid #95bfff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: #417aa6;
	font-weight: bold;
	height: 30px;
	font-size: 12px;
	margin: 5px;
	float: left;
	display: block;
	padding: 5px;
}

a.console, a.launch, a.reply, .new_thread a   {
	height: 18px !important;
	width: 80% !important;
}

input.delete, input.detach {
	width: 95%;
}

.dash_block input[type="text"] {
	padding: 5px;
	width: 264px;
}

.dash_block input.create, .dash_block input.attach {
	float: right;
	width: 100px;
	margin-right: 9px;
}

.dash_block label {
	font-weight: bold;
	font-size: 14px;
	clear: both;
	display: block;
	margin-top: 10px;
}

.dash_block ul.errorlist, table.form .errorlist {
	background: #fec6c6;
	border: 1px solid #ff8e8e;
	margin-left: -21px;
	padding: 5px;
	margin-bottom: 5px;
}

table.form .errorlist {
	width: 543px;
	margin-left: -5px;
	margin-right: -3px;
}

input[type="submit"]:hover, input[type="button"]:hover, a.launch:hover, a.console:hover, a.reply:hover, .new_thread a:hover  {
  background: url(../img/btn_bg.png) repeat-x left -30px;
}

input[type="submit"]:active, input[type="button"]:active, a.launch:active, a.console:active, a.reply:active, .new_thread a:active {
  background: url(../img/btn_bg.png) repeat-x left -60px;
}

.dash_block {
	float: left;
	width: 267px;
	background-color: #dff2ff;
	border: 1px solid #b1e7ff;
	padding: 20px;
	margin-left: 52px;
	font-size: 12px;
	line-height: 23px;
}

.dash_block.first {
	margin-left: 0;
}

.dash_block h3 {
	background: url(../img/table_header_bg.png) repeat-x 0;
	font-size: 14px;
	padding: 5px 0 5px 10px;
	color: #fff;
	text-shadow: #000 0 0 3px;
	margin-top: -22px;
	margin-left: -20px;
	width: 297px;
	margin-bottom: 11px;
}

.overview #welcome {
	width: 308px;
	float: left;
}

/* Footer */

#footer {  
  clear: both;
	margin-bottom: 50px;
}

.ft_sitemap div{clear:both;margin-bottom:15px;
	width: 400px;
	float: left;
}.ft_sitemap ul{list-style:none;margin-left:0}.ft_sitemap ul li{float:left;font-size:.8em;list-style:none;margin:3px 20px 0 0}

.ft_info{
	font-size:.9em;
	text-align:right; 
	float: right;
	width: 250px;
	margin-top: -65px !imporant;
}

.c7 {
	float: left;
}



#home_login {
	width: 445px;
}

#home_login fieldset {
	margin: 0;
}

#forgot_password {
	font-size: 11px;
	width: 200px;
	display: inline-block;
}
#home_login .error, #home_login .errorlist {
	color: #fff;
	font-size: 14px;
	background: rgba(255,0,0,0.51);
	padding: 5px;
	display: block;
	text-align: center;
	border-top: 1px solid rgba(255,0,0,0.47);
	border-bottom: 1px solid rgba(255,0,0,0.47);
	margin-left: -20px;
	width: 435px;
}
#home_login .errorlist {
	margin-top: -10px;
	margin-bottom: 25px;
	text-align: left;
}

#home_login fieldset {
	width: 404px;
}

#home_login label {
	display: block;
	float: none;
	padding: 0;
	margin: 0 0 5px;
	width: auto;
	text-align: left;
}

#home_login fieldset {
	background: 0;
	padding: 20px;
}

#home_login input {
	height: 25px;
	font-size: 20px;
	margin-bottom: 20px;
	width: 99%;
}
#home_login input[type="submit"] {
	height: 31px;
	background: url(/media/dashboard/img/login_btn.png) top left repeat-x;
	border: 1px solid #206cb5;
	float: left;
	margin: 0 10px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-border-radius: 3px;
	color: #fff;
	font-weight: bold;
	width: 121px;
	font-size: 18px;
	text-shadow: #06416e -1px -1px 2px;
	cursor: pointer;
	clear: both;
}

#home_login input[type="submit"]:hover {
	background-position: center left;
}

#home_login input[type="submit"]:active {
	background-position: bottom left;
}

#home_login.reset h3{
	padding-left: 10px;
	padding-top: 6px;
}

#home_login.reset input[type="submit"]{
	font-size: 12px;
	float: right;
	margin: 0;
}

#home_login div {
	float: right;
	width: 125px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#home_login div a {
	margin: 0;
	padding: 0;
	color: rgba(255,0,4,0.75) !important;
	display: inline;
}
#home_login div a:hover {
	color: rgba(255,0,4,1) !important;

}

.login #home_login.block h3 {
	padding-left: 10px;
	padding-top: 6px;
}


#tab_content {
	float: left;
	margin-left: 25px;
	width: 538px;
}

.block {
	float: left;
	width: 254px;
	margin-right: 30px;
	background-color: #dff2ff;
	border: 1px solid #b1e7ff;
}

.block h3 {
	background: url(/media/dashboard/img/table_header_bg.png) top left repeat-x;
	text-shadow: #4f4f4f 0 1px 2px;
	color: #ebebeb;
	font-size: 14px;
	height: 22px;
	padding: 5px 3px 3px 10px;
}

#content table {
	float: left;
}

#instances a.console, #instances .terminate {
	width: 87px !important;
	float: left;
	margin-top: 0;
	margin-left: 2px;
	margin-bottom: 0;
}

#frm_launch textarea {
	width: 264px;
}

#frm_launch input {
	float: right;
	margin-right: 17px;
	width: 75px;
}

#frm_launch select {
	width: 270px;
}

.ui-state-highlight {
	background: #fcf8d7 !important;
}

.ui-state-highlight.success {
	background: #baffd4 !important;
	border: 1px solid #72df9b !important;
}

.ui-state-error {
	background: #f99 !important;
}

td.detail_wrapper {
	padding: 0 !important;
	text-align: left !important;
	
}
div.image_detail, div.instance_detail {
	background: url(/media/dashboard/img/image_detail.png) top left no-repeat;
	height: 90px;
	margin-left: -10px;
	width: 674px;
	margin-right: -9px;
	padding: 8px 8px 16px;
}

.image_detail_item, .instance_detail_item {
	clear: both;
}
.image_detail .column, .instance_detail .column {
	float: left;
	width: 265px;
}

.image_detail #last.column, .instance_detail #last.column {
	width: 144px;
	float: left;
}
.image_detail .label, .instance_detail .label {
	font-weight: bold;
	width: 85px;
	float: left;
}

.image_detail .data, .instance_detail .data{
	color: #666;
	float: left;
}

.instance_detail #last.column input, .instance_detail #last.column a {
	width: 110px !important;
	text-align: center;
	margin-bottom: 5px;
	font-size: 10px;
	height: 25px !important;
	display: block;
}

.instance_detail #last.column {
	width: 117px;
	float: right;
}
.instance_detail #last.column a {
	padding: 0;
	padding-top: 2px;
	height: 22px !important;
}


#edit_image_link, #edit_instance_link {
	display: block;
	float: left;
	font-size: 10px;
	margin-left: -50px;
	border: 1px solid #e1e1e1;
	padding: 0 5px;
	color: #579aff;
	margin-top: -30px;
}
#edit_image_link:hover {
	border: 1px solid #ccc;
	color: #1d77ff;
}

.instance_detail #last.column #edit_instance_link {
	width: 75px !important;
	float: right;
	border: 0;
	margin-top: 6px;
	margin-right: 20px;
	margin-bottom: 0;
}
.privacy {
	padding: 5px;
	text-transform: uppercase;
	text-align: center;
	float: right;
	width: 102px;
	font-weight: bold;
}

#public.privacy {
	background: #c1e3d0;
	border: 1px solid #78ca91;
	color: #38a74f !important;
}

#private.privacy {
	background: #e3c1c1;
	border: 1px solid #ca7878;
	color: #a63737 !important;
}

.image_detail .launch {
	text-align: center;
	margin-left: 31px;
	margin-top: 15px;
	width: 100px !important;
}

#page_head h2 span {
	text-transform: uppercase;
}

#welcome span {
	text-transform: uppercase;
}

table.form tr td input, table.form tr td textarea {
	width: 98% !important;
}

.edit_btns {
	float: right;
	width: 235px;
	margin-right: -5px;
	margin-top: -15px;
}

.edit_btns input{
	width: 100px;
	float: right;
}

#gov_banner {
	background: #bfe5ff;
	font-size: 10px;
	line-height: 14px;
	padding: 20px;
	border-top: 1px solid;
	border-bottom: 1px solid ;
	margin-top: 10px;
	border-color: #73c6ff;
}

#content.search #page_head {
	width: 630px;
}

.image_detail .delete {
  float: left;
}
.instance_detail .form-terminate input.terminate{
	float: left;
	clear: both;
	height: 20px;
	margin-left: -20px !important;
	margin-top: -20px !important;
}

.image_detail .delete input, #user_edit .deletelink, #update_profile input[type="reset"], .image_detail .image_privacy input, .instance_detail .form-terminate input[type="submit"], .cancel a {
  background: 0;
  border: none;
  color: #FF8885;
  text-decoration: underline;
  margin-top: -10px;
  font-size: 9px;
}

.image_detail .delete input:hover, #user_edit .deletelink:hover, #update_profile input[type="reset"]:hover, .instance_detail .form-terminate input[type="submit"]:hover, .cancel a:hover {
  color: red;
}

.cancel {
  margin-top: 5px;
  float: left;
}
.image_privacy input.public { color: #6fba6f; }
.image_privacy input.public:hover { color: green; }

h3.image_list_heading {
    margin-bottom: 10px;
}

#ami_name {
  font-weight:bold;
}

#user_edit select {
	width: 260px;
}

#user_edit input[type="submit"] {
	float: right;
	width: 80px;
}

#user_edit .deletelink {
	margin-top: 37px;
	display: block;
	float: left;
	margin-left: -15px;
	margin-bottom: -19px;
}

#user_edit {
	width: 628px;
}

#user_edit .form-row {
	margin-bottom: 20px;
	float: left;
}

#user_edit #user_name {
	float: left;
	margin-top: 10px;
}

#user_edit label {
	float: left;
	width: 60px;
}
#user_edit h2 {
	font-size: 11px;
	text-align: left;
	padding-left: 10px;
}

#user_edit h3 {
	width: 658px;
}

#user_edit input {
	width: 219px;
	height: 9px;
	border: 1px solid #ccc;
	margin-left: 7px;
}

#user_edit select.filtered {
	width: 270px;
}

#user_edit input[type="submit"] {
	height: 31px;
	margin-right: 0;
}

.project a.manage_link, .project.active a.manage_link {
	width: 22px;
	height: 20px;
	background: #fff url(../img/gears.png) no-repeat center 4px;
	text-indent: -9999px;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #4681b2;
	float: right;
	margin-top: -40px;
}

.project a.manage_link {
	background-color: #c9c9c9;
	border-left: 1px solid #b7b7b7;
}

.project a.manage_link:hover {
	background-color: #f1f1f1 !important;
	border-left: 1px solid #b7b7b7;
}

.project.active a.manage_link {
	background-color: #5393c9;
}

.project.active a.manage_link:hover {
	background-color: #80afd6 !important;
}

a.manage_link:hover {
	background: url(../img/gears.png) no-repeat center -23px !important;

}

/* Start update profile form */

#update_profile {
	float: left;
}

#update_profile .form_section {
	padding: 11px 10px 10px 20px;
	float: left;
	width: 640px;
}

#update_profile .form_section.even {
	background: #e2eaf8;
}

#update_profile .form_section.odd {
	background: #c4d8f8;
}

#update_profile .form_section label {
	font-weight: bold;
	width: 190px;
	display: block;
	float: left;
	color: #444;
	margin-top: 7px;
}

#update_profile input[type="text"], #update_profile input[type="password"], #update_profile textarea{
	width: 427px;
	border: 1px solid #ccc;
	height: 25px;
	padding-left: 12px;
}

 #update_profile select {
	width: 418px;
	border: 1px solid #ccc;
	margin-left: 27px;
	height: 25px;
}

#update_profile .separator {
	font-size: 18px;
	float: left;
	background: #f1f1f1;
	width: 630px;
	padding: 20px;
	color: #666;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 30px 0 0;
}
	
#update_profile .separator .helper_text {
	display: block;
	font-style: italic;
	color: #999;
	font-size: 12px;
	margin: 5px 0 0;
}

#update_profile .form_section .helper_text {
	display: block;
	font-style: italic;
	color: #575757;
	font-size: 12px;
	width: 180px;
	margin: 5px 0 0;
}
	
#update_profile .edit_btns {
	margin-top: 5px;
	margin-right: 2px;
}

#update_profile input[type="reset"]  {
	margin-top: 6px;
}

#update_profile .errorlist li {
	color: red;
}
/* End update profile form */

/* regions */

#region_selector {
	background: #f1f1f1;
	padding: 10px;
	float: left;
	width: 700px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

span#project_name {
	float: left;
}

#region_form {
	float: right;
	display: block;
}

#region_form label {
	font-weight: bold;
}
#region_form select {
	min-width: 150px;
	padding-left: 10px;
	margin-left: 5px;
}
/* end regions */

/* start notification widgets */

.message {
	float: left;
}
.ui-state-highlight, .ui-state-error {
	font-size: 14px;
	width: 625px;
	float: left;
	padding: 17px 20px;
	min-height: 17px;
	margin-bottom: 25px;
}
.ui-state-highlight p {
	padding-bottom: 0;
	margin: 0;
}

.close {
	float: right;
	cursor: pointer;
}


p .ui-icon {
	float: left;
	margin-right: 10px;
}
/* end of notification widgets */
	

.edit_image input[type="text"], .edit_instance input[type="text"] {
	width: 254px !important;
}

.edit_image input[type="submit"], .edit_instance input[type="submit"] {
	float: right;
	margin-right: 0;
}
.edit_image textarea, .edit_instance textarea{
	width: 262px;
}

#desc.data {
	width: 169px;
	font-size: 10px;
	line-height: 14px;
	height: 50px;
}

.toc {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #86B5EA;
}

#spinner {
	background: url(/media/dashboard/img/spinner.gif) no-repeat;
	float: right;
	width: 24px;
	height: 24px;
	margin-top: -10px;
	margin-right: -10px;
  display: none;
}

#radar_service table, #radar_service td {
	margin: 0 !important;
	padding: 0 !important;
}

#radar #radar_service td {
	margin: 0;
}

 #radar_service table td {
	padding: 5px !important;
}

#radar .radar_name {
	padding: 10px !important;
}

td.status img {
	float: left;
	margin-left: 10px;
}
td.status span.name {
	display: block;
	float: left;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 3px;
}

.home #projects {
	float: left;
	margin: 0 20px 0 0;
	width: 456px;
	
}
.home #projects li {
	border-bottom: 1px solid #bce3ff;
}

.home #projects a	{
	display: block;
	background: url(/media/dashboard/img/server_icon.png) no-repeat 13px 9px;
	font-size: 14px;
	padding-left: 58px;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 100;
	text-shadow: #000000 0 0 0;
}

.home #projects a:hover {
	background-color: #b8e1ff;
	text-decoration: none;
}

.home #projects a:active {
	background-color: #30a9ff;
}

.home span.data {
	color: #0d66a9;
	font-size: 11px;
	display: block;
}



