{% load horizon i18n %}
{% load url from future %}

  {% for dashboard, panel_info in components %}
    {% if user|has_permissions:dashboard %}
      {% if dashboard.supports_tenants and request.user.authorized_tenants or not dashboard.supports_tenants %}
        <h5 class="hidden-xs hidden-sm" {% if current.slug == dashboard.slug %}class="active"{% endif %}>
          {{ dashboard.name }}
        </h5>
        <h5 class="hidden-xs hidden-md hidden-lg">IdM</h5>
        {% if current.slug == dashboard.slug %}
      
        {% else %}
        {% endif %}
        {% for heading, panels in panel_info.iteritems %}
          {% with panels|has_permissions_on_list:user as filtered_panels %}
          {% if filtered_panels %}
            {% if heading %}
            <div><h4><div>{{ heading }}</div></h4>
            {% endif %}
            <ul>
            {% for panel in filtered_panels %}
              <a href="{{ panel.get_absolute_url }}" class="{{ panel.slug }}"><h4 {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="fa"></i><span>{{ panel.name }}</span></h4></a>
            {% endfor %}

            {% if heading %}
              </div>
            {% endif %}
          {% endif %}
          {% endwith %}
        {% endfor %}
        <hr class="hidden-xs">
       
          <a href="." class="notify">
            <h4><i class="fa"></i><span>Notify</span></h4></a>
          </a>
          <a href="." class="administrators">
            <h4><i class="fa"></i><span>Administrators</span></h4></a>
          </a>
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}



