{% load compress %}
{% load url from future %}
{% load datepicker_locale from horizon %}

{% datepicker_locale as DATEPICKER_LOCALE %}

{% include "horizon/_script_i18n.html" %}

{% comment %} Compress jQuery, Angular, Plugins, Bootstrap, Hogan.js and Horizon-specific JS. {% endcomment %}
{% compress js %}
<script type="text/javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
<script src='{{ STATIC_URL }}horizon/lib/angular/angular-cookies.js'></script>
<script src='{{ STATIC_URL }}horizon/lib/angular/angular-sanitize.js'></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/lrdragndrop.js"></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/smart-table.js"></script>

<script src="{{ STATIC_URL }}auth/auth.module.js"></script>
<script src="{{ STATIC_URL }}auth/login/login.module.js"></script>
<script src="{{ STATIC_URL }}auth/login/login.controller.js"></script>
<script src="{{ STATIC_URL }}auth/login/login-finder.directive.js"></script>

<script src='{{ STATIC_URL }}openstack-service-api/openstack-service-api.module.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/cinder.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/glance.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/keystone.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/neutron.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/nova.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/policy.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/security-group.service.js'></script>
<script src='{{ STATIC_URL }}openstack-service-api/settings.service.js'></script>

<script src="{{ STATIC_URL }}horizon/lib/d3.js"></script>

<script src='{{ STATIC_URL }}framework/framework.module.js'></script>

<script src='{{ STATIC_URL }}framework/conf/conf.js'></script>

<script src='{{ STATIC_URL }}framework/util/util.module.js'></script>
<script src='{{ STATIC_URL }}framework/util/bind-scope/bind-scope.js'></script>
<script src='{{ STATIC_URL }}framework/util/filters/filters.js'></script>
<script src='{{ STATIC_URL }}framework/util/http/http.js'></script>
<script src='{{ STATIC_URL }}framework/util/i18n/i18n.js'></script>
<script src='{{ STATIC_URL }}framework/util/validators/validators.js'></script>
<script src='{{ STATIC_URL }}framework/util/workflow/workflow.js'></script>
<script src='{{ STATIC_URL }}framework/util/tech-debt/tech-debt.module.js'></script>
<script src='{{ STATIC_URL }}framework/util/tech-debt/dummy.js'></script>
<script src='{{ STATIC_URL }}framework/util/tech-debt/helper-functions.js'></script>
<script src='{{ STATIC_URL }}framework/util/tech-debt/image-file-on-change.js'></script>
<script src='{{ STATIC_URL }}framework/util/tech-debt/modal-form-update-metadata-ctrl.js'></script>

<script src='{{ STATIC_URL }}framework/widgets/widgets.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/help-panel/help-panel.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/wizard/wizard.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/action-list/action-list.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/action-list/button-tooltip.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/table/table.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/table/basic-table.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/modal/modal.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/modal/modal.controller.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/modal/modal.factory.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/modal-wait-spinner/modal-wait-spinner.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/transfer-table/transfer-table.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/charts/charts.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/charts/chart-tooltip.directive.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/charts/pie-chart.directive.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/metadata-tree/metadata-tree.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/metadata-tree/metadata-tree-service.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/metadata-display/metadata-display.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/magic-search/magic-search.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/toast/toast.module.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/toast/toast.directive.js'></script>
<script src='{{ STATIC_URL }}framework/widgets/toast/toast.factory.js'></script>

<script src='{{ STATIC_URL }}horizon/lib/jquery/jquery.quicksearch.js'></script>
<script src="{{ STATIC_URL }}horizon/lib/jquery/jquery.tablesorter.js"></script>
<script src="{{ STATIC_URL }}horizon/lib/spin.js"></script>
<script src="{{ STATIC_URL }}horizon/lib/spin.jquery.js"></script>
<script src="{{ STATIC_URL }}horizon/lib/jquery-ui/ui/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}horizon/lib/jquery/jquery.bootstrap.wizard.js"></script>

<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script src='{{ STATIC_URL }}horizon/lib/bootstrap_datepicker/bootstrap-datepicker.js'></script>

<script src="{{ STATIC_URL }}horizon/lib/magic_search/magic_search.js"></script>

<script src="{{ STATIC_URL }}horizon/lib/hogan.js"></script>

<script src='{{ STATIC_URL }}horizon/js/horizon.accordion_nav.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.communication.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.datepickers.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.forms.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.formset_table.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.instances.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.messages.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.modals.js'></script>

<script type="text/javascript">
  horizon.modals.MODAL_BACKDROP = "{% firstof HORIZON_CONFIG.modal_backdrop 'static' %}";
</script>
<script src='{{ STATIC_URL }}horizon/js/horizon.quota.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.tables.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.tables_inline_edit.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.tabs.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.templates.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.users.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.membership.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.metering.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.networktopology.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.d3piechart.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.heattop.js'></script>
<script src='{{ STATIC_URL }}horizon/lib/rickshaw.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.d3linechart.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.d3barchart.js'></script>
<script src='{{ STATIC_URL }}horizon/js/horizon.firewalls.js'></script>
<script src='{{ STATIC_URL }}horizon/lib/jsencrypt/jsencrypt.js'></script>

{% for file in HORIZON_CONFIG.js_files %}
    <script src='{{ STATIC_URL }}{{ file }}'></script>
{% endfor %}

{% block custom_js_files %}{% endblock %}
{% endcompress %}

{% comment %} Client-side Templates (These should *not* be inside the "compress" tag.) {% endcomment %}
{% include "horizon/client_side/templates.html" %}

{% comment %}Locale sensitive js needs to be included outisde the "compress" tag{% endcomment %}
{% if DATEPICKER_LOCALE and DATEPICKER_LOCALE != 'en' %}
<script src='{{ STATIC_URL }}horizon/lib/bootstrap_datepicker/locales/bootstrap-datepicker.{{ DATEPICKER_LOCALE }}.js'></script>
{% endif %}

{% comment %}Go!{% endcomment %}
<script>
  // Call init on DOM ready.
  $(document).ready(horizon.init);
</script>
