{% extends 'horizon/common/_workflow.html' %}
{% load i18n %}

{% block modal-footer %}
  {% if workflow.wizard %}
  <div class="row footer-row">
    <a class="btn btn-default cancel">{% trans "Cancel" %}</a>
    <button type="button" class="btn btn-default button-previous">{% trans "&laquo;&nbsp;Back" %}</button>
    <button type="button" class="btn btn-primary button-next">{% trans "Next&nbsp;&raquo;" %}</button>
    <button type="submit" class="btn btn-primary button-final">{{ workflow.finalize_button_name }}</button>
  </div>
  {% else %}
    {% if modal %}<a class="btn btn-default cancel">{% trans "Cancel" %}</a>{% endif %}
    <input class="btn btn-primary" type="submit" value="{{ workflow.finalize_button_name }}" />
  {% endif %}
{% endblock %}
