{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Network Details"%}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-sm-12">
    {% include "project/networks/_detail_overview.html" %}
    <hr>
    <div id="subnets">
      {{ subnets_table.render }}
    </div>
    <div id="ports">
      {{ ports_table.render }}
    </div>
    {% if dhcp_agent_support %}
      <div id="agents">
        {{ agents_table.render }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
