{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Edit the credential's details." %}</p>
  <p>{% blocktrans trimmed %}
    Project limits the scope of the credential. It is is mandatory if the credential type is EC2.
    {% endblocktrans %}</p>
  <p>{% blocktrans trimmed %}
    If the credential type is EC2, credential data has to be <tt>{"access": &lt;access&gt;, "secret": &lt;secret&gt;}</tt>.
    {% endblocktrans %}</p>
{% endblock %}
