{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Usage Overview" %}{% endblock %}

{% block main %}
  {% if monitoring %}
    <div id="monitoring">
      <div class="h4">{% trans "Monitoring:" %} </div>
      <ul class="list-inline" id="external_links">
        {% for link in monitoring %}
          <li><a target="_blank" href="{{ link.1 }}">{{ link.0 }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if simple_tenant_usage_enabled %}
    {% include "horizon/common/_usage_summary.html" %}
    {{ table.render }}
  {% endif %}
{% endblock %}
