@import "/dashboard/scss/mixins";

// This file does a 1-1 mapping of each font-awesome icon in use to
// a corresponding Material Design Icon.

$mdi-font-path: $static_url + "/horizon/lib/mdi/fonts";
@import "/horizon/lib/mdi/scss/materialdesignicons.scss";

.fa {
  @extend .mdi;
  font-size: $mdi-icon-size;
}

$icon-swap: (
  asterisk: 'star',
  ban: 'block-helper',
  caret-down: 'menu-down',
  check: 'check',
  chevron-down: 'chevron-down',
  chevron-left: 'chevron-left',
  chevron-right: 'chevron-right',
  chevron-up: 'chevron-up',
  close: 'close',
  cloud-download: 'cloud-download',
  cloud-upload: 'cloud-upload',
  cog: 'settings',
  desktop: 'desktop-mac',
  download: 'download',
  exchange: 'swap-horizontal',
  exclamation: 'exclamation',
  exclamation-circle: 'alert-circle',
  exclamation-triangle: 'alert',
  eye: 'eye',
  eye-slash: 'eye-off',
  group: 'account-multiple',
  home: 'home',
  link: 'link-variant',
  list-alt: 'view-list',
  minus: 'minus',
  pause: 'pause',
  pencil: 'pencil',
  play: 'play',
  plus: 'plus',
  question-circle: 'help-circle',
  random: 'shuffle',
  remove: 'close',
  search: 'magnify',
  server: 'server',
  share-square-o: 'share',
  sign-out: 'logout',
  sort: 'sort',
  square: 'checkbox-blank',
  square-o: 'checkbox-blank-outline',
  times: 'close',
  times-circle: 'close',
  trash: 'delete',
  trash-o: 'delete',
  th: 'view-module',
  th-large: 'view-module',
  upload: 'upload',
  user: 'account',
  warning: 'alert',
);

@each $fa-icon, $mdi-icon in $icon-swap {
  .fa-#{$fa-icon} {
    @extend .mdi-#{$mdi-icon};
  }
}

.dropdown-toggle > {
  &.btn-lg .fa-caret-down {
    font-size: 1.2em;
  }
  .fa-caret-down {
    @include vertical-center();
  }
}