$sidebar-width: 240px;
$hamburger-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
$sidebar-animation: $hamburger-transition;

$alert-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

$mdi-icon-size: 1.3em;
