{% load i18n sizeformat parse_date %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ ipsecpolicy.name|default:_("None") }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ ipsecpolicy.description|default:_("None") }}</dd>

    <dt>{% trans "ID" %}</dt>
    <dd>{{ ipsecpolicy.id }}</dd>

    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ ipsecpolicy.tenant_id }}</dd>

    <dt>{% trans "Authorization algorithm" %}</dt>
    <dd>{{ ipsecpolicy.auth_algorithm }}</dd>

    <dt>{% trans "Encapsulation mode" %}</dt>
    <dd>{{ ipsecpolicy.encapsulation_mode }}</dd>

    <dt>{% trans "Encryption algorithm" %}</dt>
    <dd>{{ ipsecpolicy.encryption_algorithm }}</dd>

    <dt>{% trans "Lifetime Units" %}</dt>
    <dd>{{ ipsecpolicy.lifetime.units }}</dd>

    <dt>{% trans "Lifetime Value" %}</dt>
    <dd>{{ ipsecpolicy.lifetime.value }}</dd>

    <dt>{% trans "Perfect Forward Secrecy" %}</dt>
    <dd>{{ ipsecpolicy.pfs }}</dd>

    <dt>{% trans "Transform Protocol" %}</dt>
    <dd>{{ ipsecpolicy.transform_protocol }}</dd>
  </dl>
</div>
