{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "ID:" %}</dt>
    <dd>{{ vpnservice.id }}</dd>

    <dt>{% trans "Tenant ID:" %}</dt>
    <dd>{{ vpnservice.tenant_id }}</dd>

    <dt>{% trans "Name:" %}</dt>
    <dd>{{ vpnservice.name }}</dd>

    <dt>{% trans "Description:" %}</dt>
    <dd>{{ vpnservice.description }}</dd>

    <dt>{% trans "VPN type:" %}</dt>
    <dd>{{ vpnservice.vpn_type }}</dd>

    <dt>{% trans "Router ID:" %}</dt>
    <dd>{{ vpnservice.router_id }}</dd>

    <dt>{% trans "Subnet ID:" %}</dt>
    <dd>{{ vpnservice.subnet_id }}</dd>

    <dt>{% trans "VPNConnections:" %}</dt>
    <dd>{{ vpnservice.vpnconnections }}</dd>

    <dt>{% trans "Admin State Up:" %}</dt>
    <dd>{{ vpnservice.admin_state_up }}</dd>

    <dt>{% trans "Status:" %}</dt>
    <dd>{{ vpnservice.status }}</dd>
  </dl>
</div>
