{% load i18n sizeformat parse_date %}

<div class="info row-fluid detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ vpnservice.name|default:_("None") }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ vpnservice.description|default:_("None") }}</dd>

    <dt>{% trans "ID" %}</dt>
    <dd>{{ vpnservice.id }}</dd>

    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ vpnservice.tenant_id }}</dd>

    <dt>{% trans "Router ID" %}</dt>
    <dd>{{ vpnservice.router_id }}</dd>

    <dt>{% trans "Subnet ID" %}</dt>
    <dd>{{ vpnservice.subnet_id }}</dd>

    <dt>{% trans "VPN Connections" %}</dt>
    <dd>
      {% for conn in vpnservice.vpnconnections %}
      {{ conn.id }}<br>
      {% endfor %}
    </dd>

    <dt>{% trans "Admin State" %}</dt>
    <dd>{{ vpnservice.admin_state_up }}</dd>

    <dt>{% trans "Status" %}</dt>
    <dd>{{ vpnservice.status }}</dd>
  </dl>
</div>
