from django.conf.urls import patterns
from django.conf.urls import url

from {{ dash_path }}.{{ panel_name }}.views \
    import IndexView


urlpatterns = patterns(
    '',
    url(r'^$', IndexView.as_view(), name='index'),
)
