{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% blocktrans %}
      Volume type is a type or label that can be selected at volume creation
      time in OpenStack. It usually maps to a set of capabilities of the storage
      back-end driver to be used for this volume. Examples: "Performance",
      "SSD", "Backup", etc. This is equivalent to the
      <tt>cinder type-create</tt> command. Once the volume type gets created,
      click the "View Extra Specs" button to set up extra specs key-value
      pair(s) for that volume type.
     {% endblocktrans %}
  </p>
{% endblock %}
