{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:admin:volumes:volume_types:edit_qos_spec_consumer' qos_spec_id %}{% endblock %}

{% block modal_id %}associate_qos_spec_modal{% endblock %}
{% block modal-header %}{% trans "Edit Consumer of QOS Spec" %} {% endblock %}

{% block modal-body %}
<div class="left">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description:" %}</h3>
  <p>{% blocktrans %}
    Each QOS Specs entity will have a "consumer" value which indicates where the
    administrator would like the QOS policy to be enforced. This value can be "front-end"
    (Nova Compute), "back-end" (Cinder back-end), or both.
    {% endblocktrans %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Modify Consumer" %}" />
  <a href="{% url 'horizon:admin:volumes:volume_types_tab' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}