<div class="modal-header">
  <h3 class="modal-title">
    <span ng-bind="::ctrl.context.title"></span>
  </h3>
</div>
<ng-form name="form">
  <div class="modal-body clearfix" ng-include="ctrl.context.templateUrl">
  </div>
  <div class="modal-footer">
    <button class="btn btn-default"
      type="button" ng-click="ctrl.cancel()">
      <span ng-bind="::ctrl.context.cancel"></span>
    </button>
    <button class="btn btn-primary"
      type="button" ng-click="ctrl.submit(form)">
      <span ng-bind="::ctrl.context.submit"></span>
    </button>
  </div>
</ng-form>
