.table {
  & > thead {
    border-left: none;
    border-right: none;
    border-top: none;

    // Specificity Override
    & > tr > .table_header {
      border-bottom: 1px solid $table-border-color;
    }
  }

  tr td {
    @include transition(background 0.2s);

    // TODO: we can make this a mixin if we want it use it more often
    &.no-transition {
      @include transition(none);
    }
  }

  .table_caption {
    background-color: $body-bg;

    th {
      border-left: none;
    }
  }
}

.table_column_header {
  border-right: 1px solid $table-border-color;
}

// Table sort indicator
.tablesorter-header {
  position: relative;
}

.tablesorter-headerAsc:after,
.tablesorter-headerDesc:after {
  position: absolute;
  color: $gray-darker;
  opacity: .25;
  right: $padding-small-vertical;
}
