{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title="Home" %}
{% endblock page_header %}

{% block main %}
  <div id="home">
    <div class="panel panel-default applications">
        <div class="panel-heading">
            <div>
                {{ applications_table }}
                <a href="/idm/myApplications/create/">Register</a>
            </div>
        </div> 
        <div class="panel-body">
            {{ applications_table.render}}
        </div>
        <div class="panel-footer">
            <a href="/idm/myApplications/">View All</a>
        </div>
    </div> 
    
    
    <div class="panel panel-default members">

    <div class="panel-heading">
      <div>
        {{ members_table }}  
        {{ members_table.render_table_actions }}
      </div>
    </div>
    <div class="panel-body">

      {% if members_table.get_rows %}
        {{ members_table.render}}
      {% else %}
        <p class="alert alert-info empty"> {{ organization_name }} does not have any members.</p>
      {% endif %}
    </div>
    <div class="panel-footer">
            <a href="/idm/members/">View All</a>
        </div>
  </div>
  </div>
{% endblock %}




