{% extends 'nova/base.html' %}
{% load i18n %}

{% block page_header %}
  {% url horizon:nova:images_and_snapshots:images:index as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "horizon/common/_page_header.html" with title=_("Containers") refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  {% if containers %}
    {% include 'nova/containers/_list.html' %}
    <a class="btn small primary" href="{% url horizon:nova:containers:create %}">{% trans "Create New Container" %}</a>
  {% else %}
    <div class="alert-message block-message info">
      <p><strong>{% trans "Info: " %}</strong>{% trans "There are currently no containers." %}</p>
      <div class="alert-actions">
        <a class="btn small primary" href="{% url horizon:nova:containers:create %}">{% trans "Create New Container" %}</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
