{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}setgateway_form{% endblock %}
{% block form_action %}{% url 'horizon:project:routers:setgateway' router.id %}
{% endblock %}

{% block modal-header %}{% trans "Set Gateway" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "You can connect a specified external network to the router. The external network is regarded as a default route of the router and the router acts as a gateway for external connectivity." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Set Gateway" %}" />
  <a href="{% url 'horizon:project:routers:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
