{% load branding i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% block title %}{% endblock %} – {% site_branding %} Dashboard</title>
    {% block css %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    {% block content %}
      <div id="container" class="fluid-container sidebar-left">
        {% block sidebar %}{% endblock %}
        <div id='main_content' class="fluid-content">
          <div class='topbar'>
          {% block page_header %}{% endblock %}
          </div>
          {% block main %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% block js %}
      {% include "horizon/client_side/_modal.html" %}
    {% endblock %}
  </body>
</html>
