<div class="ng-wizard no-navigation" ng-form="wizardForm">
  <div class="download-iframes" style="display: none;"></div>
  <div class="title" translate>Launch Instance</div>

  <div class="step">
    <h1 translate>Create Key Pair</h1>

    <div class="content">
      <div class="subtitle" translate>
        Key Pairs are how you login to your instance after it is launched.
        Choose a key pair name you will recognize.
        Names may only include alphanumeric characters, spaces, or dashes.
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 required">
            <label translate>Key Pair Name</label>
            <span class="fa fa-exclamation-triangle invalid"
                  ng-show="ctrl.doesKeypairExist(ctrl.keypair) || wizardForm.$invalid"
                  popover="{$ ctrl.keypairExistsError $}"
                  popover-placement="top" popover-append-to-body="true"
                  popover-trigger="hover"></span>
            </div>
        </div>
        <div class="form-field required row">
          <div class="col-md-4" ng-class="{'has-error': ctrl.doesKeypairExist()}">
            <input class="form-control" name="name"
                   ng-model="ctrl.keypair"
                   ng-required="true" 
                   ng-pattern="/^[A-Za-z0-9 -]+$/"
                   placeholder="{$ 'Required' | translate $}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="secondary-btn-grp">
      <button class="cancel btn btn-sm btn-default" ng-click="ctrl.cancel()">
        <span class="fa fa-close"></span>
        <translate>Cancel</translate>
      </button>
    </div>
    <div class="primary-btn-grp">
      <button class="finish btn btn-sm btn-success"
              ng-click="ctrl.submit()" ng-disabled="wizardForm.$invalid || ctrl.doesKeypairExist()">
        <translate>Create Keypair</translate>
      </button>
    </div>
  </div>
</div>
