<div class="ng-wizard no-navigation" ng-form="wizardForm">
  <div class="title" translate>Launch Instance</div>

  <div class="step">
    <h1 translate>Import Key Pair</h1>
    <div class="content">
      <div class="subtitle" translate>
        Key Pairs are how you login to your instance after it is launched.
        Choose a key pair name you will recognize and paste your SSH public key into the
        space provided.
      </div>

      <div class="form-group">
        <div class="form-field required name">
          <label translate>Key Pair Name</label>
          <input class="form-control" name="name"
                 ng-model="ctrl.model.name"
                 ng-required="true" placeholder="{$ 'Required' | translate $}"/>
        </div>
        <div class="form-field required key">
          <label translate>Public Key</label>
          <textarea class="form-control" name="key" rows="15"
                    ng-model="ctrl.model.public_key"
                    ng-required="true" placeholder="{$ 'Required' | translate $}">
          </textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar">
    <div class="secondary-btn-grp">
      <button class="cancel btn btn-sm btn-default" ng-click="ctrl.cancel()">
        <span class="fa fa-close"></span>
        <translate>Cancel</translate>
      </button>
    </div>
    <div class="primary-btn-grp">
      <button class="finish btn btn-sm btn-success"
              ng-click="ctrl.submit()" ng-disabled="wizardForm.$invalid">
        <span class="fa fa-upload"></span>
        <translate>Import Key Pair</translate>
      </button>
    </div>
  </div>

  <help-panel>
    <ng-include src="ctrl.path + 'keypair.help.html'"></ng-include>
  </help-panel>
</div>
