[ng-controller="LaunchInstanceKeypairCtrl as ctrl"] {

  dl.key-pair-details {

    dt {
      width: 15%;
    }
    dd {
      width: 85%;
      margin-left: 15%;
      padding-right: 25px;

      pre {
        background: none;
      }
    }
  }

  textarea {
    font-family: $font-family-monospace;
  }
}

.no-navigation {

  .step {
    left: 25px;
  }

  .form-field {
    margin-bottom: 1em;
  }
}
