.context-selection {
  & > li > ul {
    padding: 0;

    & > li {
      white-space: nowrap;

      &.dropdown-header,
      & > a {
        padding: $dropdown-item-padding-vertical $dropdown-item-padding-horizontal $dropdown-item-padding-vertical $dropdown-item-padding-horizontal*1.5;
      }

      &.dropdown-header {
        color: $brand-primary;
      }

      &:not(.dropdown-header):hover {
        background-color: $dropdown-link-hover-bg;
        cursor: pointer;
      }

      & > a {
        position: relative;
        color: $navbar-default-color;
        text-decoration: none;
        display: inline-block;
        width: 100%;

        & > .fa.fa-check {
          float: left;
          position: absolute;
          left: $dropdown-item-padding-horizontal/2;
          line-height: $line-height-computed;
        }
      }
    }
  }

  .disabled {
    cursor: not-allowed;
    color: $dropdown-link-disabled-color;
  }
}
