.modal.fullscreen .modal-dialog {
  width: 90%;
  margin: auto;
  left: 5%;
}

.modal.loading .modal-dialog {
  width: 170px;
  .modal-body {
    height: 170px;
  }
}

.modal.loading p {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 150px;
}

.modal-body {
  overflow-y: visible;
  max-height: none;

  textarea {
    resize: vertical;
  }

  table {
    margin-bottom: 30px;
  }

  & ~ hr {
    margin-bottom: 0;
  }
}

.modal-footer {
  .footer-row {
    margin-right: 0;
    margin-left: 0;
  }
}

.modal-body {
  .modal-footer {
    width: 670px;
    margin-left: -25px;
    margin-right: -15px;
  }

  .help-block {
    text-align: left;
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
}
