.navbar-brand {
  padding: 0 $padding-small-horizontal;
  margin: 0;
  display: block;

  img {
    max-height: $navbar-height;
    vertical-align: middle;
  }
}

//Specifity Required
.navbar-header .navbar-brand {

  // These allow the vertical centering to work properly
  line-height: $navbar-height;
  font-size: 0;
}

.topbar {
  .navbar {
    margin-bottom: 1px;
  }
}
