.d3_quota_bar {
  text-align: center;
}

.d3_pie_chart_usage {
  width: $font-size-h2 * 3;
  display: inline-block;
}

.quota-dynamic {
  overflow: hidden;
  padding-bottom: $padding-large-horizontal;
}

.quota_title {
  font-size: $font-size-h6;
  margin-bottom: 0;
  @include clearfix();

  & > span {
    color: $gray-light;
  }
}

// This extend is important as it inherits the padding as well as font size
.quota_subtitle {
  @extend .h6;
}
