//
// Themable Selects
// ---------------------------------

.themable-select {
    .dropdown-title {
      text-align: left;

      &:after {
        content: ' ';
      }
    }

  select {
    display: none;
  }
}
