{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}image_custom_property_create_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:images:properties:create' image.id %}{% endblock %}


{% block modal_id %}image_custom_property_create_modal{% endblock %}
{% block modal-header %}{% trans "Create Image Custom Property" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans 'Create a new custom property for an image.' %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url 'horizon:admin:images:properties:index' image.id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

