{% extends 'horizon/_scripts.html' %}

{% block custom_js_files %}

<script type="text/javascript">

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function (e) {
            $('#avatar-update').attr('src', e.target.result);
            $('#avatar-update').Jcrop({
                onChange: showCoords,
                onSelect: showCoords,
                aspectRatio: 1,
                setSelect:   [ 100, 100, 50, 50 ],
                boxWidth: 650,
                
            });
        }
        
        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_image").change(function(){
    readURL(this);
});

function showCoords(c){
    $("#id_x1").val(c.x); 
    $("#id_y1").val(c.y);
    $("#id_x2").val(c.x2); 
    $("#id_y2").val(c.y2);

   
}

    

</script>
<!--<script src='{{ STATIC_URL }}idm/js/uploadavatar.js' type='text/javascript' charset='utf-8'></script>-->
{% endblock %}