{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Allocate Floating IP" %}{% endblock %}

{% block modal-body-right %}
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "From here you can allocate a floating IP to a specific project." %}</p>
    <p>{% trans "A <b>floating IP</b> is a static, publicly accessible IP address that can be dynamically assigned to different instances." %}
       {% trans "It is used for communication with networks outside the cloud, including the Internet." %}</p>
{% endblock %}
