{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}delete_role_form{% endblock %}
{% block form_action %}{% url 'horizon:idm:myApplications:roles_delete' application_id=application_id role_id=role_id %}{% endblock %}

{% block modal-header %}
<h3>Delete role</h3>
{% endblock %}

{% block modal-body %}

    <p>This will permanently delete the role from the application and can't be undone. Are you sure you want to continue?</p>
    {% include "horizon/common/_form_fields.html"%}
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Confirm" %}" />
  <a class="btn btn-default secondary cancel">{% trans "Cancel" %}</a>
{% endblock %}