{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_class %}edit_organization_modal{% endblock %}
{% block form_action %}{% url 'horizon:idm:organizations:edit' organization.id %}{% endblock %}

{% block modal_id %}edit_organization_modal{% endblock %}
{% block modal-header %}Delete organization{% endblock %}

{% block modal-body %}
<div style="display: none;" >
  <fieldset >
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
  <div class="panel panel-default panel-delete" id="accordion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#panel-delete">
          Are you sure you want to delete the organization?
        </a>
      </h4>
    </div>
    <div id="panel-delete" class="panel-collapse collapse">
      <div class="panel-body">
        <button type="submit" name="_delete">{% trans "Delete Organization" %}</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block modal-footer %}
{% endblock %}
