{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_class %}edit_organization_modal{% endblock %}
{% block form_action %}{% url 'horizon:idm:organizations:edit' organization.id %}{% endblock %}

{% block modal_id %}edit_organization_modal{% endblock %}
{% block modal-header %}Delete organization{% endblock %}

{% block modal-body %}
<div style="display: none;" >
  <fieldset >
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>

  <div class="panel panel-default destroy_organization">
    <a class="panel panel-default" data-toggle="collapse" data-parent="#accordion" href="#destroy_organization" class="panel-heading">
      <h4 class="panel-title">
        Are you sure you want to delete the organization?
      </h4>
    </a>
    <div id="destroy_organization" class="panel-collapse collapse">
      <div class="panel-body">
        <a type="submit" data-confirm="Are you sure?" data-method="delete" rel="nofollow" name="_delete">{% trans "Delete Organization" %}</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block modal-footer %}
{% endblock %}
