{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_class %}edit_organization_modal{% endblock %}
{% block form_action %}{% url 'horizon:idm:organizations:edit' organization.id %}{% endblock %}

{% block modal_id %}edit_organization_modal{% endblock %}
{% block modal-header %}Contact Information{% endblock %}

{% block modal-body %}
<div >
  <fieldset>
  	<div class="fieldWrapper" id="imgInp">
		{% include 'horizon/common/_form_errors.html' with form=form %}
			{% for field in form.visible_fields %}
				<div style="display:none;">
				{% if field.name == 'name'  %}
					{% include 'horizon/common/_form_field.html' with field=field %}
				{% endif %}
				</div>
				{% if field.name == 'email'  %}
					{% include 'horizon/common/_form_field.html' with field=field %}
				{% endif %}
				{% if field.name == 'website'  %}
					{% include 'horizon/common/_form_field.html' with field=field %}
				{% endif %}
			{% endfor %} 
	</div>
  </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
	<button type="submit" name="_edit">{% trans "Update Profile" %}</button>	
{% endblock %}

