
{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}



{% block form_class %}{% endblock %}
{% block form_action %}{{ form.action }}{% endblock %}

{% block modal_id %}edit{% endblock %}
{% block modal-header %}
EDIT
{% endblock %}

{% block modal-body %}
<div >
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Create Organization" %}</button>
    
{% endblock %}





    
