{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Organizations" %}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block main %}
<div id="detailOrganization">
    <header>
        <h3 class="name">
            {{ organization_name }} <a href="{% url 'horizon:idm:organizations:edit' organization_id %}" class="small"><i class="fa fa-edit"></i>edit</a>
        </h3>
        <!--crear la carga de la imagen -->
        <div class="logo">
            <img alt="organization logo" src="{{ STATIC_URL }}dashboard/img/logos/original/group.png">
        </div>
    </header>
	<div class="panel panel-default">
		<div class="panel-body">
            <h5>
              Contact us
            </h5>
            <!-- div que contiene la información de la org, cuando no esté relleno este campo ocultar -->
            <div class="description">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#description">
                        Description
                    </a>
                </h4>
                <div id="description" class="collapse">
                    <p>{{ contact_info }}</p>
                </div>
            </div>
		</div>
	</div>

	<div class="panel panel-default members">
        <div class="panel-heading">
                {{ members_table.name }}
        </div>
        <div class="panel-body">
            {{ members_table.render}}
        </div>
    </div>

    <div class="panel panel-default applications">
        <div class="panel-heading">
            {{ applications_table.name }}
        </div>
        <div class="panel-body">
            {{ applications_table.render}}
            <!-- texto que debe aparecer cuando no haya nada -->
            <p class="alert alert-info empty"> {{organization_name}} does not have any applications.</p>
        </div>
    </div>

</div>
{% endblock %}
