{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Organizations" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Organizations") %}
{% endblock page_header %}

{% block main %}
<div id="detailOrganization">

	<div class="panel panel-default">
		<div class="panel-heading">
            Contact Info
        </div> 
		<div class="panel-body">
			{{ contact_info }}
		</div>
	</div>

	<div class="panel panel-default members">
        <div class="panel-heading">
            <div>
                {{ members_table.name }}
              
            </div>
        </div> 
        <div class="panel-body">
            {{ members_table.render}}
        </div>   
    </div>

    <div class="panel panel-default applications">
        <div class="panel-heading">
            <div>
                {{ applications_table.name }}
              
            </div>
        </div> 
        <div class="panel-body">
            {{ applications_table.render}}
        </div>   
    </div>

</div>
{% endblock %}

