{% extends 'syspanel/base.html' %}
{% load i18n %}
{% block title %}Update Image{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Update Image") %}
{% endblock page_header %}

{% block syspanel_main %}
  <div class="modal static_page">
    <div class="modal-header">
      <h3>Update Image</h3>
    </div>
    <div class="modal-body">
      <div class="left">
        {% include 'syspanel/images/_update.html' %}
      </div>
      <div class="right">
        <h3>{% trans "Description" %}:</h3>
        <p>{% trans "From here you can modify different properties of an image." %}</p>
      </div>
    </div>
  </div>
{% endblock %}
