{% extends "project/databases/_detail_overview.html" %}
{% load i18n sizeformat %}

{% block connection_info %}
  <div class="addresses row detail">
    <h4>{% trans "Connection Info" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      {% with instance.host as host %}
          <dt>{% trans "Host" %}</dt>
          {% if not host %}
              <dd>{% trans "Not Assigned" %}</dd>
          {% else %}
              <dd>{{ host }}</dd>
              <dt>{% trans "Connection Examples" %}</dt>
              <dd>redis-cli -h {{ host }}</dd>
          {% endif %} <!-- ends else block -->
      {% endwith %}
    </dl>
  </div>
{% endblock %}