{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Objects" %}{% endblock %}

{% block page_header %}
  <div class='page-header'>
    <h2>{% trans "Container" %}:
      {% if subfolders %}
        <a href="{% url horizon:nova:containers:object_index container_name=container_name %}">{{container_name}}</a>
        <small>/</small>
      {% else %}
        {{container_name}}
      {% endif %}
      {% for subfolder, path in subfolders %}
        <small>
        {% if not forloop.last %}
          <a href="{% url horizon:nova:containers:object_index container_name=container_name subfolder_path=path %}">
        {% endif %}{{ subfolder }}{% if not forloop.last %}</a> /{% endif %}
        </small>
      {% endfor %}
    </h2>
  </div>
{% endblock page_header %}

{% block main %}
  <div id="subfolders">
      {{ subfolders_table.render  }}
  </div>
  <div id="objects">
      {{ objects_table.render }}
  </div>
{% endblock %}
