{% extends 'base.html' %}
{% load i18n %}
{% block title %}Containers{% endblock %}

{% block page_header %}
  <div class='page-header'>
    <h2>{% trans "Container" %}
      {% if subfolders %}
        : <a href="{% url horizon:nova:containers:index container_name|add:'/' %}">{{container_name}}</a>
        <small>/</small>
      {% elif container_name %}
        : {{container_name}}
      {% endif %}
      {% for subfolder, path in subfolders %}
        <small>
        {% if not forloop.last %}
          <a href="{% url horizon:nova:containers:index container_name|add:'/' path %}">
        {% endif %}{{ subfolder }}{% if not forloop.last %}</a> /{% endif %}
        </small>
      {% endfor %}
    </h2>
  </div>
{% endblock page_header %}

{% block main %}
  {{ swift_browser.render }}
{% endblock %}
