{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}Log In{% endblock %}
{% block modal_class %}modal{% endblock %}

{% block form-action %}{% url horizon:auth_login %}{% endblock %}

{% block modal-body %}
  {% include "horizon/_messages.html" %}
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <input type="submit" class="btn primary pull-right" value="{% trans "Login" %}" />
{% endblock %}
