/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  font-size: 12px;
  border-top: 1px solid $brand-secundary;
  padding-top: 1px;
  margin: 0;
  .footer-content{
    border-top: 1px solid $brand-primary;
    .container-fluid{
      border-top: 1px solid #F2E826;
      padding-top: 12px;
    }
  }
  a{
    text-decoration: underline;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .wrap {
  padding: 75px 15px 30px;
  @media (max-width: $screen-sm-min){
    padding: 52px 15px 30px;
  }
}