/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  font-size: 12px;
  border-top: 1px solid $gray-lighter;
  padding-top: 16px;
  margin: 0;
  a{
    text-decoration: underline;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .wrap {
  padding: 75px 15px 30px;
}