header.navbar{
  background: transparent;
}

nav.container-fluid{
  padding: 0;
  background-color: $gray-lighter;
  border-bottom: 1px solid #F2F2F2;
  -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
  background-image: none;
  padding: 3px 15px 2px;
}
nav.container-fluid .logo-header{
  float: left;
  width: 158px;
}


.fiware-logo {
  margin-left: 0px;
  margin-left: 0px;
  margin-top: 2px;
  width: 158px !important;
}

.logo-header .brand{
  margin: 0 0 0 -8px !important;
  padding: 0 !important;
}


.mobile .dropdown-menu{
  min-width: 90px;
  margin: 5px 0 0 -39px;
  background-color: rgb(244, 244, 244);
  border: none;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
  color: #333;

}

ul.oil-portal{
  height: 36px;
  padding: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  float: left;
  @media (max-width: $screen-sm-min){
    display: none;
  }
}

ul.oil-portal li{
  display: inline-block;
  padding: 12.7px 15.3px 6px;
}

ul.oil-portal li:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
}

ul.oil-portal li:hover a{
  color: $brand-secundary;
}

ul.oil-portal li a{
  color: #555;
  font-family: $corporate-font-family-sans-serif-Regular;
  font-size: 14px;
}

ul.oil-portal li a:hover{
  color: $brand-secundary;
  text-decoration: none;
}

ul.oil-portal li.active{
  background-color: #fff;
}

ul.oil-portal li.active a{
  color: $brand-primary;
  font-family: $corporate-font-family-sans-serif-Medium;
}

.mobile{
  display: none;
  margin-top: 9px;
  i{
    font-size: 11px;
  }
}


.mobile ul li{
  border-bottom: 2px solid #FFF;
  text-align: center;
  &:last-child{
    border: none;
  }
}

.mobile ul li a{
  color:#555;
  font-family: $corporate-font-family-sans-serif-Regular; 
  font-size: 14px;
}
  
.mobile ul li a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  color: $brand-secundary;
}

.mobile ul li.active a{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color: $brand-primary;
  font-family: $corporate-font-family-sans-serif-Medium;
}

.mobile ul li.active a:hover{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color: $brand-primary;
}

.mobile ul li.active a:focus{
  background-color: rgba(152, 152, 152, 0.1);
  background-image: none;
  color:#333;
}

.nav-tabs, .nav-tabs li a, 
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {
  //margin: 2px 0px 1px 0px;//
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: $brand-secundary;
  background-color: #FFF;
}

#user_info{
  display: inline;
  float: right;
}

#profile_editor_switcher{
  margin-top: 7px;
   a img {
    width: 24px;
  }
}

@media (max-width: 767px){

  header .navbar ul.nav{
    margin-top: 0px;
  }

  .logo-header{
    width: 152px !important;
  }

  .mobile .dropdown-menu li a{
    padding: 9px 8px 6px;
  }

  .mobile{
    display: inline-block;
    float: left;
  }

  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }

  .dropdown i {
    margin-left: 2px;
  }
}

@media (min-width: 768px) and (max-width: 979px){


  header.navbar ul{
    margin-top: 0px    
  }

  .mobile{
    display: none !important;
  }

  .brand{
    padding: 0px 4px 0 0px !important;
    float: left !important;
  }
}