#frontpage, 
#registration,
#home{
  .row{
    @media (max-width: $screen-sm-min){
      margin: 0px !important;
      .help-box{
        padding: 0 !important;
      }
    }
  }
}

#content_body{
  @include make-sm-column(11, $gutter: $grid-gutter-width);
  @include make-md-column(9, $gutter: $grid-gutter-width);
  @include make-lg-column(9, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    margin-top: 45px;
    padding: 0px;
  }
  .panel-heading{
    padding: 0;
    .nav-tabs{ margin-bottom: 0; border-bottom: 0;}
  }
}

textarea {
  resize: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}