#frontpage, 
#registration,
#home{
  .row{
    @media (max-width: $screen-sm-min){
      margin: 0px !important;
      .help-box{
        padding: 0 !important;
      }
    }
  }
}

.page-header{
  .btn{
    float: left;
    margin-top: 2px;
  }
}


#content_body{
  @include make-sm-column(11, $gutter: $grid-gutter-width);
  @include make-md-column(9, $gutter: $grid-gutter-width);
  @include make-lg-column(9, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    margin-top: 45px;
    padding: 0px;
  }
}

textarea {
  resize: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.list-group-item{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: rgba(0, 0, 0, 0);
  border-right: rgba(0, 0, 0, 0);
  min-height: 60px;
  .avatar {
    float: left;    
    margin-right: 15px;
    img{
      width: 36px;      
    }
  }
  .data{
    @include text-overflow;
    &:first-child{color: $black;}
    &:last-child{color: $gray;}
    button.btn.btn-link {
      padding: 0;
      margin-left: 15px;
      @include opacity(0);
      color: $brand-secundary;
      font-family: $corporate-font-family-sans-serif-Regular;
    }
  }
  &:hover{
    button.btn.btn-link {
      @include opacity(1);
    }
  }
}

.panel{
  .empty{
    @extend .alert;
    @extend .alert-info;
  }
}

#organizations,
#myApplications{
  .panel-heading{
    padding: 0;
    .nav-tabs{ margin-bottom: 0; border-bottom: 0;}
  }
}


//.alert{
//  position: absolute;
//  bottom: 35px;
//  width: 87%;
//  right: 15px;
//  height: auto;
//  z-index: 100;
//  font-size: 10px;
//  .close{
//    right: 0;
//  }
//}