#frontpage, 
#registration,
#home{
  .row{
    @media (max-width: $screen-sm-min){
      margin: 0px !important;
      .help-box{
        padding: 0 !important;
      }
    }
  }
}

#edit{
  .modal-header{
    margin-bottom: 10px;
    border-bottom: 1px solid transparent !important;
    width: 100%;
    text-decoration: none !important;
    h3{
      margin: 14px 0 0;
      font-size: 17px !important;
      color: $brand-secundary;
    }
  }
}


#content_body{
  @include make-sm-column(11, $gutter: $grid-gutter-width);
  @include make-md-column(9, $gutter: $grid-gutter-width);
  @include make-lg-column(9, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    margin-top: 8px;
    padding: 0px;
  }
}

textarea {
  resize: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.list-group-item{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: rgba(0, 0, 0, 0);
  border-right: rgba(0, 0, 0, 0);
  min-height: 60px;
  .normal_column{
    margin-left: 50px;
    &:last-child{
      float: left;    
      margin-left: 0 !important;
      top: 11px;
      position: absolute;
      .avatar {
        img{
          width: 36px;   
          @include border-top-radius (2px);
          @include border-bottom-radius (2px);   
        }
      }
    }
  }
  .data{
    @include text-overflow;
    &:first-child{color: $black;}
    &:last-child{color: $gray;}
    button.btn.btn-link {
      padding: 0;
      margin-left: 15px;
      @include opacity(0);
      color: $brand-secundary;
      font-family: $corporate-font-family-sans-serif-Regular;
    }
  }
  &:hover{
    button.btn.btn-link {
      @include opacity(1);
    }
  }
}

.panel{
  .empty{
    @extend .alert;
    @extend .alert-info;
  }
}

#organizations,
#myApplications{
  .panel-heading{
    padding: 0;
    .nav-tabs{ margin-bottom: 0; border-bottom: 0;}
  }
}

#avatar-update{
  @include border-top-radius ($border-radius-base);
  @include border-bottom-radius ($border-radius-base);
  max-width: 30%;
}

#edit{
  .modal-footer{
    a.panel-title{
      float: left;
    }
  }
}

.panel-cancel{
  &:hover{
    border-color: $brand-danger !important;
    h3{
      color: $brand-danger !important;
    }
  }
  
  a{
    color: $brand-danger !important;
    width: 100%;
  
    h3{
      margin-top: -16px !important;
    }
  }
  .modal-footer{
    border-top: none;
    #destroy_application{
      border-top: 1px solid #EAEAEC;
      padding-top: 15px;
      .btn-primary{
        @extend .btn-danger;
      }
    }
  }
}

.fix-top{
  top: 0 !important;
}

#modal_wrapper{
  .modal{
    @extend .fix-top;
  }
}
.cancel_account,
.destroy_organization{
  &:hover{
    border-color: $brand-danger !important;
    h3{
      color: $brand-danger !important;
    }
    .btn-primary{
      background-color: $brand-danger !important;
      border: 1px solid $brand-danger !important;
    }
  }
  h4{
    margin-top: 3px !important;
    padding: 0px 15px;
  }
  a{
    color: $brand-danger !important;
  }
  .panel-body{
    a{
      color: $brand-danger !important;
    }
  }
  .modal-header { 
    h3{
      display: none;
    }
  }
  .panel-title{
    h3{
      margin: 0 !important;
      font-size: 17px !important;
      color: #48B9C9;
      display: block !important;
      text-decoration: none;
    }    
  }
}


#authorize_application_modal{
  @extend .well;
  .modal-body{
    padding: 10px 0;
  }
}

.messages{
  width: 100%;
  bottom: 50px;
  position: absolute;
  padding: 0 15px;
  height: auto;
  z-index: 100;
  font-size: 10px;
  .alert{
    position: relative;
    margin-bottom: 10px;
    .close {
      right: 0;
      top: -2px;
      font-size: 17px;
    }
  }
}

@media (min-width: 768px){
  .workflow.modal{
    .modal-dialog {
      width: 777px;
      margin: 30px auto;
    }
  }
}