/* Sidebar
-------------------------------------------------- */

.sidebar{
  @include make-sm-column(1, $gutter: $grid-gutter-width);
  @include make-md-column(3, $gutter: $grid-gutter-width);
  @include make-lg-column(3, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid $border-color;
  }
  @media (max-width: $screen-xs-min){
    position: relative;
    margin: 0;
    border-bottom: 1px solid $border-color;
  }
  h5{
    font-size: 19px;
    font-family: $corporate-font-family-sans-serif-Regular;
    color: #DDDDDD;
    border-bottom: 1px solid $border-color;
    padding-bottom: 8px;
    letter-spacing: 1px;
    @media (min-width: 1200px){
      a{
        font-size: 25px;
      }
    }
  }
  h5.tablet
  ul{
    padding: 0;
    margin-top: 9px;
    @media (max-width: $screen-sm-min){
      height: 21px;
    }
    @media (max-width: $screen-xs-min){
      width: 100%;
    }
    a{
      line-height: 42px;
      @media (max-width: $screen-xs-min){
        line-height: 37px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      @media (max-width: $screen-sm-min){
        float: left;
        margin: 0 1rem;
      }
      h4,
      i{
        color: #8E8E8E;
      }
      &:hover{
        h4,
        i{
          color: $brand-secundary;
        }
      }
      i{
        font-size: 1.3rem;
        @media (max-width: $screen-sm-min){
          float: left;
          border-right: 1px solid $border-color;
          padding-right: 15px;
          font-size: 12px;
          &:first-child{
            padding-left: 0px;
          }
          &:last-child{
            border-right: none;
          }
        }
      }

      h4{
        margin-bottom: 12px;
        span{
          display: inline;
          font-size: 15px;
          margin-left: 10px;
          @extend .hidden-xs;
          @extend .hidden-sm;
          @media (max-width: $screen-sm-min){
            i{
              padding-right: 8px;
            }
          }
        }
      }
      h4.active{
        span,
        i{
          color: $brand-primary;
        }
        &:hover{
          span,
          i{
            color: $brand-primary;
          }
        }
      }
    }
    a.myApplications{
      h4 {
        @include text-overflow;
        margin-bottom: 0px;
      }
    }

    hr{
      margin: 16px 0;
      @media (max-width: $screen-sm-min){
        float: left;
        margin: 0 15px;
        width: 1px;
        height: 45px;
        clear: none;
        border-left: 2px solid $border-color;
      }
    }
  }
}

a.home i{@extend .fa-home;}
a.myApplications i{@extend .fa-cube;}
a.organizations i, li.members i{@extend .fa-group;}
a.notify i{@extend .fa-comment;}
a.administrators i{@extend .fa-wrench;}
