{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=_("Home") %}
{% endblock page_header %}

{% block main %}
  <div id="home">
    <div class="panel panel-default applications">
        <div class="panel-heading">
            <div>
                {{ applications_table }}
                <a href="/idm/myApplications/create/">Register</a>
            </div>
        </div> 
        <div class="panel-body">
            {{ applications_table.render}}
        </div>
        <div class="panel-footer">
            <a href="/idm/myApplications/">View All</a>
        </div>
    </div> {# TODO(garcianavalon) change this to organizations #}
    <div class="panel panel-default tenants"> 
        <div class="panel-heading">
            {{ organizations_table }}
            <a href="/idm/organizations/create/">Create</a>
        </div>    
      
        <div class="panel-body">
            {{ organizations_table.render}}
        </div>

        <div class="panel-footer">
            <a href="/idm/organizations/">View All</a>
        </div>
    </div>
  </div>
{% endblock %}




