{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Home") %}
{% endblock page_header %}

{% block main %}
  <div id="home">
    <div class="panel panel-default applications">
        <div class="panel-heading">
            {{ applications_table.name }}
        </div>
        <div class="panel-body">
            {{ applications_table.render}}
        </div>
    </div>
    <div class="panel panel-default tenants">
        <div class="panel-heading">
            {{ tenants_table.name }}
        </div>
        <div class="panel-body">
            {{ tenants_table.render}}
        </div>
    </div>
  </div>
{% endblock %}


