{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}associate_floating_ip_form{% endblock %}
{% block form_action %}{% url horizon:nova:access_and_security:floating_ips:associate floating_ip.id %}{% endblock %}

{% block modal-header %}{% trans "Associate Floating IP" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Associate a floating ip with an instance." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn primary pull-right" type="submit" value="{% trans "Associate IP" %}" />
  <a href="{% url horizon:nova:access_and_security:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
