.help-panel {
  position: absolute;
  width: $helpPanelWidthDefault;
  right: -$helpPanelWidthDefault;
  top: 0;
  bottom: 0;
  color: $helpPanelColor;
  background: $helpPanelBg;
  @include transition(right linear 0.1s);
  z-index: 10;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    overflow-y: auto;

    h1 {
      font-size: 20px;
      line-height: 1.8;
      margin: 0;
    }

    li {
      list-style-position: inside;
    }

    p {
      line-height: 1.4;
      margin: 1em 0;
    }
  }

  &.open {
    right: 0;
    border: 1px solid $helpPanelBorderColor;
    border-right: none;
    margin-top: -1px;
    margin-bottom: -1px;

    & > button.open {
      display: none;
    }

    & > button.close {
      display: block;
      opacity: 1;       // override bootstrap
      font-size: 14px;  // override bootstrap
    }
  }

  & > button {
    position: absolute;
    top: 0;
    left: -$helpPanelBtnSize;
    width: $helpPanelBtnSize;
    height: $helpPanelBtnSize;
    line-height: $helpPanelBtnSize;
    padding: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
    background: $helpPanelBtnBg;
    border: 1px solid $helpPanelBorderColor;
    border-right: none;
    margin-top: -1px;


    // button icon
    & > * {
      display: inline-block;
      vertical-align: middle;
      background: $helpPanelBtnIconBg;
      color: $helpPanelBtnIconColor;
      font-size: $helpPanelBtnIconSize;
    }

    &.close {
      display: none;
    }
  }
}
