<!-- ROLES AND PERMISSIONS TEMPLATES -->

<div class="site-client-roles">
  <section id="role_list" class="role_list">
    <header>
      <h4>Roles</h4>
      <button class="btn" data-toggle="modal" data-target="#new-roleModal"><i class="fa fa-plus"></i></button>
    </header>

    <div class="btn-group-vertical" data-toggle="buttons">
      <label class="btn btn-default active">
        <input type="radio" class="disabled" name="options" id="option1" autocomplete="off"> role 1 (default)
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="option2" autocomplete="off"> role 2
      </label>
      <label class="btn btn-default">
        <input type="radio" name="options" id="option3" autocomplete="off"> role 3
        <i class="fa fa-close"></i>
        <i class="fa fa-edit"></i>
      </label>
      <label class="btn btn-default edit">
        <input type="text" name="options" id="editoption3" autocomplete="off" placeholder="role 3">
        <i class="fa fa-check"></i>
      </label>
    </div>

    <div class="modal fade" id="new-roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body form-group" role="tabpanel">    
            rere
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="permissions_list" class="permissions_list">
    <header>
      <h4>Permissions</h4>
      <button class="btn" data-toggle="modal" data-target="#new-permissionModal"><i class="fa fa-plus"></i></button>
    </header>
    <div class="btn-group-vertical" data-toggle="buttons">
      <label class="btn btn-default disabled">
        <i class="fa fa-check"></i>
        <input type="checkbox" autocomplete="off"> permission 1
      </label>
      <hr>
      <label class="btn btn-default active">
        <i class="fa fa-check"></i>
        <input type="checkbox" autocomplete="off"> permission 2
      </label>
      <hr>
      <label class="btn btn-default">
        <i class="fa fa-check" style="display:none"></i>
        <input type="checkbox" autocomplete="off"> permission 3
      </label>
    </div>

    <div class="modal fade" id="new-permissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body form-group" role="tabpanel">            
            rere
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<br><br><br><br><br><br><br><br/><br/><br/><br/><br/><br/><br/>

<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      FIWARE Lab
    </h3>
    <span>
      FIWARE Lab is a working instance of FIWARE available for experimentation.
    </span>
    <p>
      You will be able to setup the basic virtual infrastructure needed to run applications that make use of the APIs provided by FIWARE Generic Enablers deployed as a Service either globally or by you (as private instance).
    </p>
    <div class="sign_up">
      <a href="{% url 'fiware_auth_register' %}">
      Sign up
      </a>
    </div>
  </section>

  <section class="help-bar">
    <div class="row">
      <div class="help-box">
        <a href="mailto:fiware-lab-help@lists.fi-ware.org?Subject=FI-LAB Assistance">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/help.png">
            <h5>Need Help?</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Ask a question.
        </div>
      </div>
      <div class="help-box">
        <a target="_blank" href="http://catalogue.fi-ware.org/enablers">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/ges.png">
            <h5>Our GEs</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          See our Catalogue.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="help-box">
        <a target="_blank" href="https://www.fi-xifi.eu/fi-ops.html">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/fi-ops.png">
            <h5>FIWARE Lab nodes</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Learn about FIWARE Ops.
        </div>
      </div>

      <div class="help-box">
        <a target="_blank" href="http://edu.fi-ware.org/">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/more-info.png">
            <h5>eLearning</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Train yourself.
        </div>
      </div>
    </div>
  </section>
</div>
