<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      FIWARE Lab
    </h3>
    <span>
      FIWARE Lab is a working instance of FIWARE available for experimentation.
    </span>
    <p>
      You will be able to setup the basic virtual infrastructure needed to run applications that make use of the APIs provided by FIWARE Generic Enablers deployed as a Service either globally or by you (as private instance).
    </p>
    <div class="sign_up">
      <a href="{% url 'fiware_auth_register' %}">
      Sign up
      </a>
    </div>
  </section>

  <section class="help-bar">
    <div class="row">
      <div class="help-box">
        <a href="mailto:fiware-lab-help@lists.fi-ware.org?Subject=FI-LAB Assistance">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/help.png">
            <h5>Need Help?</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Ask a question.
        </div>
      </div>
      <div class="help-box">
        <a target="_blank" href="http://catalogue.fi-ware.org/enablers">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/ges.png">
            <h5>Our GEs</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          See our Catalogue.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="help-box">
        <a target="_blank" href="https://www.fi-xifi.eu/fi-ops.html">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/fi-ops.png">
            <h5>FIWARE Lab nodes</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Learn about FIWARE Ops.
        </div>
      </div>

      <div class="help-box">
        <a target="_blank" href="http://edu.fi-ware.org/">
          <header>
            <img src="{{ STATIC_URL }}dashboard/img/icons/more-info.png">
            <h5>eLearning</h5>
            <i class="fa fa-chevron-right icon-white"></i>
          </header>
        </a>
        <div>
          Train yourself.
        </div>
      </div>
    </div>
  </section>
</div>
