{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block body_id %}base{% endblock %}

{% block content %}
  {% include '_header.html' %}
  <div id="frontpage" class="container-fluid wrap">
    <div class="row">
      {% if show_application_details %}
        {% include 'oauth2/_application_info.html' with application=application %}
      {% else %}
        {% include 'auth/_presentation.html' %}
      {% endif %}
      {% include 'auth/_login.html' %}
    </div>
  </div>
{% endblock %}
