{% load i18n sizeformat %}

{% if service.type == 'nova-compute' %}
<ul>
  <li>
    {% trans "Hypervisor" %}: {{ service.stats.hypervisor_type }}( {{ service.stats.cpu_info.features|join:', ' }})
  </li>
  <li>
    {% trans "Allocable Cores" %}:
    {{ service.stats.max_vcpus }}
    ({{ service.stats.vcpus_used }} Used, {{ service.stats.vcpus }} Physical/Virtual)
  </li>
  <li>
    {% trans "Allocable Storage" %}:
    {{ service.stats.max_gigabytes|diskgbformat }}
    ({{ service.stats.local_gb_used|diskgbformat }} Used, {{ service.stats.local_gb|diskgbformat }} Physical)
  </li>
  <li>
    {% trans "System Ram" %}:
    {{ service.stats.memory_mb|mbformat }}
    ({{ service.stats.memory_mb_used|mbformat }} Used)
  </li>
</ul>
{% else %}
<span>&nbsp;-&nbsp;</span>
{% endif %}
