{% load i18n %}
{% if service.disabled %}
  <form id="form_service_enable_{{ service.id }}" class="form-service-enable" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <input name="service" type="hidden" value="{{ service.id }}" />
    <input name="name" type="hidden" value="{{ service.type }}" />
    <input id="enable_{{ service.id }}" class="enable" title="Service: {{ service.type }}" type="submit" value="{% trans "Enable" %}" />
  </form>
{% else %}
  <form id="form_service_disable_{{ service.id }}" class="form-service-disable" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <input name="service" type="hidden" value="{{ service.id }}" />
    <input name="name" type="hidden" value="{{ service.type }}" />
    <input id="disable_{{ service.id }}" class="btn small disable" title="Service: {{ service.type }}" type="submit" value="{% trans "Disable" %}" />
  </form>
{% endif %}
