{% load i18n sizeformat %}

<div class="detail">
  <dl class="dl-horizontal">
      <dt>{% trans "Name" %}</dt>
      <dd>{{ job.name }}</dd>
      <dt>{% trans "ID" %}</dt>
      <dd>{{ job.id }}</dd>
      <dt>{% trans "Type" %}</dt>
      <dd>{{ job.type }}</dd>
      <dt>{% trans "Description" %}</dt>
      <dd>{{ job.description|default:_("None") }}</dd>
      <dt>{% trans "Mains" %}</dt>
      {% for main in job.mains %}
        <dd><a href="{% url 'horizon:project:data_processing.job_binaries:details' main.id  %}">{{ main.name }}</a></dd>
      {% empty %}
        <dd>{% trans "None" %}</dd>
      {% endfor %}
      <dt>{% trans "Libs" %}</dt>
      {% for lib in job.libs %}
        <dd><a href="{% url 'horizon:project:data_processing.job_binaries:details' lib.id  %}">{{ lib.name }}</a></dd>
      {% empty %}
        <dd>{% trans "None" %}</dd>
      {% endfor %}
      <dt>{% trans "Created time" %}</dt>
      <dd>{{ job.created_at|parse_isotime }}</dd>
      <dt>{% trans "Updated time" %}</dt>
      <dd>{{ job.updated_at|parse_isotime|default:_("Never") }}</dd>
  </dl>
</div>
