/* @override http://looce.com:8080/media/dashboard/css/style.css */

@import url("reset.css");


/* General/Misc */

@font-face {
	src: url('Anivers_Regular-webfont.eot');
	src: url('Anivers_Regular-webfont.eot?iefix') format('eot'),
		url('Anivers_Regular-webfont.woff') format('woff'),
		url('Anivers_Regular-webfont.ttf') format('truetype'),
		url('Anivers_Regular-webfont.svg#webfont3JLVF59W') format('svg');
	font: 'anivers' normal normal;
}

body {
	background: url(../images/content_bg.png) top left repeat-y;
	font: 16px/21px anivers, helvetica, arial, sans-serif ;
	color: #989898;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #3fb9d3;
}
a:hover { text-decoration: underline; }

input[type="text"], input[type="password"], textarea{
	width: 145px;
	height: 33px;
	margin: 0 0 15px -1px;
	padding: 0 0 0 10px;
	float: left;
	border: 1px solid #ccc;
}

small { font-size: 12px; }

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* Header */

#header {
	background: #000;
	font: "Helvetica", arial, sans-serif;
	min-width: 1024px;
	width: 100%;
	height: 45px;
	float: left;  
}

h1 {
	margin: -3px 0 0 15px;
	float: left;
}

h1 a{
	background: url(../images/logo_new.png) no-repeat left !important;
	text-indent: -9999px;
	width: 115px;
	float: left;
	display: block;
}

#main_nav {
	background: #f3f8fa;
	text-transform: uppercase;
	min-width: 800px;
	width: 84%;
	padding: 10px 0 0;
	float: left;
	border: 1px solid #cbe0e8;
}

#main_nav li {
	margin: 0 20px 0 0;
	float: left;
}

#main_nav li a {
	color: #8eacb7;
	font-size: 12px; 
	margin: -10px 0 0 0;
	padding: 5px 10px 0;
	float: left;
	display: block;
	position: relative;
	border-top: 5px solid transparent;
	height: 33px;
}
#main_nav li a.active { border-top: 5px solid #8eacb7; }
#main_nav li a:hover { background: #dff2fa; }


/* Tenant Dropdown */

#user_bar {
	background: #f3faf3;
	font: 12px "Helvetica", arial, sans-serif;
	width: 16%;
	min-width: 210px;
	height: 38px;
	margin: -45px 0 0 0;
	padding: 5px 0 0 0;
	float: right; 
	border: 1px solid #d6e4d9;
}

#user_bar ul {
	background: #c9ead1;
	min-width: 210px;
	width: 16%;
	margin: 37px 0 0 0;
	padding: 12px 0 0 0;
	display: none;
	position: absolute;
	right: 0px;
	border: 1px solid #d6e4d9;
}

#drop_btn {
	background: #c9ead1 url(../images/drop_arrow.png) no-repeat center center;
	margin: -5px 0 0 0;
	padding: 12px 0 0 0;
	width: 25px;
	height: 29px;
	float: right;
	border: 1px solid #d6e4d9;
}
#drop_btn:hover { background-color: #bfdec6; }

a#current_tenant {
	background: #f3faf3;
	color: #6eaf6e;
	width: 80%;
	padding: 0 0 0 10px;
	float: left;
	display: block;
	position: relative;
}

#current_tenant h4 {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin: 3px 0 -4px;
}

#user_bar li a {
	color: #5c935c;
	font: 14px;
	padding: 5px 0 5px 20px;
	display: block;
	border-bottom: 1px solid #a9deb6;
}
#user_bar li a:hover{ background: #9dd1a9; }

li#sign_out a {
  background: #e3f3e7;
  font-size: 11px;
  padding: 5px 0 5px 20px;
}
li#sign_out a:hover { color: #406640; }

li.title h4{
	color: #7ab789;
	font-size: 10px;
	text-transform: uppercase;
	margin: -4px 0 0 0;
	padding: 0 0 5px 10px;
	border-bottom: 1px dotted #7ab789;
}


/* Sidebar */

#sidebar {
	margin: 0 9px 0 20px;
	float: left;
}

#sidebar h3 {
	color: #6a6a6a;
	font: 18px;
	margin: 30px 0 15px 0;
}

#sidebar .sub_nav { width: 200px; }

#sidebar .sub_nav a {
  color: #999;
  width: 188px;
  padding: 10px 10px 10px 10px;
  float: left;
}

#sidebar .sub_nav a.active {
	background: #fff;
	border: 1px solid #e1e1e1;
	border-right: 0;
	border-bottom-color: #ccc;
}


/* Page Header */

#page_header {
	background: #f2f2f2;
	height: 31px;
	margin: 0 0 0 229px;
	padding: 17px 0 18px 20px;
	display: block;
	border-bottom: 1px solid #e5e5e5;
}

#page_header h2 {
	color: #a3a3a3;
	font-size: 30px;
	margin: 5px 0 0 0;
	float: left;
}
#page_header h2 span { color: #6a6a6a; }

#page_header .right { 
	float: right;
	margin-right: 20px;
}

#page_header .search { float: left; }

.search form label {
	background: #fff url(../images/search.png) no-repeat 10px;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	padding: 17px 21px 0 0;
	float: left;
	display: block;
	border: 1px solid #ccc;
}

a.refresh  {
	background: url(../images/refresh.png) top left no-repeat;
	text-indent: -9999px;
	width: 16px;
	height: 19px;
	margin: 8px 0 0 20px;
	float: left;
	display: block;
	cursor: pointer;
}
a.refresh:hover { background-position: left -19px; }


/* Main Content */

#main {
	width: 100%;
	float: left;
}

.main_content {
	margin-left: 229px;
	padding: 20px 20px 20px 20px;
}


/* Tables */

.table_title {
	background: #f2f2f2;
	height: 20px;
	padding: 15px 20px 15px 20px;
	border: 1px solid #e1e1e1;
}

.table_title h3 {
	font-size: 20px;
}

table.wide { width: 100%; }

table th {
	background: #e6e6e6 url(../images/misc_bg.png) top left repeat-x;
	color: #fff;
	text-align: left;
	font-weight: normal;
	padding: 10px 10px 10px 10px;
	border-right: 1px solid #c6c6c6;
	text-shadow: #b2b2b2 1px 1px 0;
}

table td {
	border: 1px solid #e8e8e8;
	padding: 10px 10px 10px 10px;
}

table ul { margin: 0 0 0 20px; }

table ul li {
	font-size: 14px;
	list-style: disc;
}

tr.odd { background: #fff; }
tr.even { background: #f5f5f5; }
tr.odd:hover, tr.even:hover { background: #eee; }
tr.terminated { background: #ddd; }

table tr.odd.good td { border: 1px solid #92fd75; }
table tr.even.good td { border: 1px solid #88f06d; }
table tr.odd.bad td { border: 1px solid #ffb7b8; }
table tr.even.bad td { border: 1px solid #fba7a9; }
table tr.odd.medium td { border: 1px solid #f8e400; }
table tr.even.medium td { border: 1px solid #f0dd00; }

tr {
	transition: background 0.2s;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-o-transition: background 0.2s;
}

td#actions ul { margin: 0; }

td#actions li {
	font-size: 11px;
	margin: 0 8px 6px 15px;
}

td#actions li a { font-size: 11px; }

td#actions form input[type="submit"] {
	color: #3fb9d3;
	background: transparent;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
	margin: -4px 0px 0px 0px;
	cursor: pointer;
	border: 0px;
}
td#actions input[type="submit"]:hover { text-decoration: underline; }























































































































