<!-- TODO(termie): move most of this to django_openstack -->
{% load sizeformat %}
{%load i18n%}
<table id='instances' class="wide">
  <tr id='headings'>
    <th>{% trans "ID"%}</th>
    <th>{% trans "Name"%}</th>
    <th>{% trans "Groups"%}</th>
    <th>{% trans "Image"%}</th>
    <th>{% trans "Size"%}</th>
    <th>{% trans "IPs"%}</th>
    <th>{% trans "State"%}</th>
    <th>{% trans "Actions"%}</th>
  </tr>
  <tbody class='main'>
    {% for instance in instances %}
      <tr class="{% cycle 'odd' 'even' %}">
          <td>{{instance.id}}</td>
          <td class="name">
            <a href="{% url dash_instances_detail request.user.tenant_name instance.id %}">
              {{instance.name}}
              {% if instance.attrs.key_name %}
                  <br/>
                  <small> ({{instance.attrs.key_name}}) </small>
              {% endif %}
            </a>
          </td>
          <td>
            <ul>
              {% for group in instance.attrs.security_groups %}
                <li>{{group}}</li>
              {% endfor %}
            <ul>
          </td>
          <td>{{instance.image_name}}</td>
          <td>
            <ul>
              <li>{{instance.attrs.memory_mb|mbformat}} Ram</li>
              <li>{{instance.attrs.vcpus}} VCPU</li>
              <li>{{instance.attrs.disk_gb}}GB Disk</li>
            </ul>
          </td>
          <td class="ip_list">
            {% for ip_group, addresses in instance.addresses.items %}
              {% if instance.addresses.items|length > 1 %}
              <h4>{{ip_group}}</h4>
              <ul>
                {% for address in addresses %}
                  <li>{{address.addr}}</li>
                {% endfor %}
              </ul>
              {% else %}
              <ul>
                {% for address in addresses %}
                  <li>{{address.addr}}</li>
                {% endfor %}
              </ul>
              {% endif %}
            {% endfor %}
          </td>
          <td>{{instance.status|lower|capfirst}}</td>
          <td id="actions">
            <ul>
              <li class="form">{% include "django_openstack/common/instances/_terminate.html" with form=terminate_form %}</li>
              <li class="form">{% include "django_openstack/common/instances/_reboot.html" with form=reboot_form %}</li>
              <li><a target="_blank" href="{% url dash_instances_console request.user.tenant_id instance.id %}">{% trans "Log"%}</a></li>
              <li><a target="_blank" href="{% url dash_instances_vnc request.user.tenant_id instance.id %}">{% trans "VNC Console"%}</a></li>
              <li><a href="{% url dash_instances_update request.user.tenant_id instance.id %}">{% trans "Edit"%}</a></li>
              <li><a href="{% url dash_snapshots_create request.user.tenant_id instance.id %}">{% trans "Snapshot"%}</a></li>
            </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
