{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="instances" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Update Instance") %}
{% endblock page_header %}

{% block dash_main %}
  <div class="dash_block">
    <div class="left">
      {% include 'django_openstack/dash/instances/_form.html' with form=form %}
      <h3><a href="{% url dash_instances request.user.tenant_id %}"><< {% trans "Return to Instances List"%}</a></h3>
    </div>

    <div class="right">
      <h3>{% trans "Description:"%}</h3>
      <p>{% trans "Update the name and description of your instance"%}</p>
    </div>
    <div class="clear"></div>
  </div>
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" charset="utf-8">
    $(function(){
      $("#spinner").hide()
      function loadInstances(){
        $('#spinner').show();
        $('#instances').load('{% url dash_instances_refresh request.user.tenant_id %}', function(){
          $("#spinner").hide()
        });
      }
      setInterval(function(){
        loadInstances();
      }, 15000);

      $("a.refresh").click(function(e){
        e.preventDefault()
        loadInstances();
      })
    })
  </script>
{% endblock footer_js %}
