{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_class %}{% endblock %}
{% block form_action %}{{form.action}}{% endblock %}
{% block form_enctype %}multipart/form-data{% endblock %}

{% block modal_id %}edit{% endblock %}
{% block modal-header %}
{{form.title}}
{% endblock %}

{% block modal-body %}
    {% if form.title == 'Avatar Update'%}
		<div>
			<img id="avatar-update" src="{{ image }}" alt="your image"   />
		</div>
	{% elif form.title == 'Cancel' %}
		<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#destroy_application">
		    <h3>
		      Remove the application and all its data 
		    </h3>
		</a>

    {% endif %}
	<div >
	    <fieldset>
	        {% include "horizon/common/_form_fields.html" %}
	    </fieldset>
	</div>
{% endblock %}


{% block modal-footer %}
	{% if form.title == 'Cancel'%}
		<div id="destroy_application" class="panel-collapse collapse">  
	    	<button type="submit" class="btn btn-danger">
	    	    {% trans "Delete Application" %} 
	    	</button>
		</div>  

	{% else %}
	    <button type="submit" class="btn btn-primary">
	    	{% trans "Update Application" %} 
	    </button>
	{% endif %}
{% endblock %}





    

