<li class="list-group-item radio">
    <label>
        <input type="radio" name="options_roles">
        {{ role.name }}
    </label>
    <span>
        <a href="." class="fa fa-pencil"></a>
        <a href="." class="fa fa-close"></a>
    </span>
</li>

<!--
        <li class="list-group-item radio">
            <!-- si se puede editar quedaría así ->
                <div class="edit_name">
                    <div class="input-group">
                        <input id="relation_custom_name" class="form-control" type="text" placeholder="name of role.">
                        <div class="input-group-addon">
                            <a class="fa fa-check"></a>
                        </div>
                    </div>
                </div>
            </li> -->