{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm:myApplications:roles' %}{% endblock %}

{% block modal_id %}upload_image_modal{% endblock %}
{% block modal-header %}
	{% include "idm/myApplications/_step-3.html" %}
{% endblock %}

{% block modal-body %}
<div class="site-client-roles">
    {% include "horizon/common/_form_fields.html" %}
	<section class="relation_list">
		<h4>
			Roles
		</h4>
		<ul class="list-group">
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Name of role
				</label>
				<span>
					<a href="." class="fa fa-pencil"></a>
					<a href="." class="fa fa-close"></a>
				</span>
			</li>
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Name of role
				</label>
				<span>
					<a href="." class="fa fa-pencil"></a>
					<a href="." class="fa fa-close"></a>
				</span>
			</li>
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Name of role
				</label>
				<span>
					<a href="." class="fa fa-pencil"></a>
					<a href="." class="fa fa-close"></a>
				</span>
			</li>
		</ul>


		<div id="new_relation">
			<h4  id="headingOne" role="tab" class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					+ New role
				</a>
			</h4>
			<div id="collapseOne" class="form-group collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="input-group">
					<input class="form-control" type="email" placeholder="Write the name of role.">
					<div class="input-group-addon"><a class="btn btn-primary">Save</a></div>
				</div>

			</div>
		</div>
	</section>

	<section class="permissions_list">
		<h4>
			Permissions in Role name
		</h4>

		<!-- sólo tiene que aparecer cuando no se tenga seleccionado un rol -->
		<div class="alert alert-info">
		  Manage the permissions of your contacts and create new roles
		</div>
		

		<ul class="list-group">
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Type of permission
				</label>
			</li>
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Type of permission
				</label>
			</li>
			<li class="list-group-item checkbox">
				<label>
					<input type="checkbox"> Type of permission
				</label>
			</li>
		</ul>

		<div id="new_permission">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#add_permission">
				+ New Permission
			</button>

			<!-- Modal -->
			<div class="modal fade" id="add_permission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h3 class="modal-title" id="myModalLabel">New permission</h3>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">name</label>
								<input class="form-control" type="text">
							</div>
							<div class="form-group">
								<label class="control-label">description</label>
								<textarea class="form-control" rows="6"></textarea>
							</div>
							<span id="first-option">		
								<div class="form-group">
									<label class="control-label">HTTP actions</label>
									<input class="form-control" type="text">
								</div>
								<div class="form-group">	
									<label class="control-label">Resource</label>
									<input class="form-control" type="text">
								</div>
							</span>		        	        	
                            <!-- está sacado del Idm pero aquí no funciona, a ver que te parece -->
							<script language="javascript" type="text/javascript" >

							    $("#accordion-togglerer").click(function(e){

									if($("#accordion-togglerer").attr("title")==="Add advanced rule"){
										$("#accordion-togglerer").html("Add standard rule");
										$("#accordion-togglerer").attr("title", "Add standard rule");
											$( "#first-option" ).hide();
									}
									else{
										$("#accordion-togglerer").html("Add advanced rule");
										$("#accordion-togglerer").attr("title", "Add advanced rule");
										$( "#first-option" ).show();
									}
									return true;
								});
							</script>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a class="expand" data-toggle="collapse" data-parent="#accordion1" href="#moreoptions">
											<span id="accordion-togglerer" class="showMore accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#moreoptions" title="Add advanced rule">Add advanced rule</span>
										</a>
									</h4>
								</div>
								<div id="moreoptions" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<label class="control-label">XACML rule</label>
										<textarea class="form-control" rows="6"> </textarea>
									</div>
								</div>
							</div>
                        </div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</section>
</div>
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Finish" %}</button>
{% endblock %}