{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm:myApplications:upload' %}{% endblock %}
{% block form_enctype %}multipart/form-data{% endblock %}

{% block modal_id %}upload_image_modal{% endblock %}
{% block modal-header %}
	{% include "idm/myApplications/_step-2.html" %}
{% endblock %}

{% block modal-body %}

	<fieldset>
		<div class="fieldWrapper" id="imgInp">
			{{ form.image }} 
			<!-- El id del input es 'id_image' -->
		</div>

		{{ form.x1 }}
		{{ form.x2 }}
		{{ form.y1 }}
		{{ form.y2 }}
		
		
	</fieldset>
	<div>
		<img id="avatar-update" src="#" alt="your image"  style="display: none;" />
	</div>
<!-- 
		<label style="display: none;">X1 <input size="4" id="x" name="x" type="text"></label>
		<label style="display: none;">Y1 <input size="4" id="y" name="y" type="text"></label>
		<label style="display: none;">X2 <input size="4" id="x2" name="x2" type="text"></label>
		<label style="display: none;">Y2 <input size="4" id="y2" name="y2" type="text"></label>
		<label style="display: none;">W <input size="4" id="w" name="w" type="text"></label>
		<label style="display: none;">H <input size="4" id="h" name="h" type="text"></label>
	 -->

{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
{% endblock %}

