


<fieldset>
	<div class="fieldWrapper" id="imgInp">
		{{ form.file }} <!-- El id del input es 'id_file' -->
	</div>
	<img id="avatar-update" src="#" alt="your image" style="display: none;" />
</fieldset>
<!--  <fieldset>
    <form id="form-upload">
    	<input type='file' id="inputFile" />
    	<img id="avatarUpdate" src="#" alt="avatar">
    </form>

</fieldset> -->
<!-- <form id="form1" runat="server">
    <input type='file' id="imgInp" />
    <img id="avatar-update" src="#" alt="your image" style="display: none;" />
</form> -->

---> ejemplo input type file rewrite

<div class="input-group">
    <span class="input-group-btn">
        <span class="btn btn-default btn-file">
            Browse… <input type='file' id="imgInp" class="new_file_avatar" accept="image/*">
        </span>
    </span>
    <input type="text" class="form-control" readonly="">
</div>

<script>
$(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});


$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });
});
  
  </script>
