{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}


{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm:myApplications:upload' %}{% endblock %}

{% block modal_id %}upload_image_modal{% endblock %}
{% block modal-header %}
	{% include "idm/myApplications/_step-2.html" %}
{% endblock %}

{% block modal-body %}
<fieldset>
	<div class="fieldWrapper" id="imgInp">
		{{ form.file }} <!-- El id del input es 'id_file' -->
	</div>
	<img id="avatar-update" src="#" alt="your image" style="display: none;" />
	
</fieldset>
<!--  <fieldset>
    <form id="form-upload">
    	<input type='file' id="inputFile" />
    	<img id="avatarUpdate" src="#" alt="avatar">
    </form>

</fieldset> -->
<!-- <form id="form1" runat="server">
    <input type='file' id="imgInp" />
    <img id="avatar-update" src="#" alt="your image" style="display: none;" />
</form> -->


{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
{% endblock %}

