{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:idm:myApplications:upload' %}{% endblock %}

{% block modal_id %}upload_image_modal{% endblock %}
{% block modal-header %}
	{% include "idm/myApplications/_steps.html" %}
{% endblock %}

{% block modal-body %}
 <fieldset>
    {% include "horizon/common/_form_fields.html" %}

</fieldset>
<div>
	{{ hola }}
	{{ imageURL }}
</div>

<!-- 	{%  if form.file %}
	   <img src="{{form.file.url }}" />
	{% endif %} -->

	

<!-- <div >
<form enctype="multipart/form-data" method="post" action="{% url 'horizon:idm:myApplications:upload' %}">
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    <img src="{{ form.file.url }}">
    </fieldset>
</div> -->
{% endblock %}

{% block modal-footer %}
    <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
{% endblock %}

