{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Applications" %}{% endblock %}

{% block page_header %}{% endblock page_header %}

{% block main %}
<div id="detailApplication">
    <header>
        <h4 class="name">
            {{ application_name }} 
            {% if edit %}
              <a href="{% url 'horizon:idm:myApplications:edit' application_id %}" class="small"><i class="fa fa-edit"></i>edit</a>
            {% endif %}
        </h4>
        <!--crear la carga de la imagen -->
        <div class="logo">

            <img alt="application logo" src="{{ image }}">

        </div> 
    </header>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="description">
                <h5>
                    Description
                </h5>
                <p>{{ description }}</p>
            </div>

            <div class="url">
                <h5>
                    URL
                </h5>      
                <p>{{ url }}</p>
            </div>

            <div class="callback_url">
                <h5>
                    Callback URL
                </h5>               
                <p>{{ callbackurl }}</p>
            </div>

            <div class="extra">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse_oauth2_credentials" aria-expanded="true" aria-controls="collapse_oauth2_credentials">
                  OAuth2 Credentials
                </a>
              </h4>
              <div id="collapse_oauth2_credentials" class="form-group collapse" role="tabpanel">
                <div>
                  <h6 class="panel-heading">
                      Client ID
                  </h6>               
                  <p>{{ application_id }}</p>
                </div>
                <div>
                  <h6 class="panel-heading">
                      Client Secret
                  </h6>               
                  <p>{{ application_secret }}</p>
                </div>
              </div>
            </div>
        </div>
    </div>


  <div class="panel panel-default members">
    <div class="panel-heading">
      {{ members_table }}  
    </div>
    <div class="panel-body">
      <div class="members-actions">
          <input type="text" class="form-control" placeholder="filter">
          {{ members_table.render_table_actions }}
      </div>
      {% if members_table.get_rows %}
        {{ members_table.render}}
      {% else %}
        <p class="alert alert-info empty"> {{ application_name }} does not have any authorized members.</p>
      {% endif %}
    </div>
  </div>

  <div class="panel panel-default organizations">
    <div class="panel-heading">
      {{ organizations_table }}  
    </div>
    <div class="panel-body">
      <div class="organizations-actions">
          <input type="text" class="form-control" placeholder="filter">
          {{ organizations_table.render_table_actions }}
      </div>
      {% if organizations_table.get_rows %}
        {{ organizations_table.render}}
      {% else %}
        <p class="alert alert-info empty"> {{ application_name }} does not have any authorized organizations.</p>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}

