{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:project:volumes:backups:restore' backup_id %}{% endblock %}

{% block modal_id %}restore_volume_backup_modal{% endblock %}
{% block modal-header %}{% trans "Restore Volume Backup" %}{% endblock %}

{% block modal-body %}
  <div class="left">
    <fieldset>
      {% include "horizon/common/_form_fields.html" %}
    </fieldset>
  </div>
  <div class="right">
    <p><strong>{% trans "Restore Backup" %}</strong>: {% trans "Select a volume to restore to." %}</p>
    <p>{% trans "Optionally, you may choose to create a new volume." %}</p>
  </div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Restore Backup to Volume"%}" />
  <a href="{% url 'horizon:project:volumes:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
