{% extends "django_openstack/nova/instances/base.html" %}
{% load i18n %}

{% block title %} - Cloud Computing{% endblock %}

{% block headerjs %}
<script type="text/javascript" src="{{ COMMON_MEDIA_PREFIX }}js/jquery.form.js"></script>
{% endblock %}

{% block content %}
<div id="right_content">
  <div id="page_head">
    <h2 id="page_heading">{% trans "Edit Instance" %}</h2>
    <p id="page_description">{% trans "From this page you can give your instance an alias, so you don't have to remember its unique id." %}</p>
  </div>

  <div class="dash_block first">
    <h3 class="image_id">{% trans "Edit Instance:" %} {{ instance.id }}</h3>

    <form class="edit_instance" id="rename_{{ selected_instance.id }}" action="{% url nova_instance_update project.projectname instance.id %}" method="post">
      <fieldset>
        {% csrf_token %}
        {% for field in update_form %}

          {{ field.label_tag }}
          {% if field.errors %}{{ field.errors }}{% endif %}
          {{ field }}
        {% endfor %}
        <input type="submit" value="{% trans "Update Instance" %}" />
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
