{% extends "django_openstack/nova/instances/base.html" %}
{% load i18n %}

{% block title %} - {{ project.projectname|capfirst }} Instances{% endblock %}
{% block pageclass %}instances{% endblock %}

{% block content %}
  <div id="page_head">
    <div id="spinner"></div>

    <h2 id="page_heading">{% trans "Instances" %}</h2>
    <p id="page_description">{% trans "Instances are virtual servers launched from images. You can launch instances from the" %} <a href="{% url nova_images project.projectname %}">images tab</a>.</p>
  </div>

  {% include "django_openstack/_messages.html" %}

  <div id="instances">
    {% include "django_openstack/nova/instances/_instances_list.html" %}
  </div>

  <div id="dlg_confirm" title="Confirm Termination" style="display:none;">
    <p>{% trans "Are you sure you wish to terminate instance" %} <span id="spn_terminate"></span>?</p>
  </div>

  <div id="connection_error" style="display:none;" title="Connection Error">
    <p><span class="ui-icon ui-icon-alert"></span>{% trans "A connection error has occurred. Please ensure you are still connected to VPN." %}</p>
  </div>
{% endblock %}

{% block footerjs %}
{{ block.super }}
<script type="text/javascript">

  $(function() {
    setInterval(function() {
      $('#spinner').show();
      {% if detail %}
        $('#instances').load('{% url nova_instances_refresh_detail project.projectname selected_instance.id %}', onInstancesUpdated);
      {% else %}
        $('#instances').load('{% url nova_instances_refresh project.projectname %}', onInstancesUpdated);
      {% endif %}
    }, 15000);

    initInstanceForms();

    $('#dlg_confirm').dialog({
      buttons: {
        'Ok': onConfirmOK,
        'Cancel': function() { $(this).dialog('close'); }
      },
      autoOpen: false,
      resizable: false,
      width: 500,
      height: 200
    });
  });

  var _terminateID = null;

  function initInstanceForms() {
    $('.form-terminate').submit(function() {
      _terminateID = $(this).children(':first').val()
      $('#spn_terminate').text(_terminateID);
      $('#dlg_confirm').dialog('open');
      return false;
    });
  }

  var counter = 0;

  function onInstancesUpdated(response, status, xhr) {
    $('#spinner').hide();

    switch(xhr.status) {
      case 200:
        initInstanceForms();
        break;

      case 403:
        document.location = '{% url auth_login %}';
        break;

      default:
        if (counter >= 1) {
          $('#connection_error').dialog({
            dialogClass: 'alert',
            modal: true,
            closeOnEscape: true,
            buttons:{ "Close": function() { $(this).dialog("close"); } },
          });
          $('#connection_error').dialog('open');
          counter = 0;
        } else {
          counter++;
        }
        break;
    }
  }

  function onConfirmOK() {
    $(this).dialog('close');
    form = document.getElementById('form_terminate_' + _terminateID);
    if(form) form.submit();
  }
</script>
{% endblock %}
