{% extends "django_openstack/nova/instances/base.html" %}
{% load i18n %}

{% block title %} - Cloud Computing{% endblock %}

{% block content %}

<div id="right_content">
  <div id="page_head">
    <h2 id="page_heading">{% blocktrans %}Instance ID: {{ instance.id }} Performance" {%endblocktrans%}</h2>
    <p id="page_description">{% trans Here you can see up to the minute performance data about your instance." %}</p>
  </div>

  {% include "django_openstack/_messages.html" %}

  <p>
    <h1>CPU Usage</h1>
    <h3>Today</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "cpu-1d.png" %}" />
  </p>
  <p>
    <h3>This Week</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "cpu-1w.png" %}" />
  </p>
  <p>
    <h3>This Month</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "cpu-1m.png" %}" />
  </p>

  <p>
    <h1>Network Activity</h1>
    <h3>Today</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "net-1d.png" %}" />
  </p>
  <p>
    <h3>This Week</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "net-1w.png" %}" />
  </p>
  <p>
    <h3>This Month</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "net-1m.png" %}" />
  </p>

  <p>
    <h1>Disk Activity</h3>
    <h3>Today</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "disk-1d.png" %}" />
  </p>
  <p>
    <h3>This Week</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "disk-1w.png" %}" />
  </p>
  <p>
    <h3>This Month</h3>
    <img src="{% url nova_instances_graph project.projectname instance.id "disk-1m.png" %}" />
  </p>
</div>

{% endblock %}
