{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  <div id='page_header'>
    <h2>Objects</h2>
    <div class="right">
      <div class='search'>
        {% include 'django_openstack/dash/objects/_filter.html' with form=filter_form %}
      </div>
      <a class="refresh" title="Refresh" href="{% url dash_objects request.user.tenant_id container_name %}">{% trans "Refresh List"%}</a>
    </div>
  </div>
{% endblock %}

{% block dash_main %}
  <h3 class="container_name"><span>Container:</span> {{ container_name }}</h3>

  {% if objects %}
    {% include 'django_openstack/dash/objects/_list.html' %}
  {% else %}
    <div class="message_box info">
      {% url dash_objects_upload request.user.tenant_id container_name as dash_obj_up_url %}
      <h2>Info</h2>
      <p>{% blocktrans %}There are currently no objects in the container {{container_name}}.  You can upload a new object from the <a href='{{dash_obj_up_url}}'>Object Upload Page &gt;&gt;</a>{% endblocktrans %}</p>
    </div>
  {% endif %}
  <a class="action_link large-rounded" href="{% url dash_objects_upload request.user.tenant_id container_name %}">{% trans "Upload New Object &gt;&gt;"%}</a>

{% endblock %}
