<table st-table="trModel.displayedAllocated" st-safe-src="trModel.allocated"
  hz-table class="table-striped table-rsp table-detail modern">
  <thead>
    <tr>
      <!-- <th class="reorder"></th> -->
      <th class="expander"></th>
      <th class="rsp-p1">Name</th>
      <th class="rsp-p1">VCPUs</th>
      <th class="rsp-p1">RAM</th>
      <th class="rsp-p2">Total Disk</th>
      <th class="rsp-p2">Root Disk</th>
      <th class="rsp-p3">Ephemeral Disk</th>
      <th class="rsp-p3">Public</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="trModel.allocated.length === 0">
      <td colspan="10">
        <div class="no-rows-help">
          {$ ::trCtrl.helpText.noneAllocText $}
        </div>
      </td>
    </tr>
    <tr ng-repeat-start="row in trModel.displayedAllocated track by row.id">
      <!-- lr-drag-data="trModel.displayedAllocated" lr-drag-src="reorder"
      lr-drop-target="reorder" lr-drop-success="trCtrl.updateAllocated(e, item, collection)"> -->
      <!-- <td class="reorder">
        <span class="fa fa-sort" title="{$ ::trCtrl.helpText.orderText $}"></span>
        {$ $index + 1 $}
      </td> -->
      <td class="expander">
        <span class="fa fa-chevron-right" hz-expand-detail
          title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
      </td>
      <td class="rsp-p1">{$ row.name $}</td>
      <td class="rsp-p1">{$ row.vcpus $}</td>
      <td class="rsp-p1">{$ row.ram $}</td>
      <td class="rsp-p2">{$ row.totalDisk $}</td>
      <td class="rsp-p2">{$ row.rootDisk $}</td>
      <td class="rsp-p3">{$ row.ephemeralDisk $}</td>
      <td class="rsp-p3">{$ row.isPublic $}</td>
      <td class="action-col">
        <action-list>
          <action action-classes="'btn btn-sm btn-default'"
            callback="trCtrl.deallocate" item="row">
            <span class="fa fa-minus"></span>
          </action>
        </action-list>
      </td>
    </tr>
    <tr ng-repeat-end class="detail-row">
      <!-- <td></td> -->
      <td></td>
      <td colspan="7" class="detail">
        <ul>
          <li>Name: {$ row.name $}</li>
          <li>Name: {$ row.vcpus $}</li>
          <li>Name: {$ row.ram $}</li>
          <li>Name: {$ row.totalDisk $}</li>
          <li>Name: {$ row.rootDisk $}</li>
          <li>Name: {$ row.ephemeralDisk $}</li>
          <li>Name: {$ row.isPublic $}</li>
        </ul>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>