<transfer-table tr-model="tableData" limits="limits">
  <available>
    <table st-table="tableData.available" hz-table>
      <thead>
        <tr>
          <th>Animal</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in tableData.available"
            ng-if="!trCtrl.allocatedIds[row.id]">
          <td>{$ row.animal $}</td>
          <td>
            <action-list>
              <action callback="trCtrl.allocate" item="row">x</action>
            </action-list>
          </td>
        </tr>
      </tbody>
    </table>
  </available>
  <allocated>
    <table st-table="tableData.allocated" hz-table>
      <thead>
        <tr>
          <th>Animal</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alRow in tableData.allocated">
          <td>{$ alRow.animal $}</td>
          <td>
            <action-list>
              <action callback="trCtrl.deallocate" item="alRow">x</action>
            </action-list>
          </td>
        </tr>
      </tbody>
    </table>
  </allocated>
</transfer-table>