{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="networks" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_networks_detail request.user.tenant_id network.id as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=network.name refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block breadcrumbs %}
    <a href="{% url dash_networks tenant %}">Networks</a>&nbsp;&raquo;&nbsp;
    <a href="{% url dash_networks_detail tenant network.id %}">{{network.name}}</a>
{% endblock %}

{% block dash_main %}
  {% if network.ports %}
    {% include 'django_openstack/dash/networks/_detail.html' %}
    <a id="network_create_link" class="action_link large-rounded" href="{% url dash_ports_create request.user.tenant_id network.id %}">{% trans "Create Ports"%}</a>
  {% else %}
    <div class="message_box info">
     <h2>{% trans "Info"%}</h2>
     <p>{% trans "There are currently no ports in this network."%} <a href="{% url dash_ports_create request.user.tenant_id network.id %}">{% trans "Create Ports"%} &gt;&gt;</a></p>
    </div>
  {% endif %}
{% endblock %}
