{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="networks" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Rename Network") %}
{% endblock page_header %}

{% block headerjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('input#id_new_name').val('{{network.network.name}}');
    });
</script>
{% endblock headerjs %}

{% block dash_main %}
  <div class="dash_block">
    <div class="left">
      {% include 'django_openstack/dash/networks/_rename_form.html' with form=rename_form %}
      <h3><a href="{% url dash_networks request.user.tenant_id %}"><< {% trans "Return to networks list"%}</a></h3>
    </div>

    <div class="right">
      <h3>{% trans "Rename"%}:</h3>
      <p>{% trans "Enter a new name for your network."%}</p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
{% endblock %}

