{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_usage_report_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:metering:create' %}{% endblock %}

{% block modal_id %}create_usage_report_modal{% endblock %}
{% block modal-header %}{% trans "Modify Usage Report Parameters" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Select a pre-defined period or specify date." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "View Usage Report" %}" />
  <a href="{% url 'horizon:admin:metering:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}

{% block modal-js %}
<script type="text/javascript">
  if (typeof horizon.metering !== 'undefined') {
    horizon.metering.init_create_usage_report_form();
  } else {
    addHorizonLoadEvent(function() {
      horizon.metering.init_create_usage_report_form();
    });
  }
</script>
{% endblock %}
