{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}copy_object_form{% endblock %}
{% block form_action %}{% url horizon:nova:containers:object_copy container_name object_name %}{% endblock %}

{% block modal-header %}Copy Object: {{ object_name }}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "You may make a new copy of an existing object to store in this or another container." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn primary pull-right" type="submit" value="{% trans "Copy Object" %}" />
    <a href="{% url horizon:nova:containers:object_index container_name %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
