{% extends 'nova/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="containers" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  <div class='page-header'>
    <h2>Objects <small>Container: {{container_name}}</small></h2>
  </div>
{% endblock page_header %}

{% block dash_main %}
  {% if objects %}
    {% include 'nova/objects/_list.html' %}
  {% else %}
    <div class="alert-message block-message info">
      {% url horizon:nova:containers:object_upload container_name as dash_obj_up_url %}
      <p><strong>{% trans "Info: "%}</strong>{% trans "There are currently no objects in the container."%} <a class="btn small" href='{{dash_obj_up_url}}'>{% trans "Object Upload Page"%}</a></p>
    </div>
  {% endif %}
{% endblock %}
