<!-- Dropdown link - note target attribute to avoid angular routing -->
<a tabindex="0"
  class="split-button {$ disabled ? 'disabled' : '' $}"
  ng-class="actionClasses" target="_self"
  href="{$ callback(item) $}" ng-click="$event.stopPropagation()">
  <ng-transclude></ng-transclude>
</a><!-- don't put a new line here. --><button class="split-caret dropdown-toggle" dropdown-toggle
  ng-class="actionClasses"
  aria-expanded="false" ng-click="$event.stopPropagation()">
  <span class="fa fa-caret-down"></span>
  <span class="sr-only" translate>Toggle Dropdown</span>
</button>
