{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Data Processing" %}{% endblock %}

{% block main %}

    <div class="guide">
     <ul>
      <li>
          <div>
             <div>{% blocktrans %}
                 Each of the Data Processing frameworks require a cluster of machines
                 in order to do the work they are assigned.  A cluster is
                 formed by creating a set of Node Group Templates, combining
                 those into a Cluster Template and then launching a Cluster.
                 You can do each of those steps manually, or you can follow
                 this guide to help take you through the steps of
                 Cluster creation.
             {% endblocktrans %}
             </div>
            <div>
              <a id="cluster_guide_btn"
                 class=" btn btn-default btn-small btn-create btn-inline"
                 title="{% trans "Cluster Guide" %}"
                 href="{% url 'horizon:project:data_processing.wizard:cluster_guide' %}">
                  {% trans "Cluster Creation Guide" %}
              </a>
            </div>
          </div>
      </li>
      <li>
          <div>
            <div>{% blocktrans %}
                  In order to run a Data Processing job, you need to make
                  the files for your program available to the
                  Data Processing system, define where the input and output
                  need to go and create a Job Template that describes
                  how to run your job.  Each of those steps can be done
                  manually or you can follow this guide to help take you
                  through the steps to run a job on an existing cluster.
            {% endblocktrans %}
            </div>
            <div>
                <a id="jobex_guide_btn"
                   class=" btn btn-default btn-small btn-create btn-inline"
                   title="{% trans "Job Execution Guide" %}"
                   href="{% url 'horizon:project:data_processing.wizard:jobex_guide' %}">
                    {% trans "Job Execution Guide" %}
                 </a>
             </div>
           </div>
          </li>
      </ul>
    </div>

{% endblock %}
