{% load i18n %}

<noscript><h3>{{ step }}</h3></noscript>

<div class="project_membership">
  <div class="header">
    <div class="help_text">{% trans "From here you can add and remove members to this project from the list of all available users." %}</div>
    <div class="left">
      <div class="fake_table fake_table_header">
        <span class="users_title">{% trans "All Users" %}</span>
        <input type="text" name="available_users_filter" id="available_users" class="filter" value="Filter">
      </div>
    </div>
    <div class="right">
      <div class="fake_table fake_table_header">
        <span class="users_title">{% trans "Project Members" %}</span>
        <input type="text" name="project_members_filter" id="project_members" class="filter" value="Filter">
      </div>
    </div>
  </div>

  <div class="left filterable">
    <div class="fake_table" id="available_users">
      <ul class="available_users"></ul>
      <ul class="no_results" id="no_available_users"><li>{% trans "No users found." %}</li></ul>
    </div>
  </div>

  <div class="right filterable">
    <div class="fake_table" id="project_members">
      <ul class="project_members"></ul>
      <ul class="no_results" id="no_project_members"><li>{% trans "No users found." %}</li></ul>
    </div>
  </div>
</div>

<div class="hide">
  {% include "horizon/common/_form_fields.html" %}
</div>
