{% extends "horizon/client_side/template.html" %}
{% load horizon i18n %}

{% block id %}balloon_container{% endblock %}

{% block template %}
{% jstemplate %}
<div class="topologyBalloon" id="[[balloon_id]]">
  <a href="#close" class="closeTopologyBalloon">&times;</a>
  <div class="contentBody">
    [[> table1]]
    [[> table2]]
  </div>
  <div class="footer">
    <div class="footerInner">
      <div class="cell link">
        <a href="[[url]]">» [[view_details_label]]</a>
          {% comment %}The console link will only appear if the console item is defined
          on the javascript side while rendering the template.{% endcomment %}
            [[#console]]
            <a href="[[url]][[console]]" class="vnc_window">» [[open_console_label]]</a>
            [[/console]]
      </div>
      [[#type]]
      <div class="cell delete">
        <button class="delete-device btn btn-danger btn-xs [[type]]"
          data-type="[[type]]" data-device-id="[[id]]"
          help_text="{% trans "This action cannot be undone." %}">
            [[delete_label]]
        </button>
      </div>
      [[/type]]
    </div>
  </div>
</div>
{% endjstemplate %}
{% endblock %}
