{% load django_openstack_tags i18n %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% trans "Expired Token" %}</title>
  </head>
  <body>
    <center>
      <h1>{% trans "The link you clicked has expired." %}</h1>
      {%save_site_branding as brand%}
      <p style="width:460px;">{%blocktrans%}This credentials download link you have reached
      is either invalid or has expired. Each link is only good for one use. If
      you need to download your credentials again, please contact the
      {{brand}} support team.{%endblocktrans%}</p>
   </center>
  </body>
</html>
