{% extends "base.html" %}
{% block region %}{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Change your password below.</h2>
    <p id="page_description">To complete the reset of your password, fill out the form below.</p>
  </div>

  <div id="home_login" class="block reset">
    <h3>Reset Password</h3>
    <form action="" method="post">
      <fieldset>
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New Password:</label>{{form.new_password1 }}

        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm Password:</label>{{ form.new_password2 }}
        <input id="bnt_set_password" type="submit" value="Set my password" />
      </fieldset>
    </form>
  </div>
{% endblock %}
