{% extends "base.html" %}
{% block region %}{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div id="page_head">
  <h1>Change Password</h1>
  <p id="page_description">To change your password, complete the form below.</p>
</div>

<div id="home_login" class="block reset">
  <h3>Change Password</h3>
  <form action="" method="post">
    <fieldset>
      {% csrf_token %}
      {{ form.as_p }}
      <input id="bnt_set_password" type="submit" value="Set my password" />
    </fieldset>
  </form>
</div>
{% endblock %}
