{% extends "base.html" %}
{% block region %}{% endblock %}

{% block title %}Registration Complete{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Registration complete</h2>
  </div>

  <div class="ui-state-highlight ui-corner-all success">
    <span class="close ui-icon ui-icon-circle-close" style="display:none;"></span>
    <p>
      <span class="ui-icon ui-icon-check"></span>
      Your account has been created.
    </p>
  </div>
  <p>
    Soon you will receive instructions for activating your account in your inbox.
    Please follow the activation link provided in the message to complete your registration.
  </p>
{% endblock %}
