{% load i18n %}
        {% if keypairs %}
        <table style="width: 100%">
          <tr>
            <th>Key Pair Name</th>
            <th>Fingerprint</th>
            <th>&nbsp;</th>
          </tr>
          {% for keypair in keypairs %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ keypair.name }}</td>
            <td class="odd">{{ keypair.fingerprint }}</td>
            <td>
              <form id="form_key_delete_{{keypair.name}}" class="form-key-delete" method="post" action="{% url nova_keypairs_delete project.projectname %}">
                <input name="key_name" type="hidden" value="{{ keypair.name }}" />
                <input id="keypair_delete_{{keypair.name}}" class="delete" type="submit" value="Delete" />
                {% csrf_token %}
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <div class="ui-widget">
          <div class="ui-state-highlight ui-corner-all">
            <p>
              <span class="ui-icon ui-icon-info"></span>
              {% trans "No key pairs currently exist."%}
            </p>
          </div>
        </div>
        {% endif %}
