{%load i18n%}
{% load parse_date %}
<table id="images" class="wide">
  <tr>
    <th>{%trans "ID"%}</th>
    <th>{%trans "Name"%}</th>
    <th>{%trans "Created"%}</th>
    <th>{%trans "Updated"%}</th>
    <th colspan="2">{%trans "Status"%}</th>
  </tr>
  {% for image in images %}
  <tr class="{% cycle 'odd' 'even' %}">
      <td>{{image.id}}</td>
      <td>{{image.name}}</td>
      <td>{{image.created_at|parse_date}}</td>
      <td>{{image.updated_at|parse_date}}</td>
      <td>{{image.status|capfirst}}</td>
      <td id="actions">
          <ul>
      {% if image.owner == request.user.username %}
            <li class="form">{% include "django_openstack/dash/images/_delete.html" with form=delete_form %}</li>
            <li><a href="{% url dash_images_update request.user.tenant_id image.id %}">{%trans "Edit"%}</a></li>
      {% endif %}
            <li><a id="launch_{{image.id}}" class="launch" href="{% url dash_images_launch request.user.tenant_id image.id %}">{%trans "Launch"%}</a></li>
          </ul>
        </td>
  </tr>
  {% endfor %}
</table>
