{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}
{% block sidebar %}
  {% with current_sidebar="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_images request.user.tenant_id as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Images") refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  {% if images %}
    {% include 'django_openstack/dash/images/_list.html' %}

    {% else %}
      <div class="message_box info">
        <h2>{% trans "Info"%}</h2>
        <p>{% trans "There are currently no images."%}</p>
      </div>
    {% endif %}
{% endblock %}
