{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="images" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Launch Instance") %}
{% endblock page_header %}

{% block dash_main %}
  <div class="dash_block">
    <div class="left">
      {% include 'django_openstack/dash/images/_launch.html' %}
    </div>
    <div class="right">
      <h3>{% trans "Description:"%}</h3>
      <p>{% trans "Specify the details for launching an instance. Also please make note of the table below; all tenants have quotas which define the limit of resources you are allowed to provision."%}</p>
      <table border="0">
        <tr>
          <th>{% trans "Quota Name"%}</th>
          <th>{% trans "Limit"%}</th>
        </tr>
        <tr>
          <td>{% trans "RAM (MB)"%}</td>
          <td>{{quotas.ram}}MB</td>
        </tr>
        <tr>
          <td>{% trans "Floating IPs"%}</td>
          <td>{{quotas.floating_ips}}</td>
        </tr>
        <tr>
          <td>{% trans "Instances"%}</td>
          <td>{{quotas.instances}}</td>
        </tr>
        <tr>
          <td>{% trans "Volumes"%}</td>
          <td>{{quotas.volumes}}</td>
        </tr>
        <tr>
          <td>{% trans "Gigabytes"%}</td>
          <td>{{quotas.gigabytes}}GB</td>
        </tr>
      </table>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
{% endblock %}
