.presentation{
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  @include make-sm-column-offset(1);
  @include make-md-column-offset(1);
  @include make-lg-column-offset(1);
  clear: none;
  padding: 0;
  .help-box{
    margin-top: 20px;
    font-size: 12px;
  }
  .media{
    background-color: $gray-lighter;
    font-size: 12px;
    margin-top: 0px;
    padding: 15px;
    h3{
      font-family: $corporate-font-family-sans-serif-Regular;
      margin-bottom: 7px;
      color: $brand-secundary;
    }
    span{
      font-size: 13px;
      color: $brand-primary;
      display: block;
      margin: -5px 0 9px;
      letter-spacing: 0.1rem;
    }
    .sign_up{
      float: right;
      margin-top: 4px;
    }
  }
}

.help-bar{
  width: 100%;
  .row{
    margin: 0;
  }
}

.help-box{
  @include make-sm-column(6, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  min-height: 57px;
  margin-bottom: 1px;
  padding: 0 10px 0 0;
  &:last-child{
    padding: 0 0 0 10px;
  }

  div{
    padding: 5px 10px;
    background-color: $gray-lighter;
  }
  header{
    padding: 5px 10px 4px 10px;
    min-height: 19px;
    background-color: $brand-secundary;
    i{
      float: right;
      margin-top: 5px;
      color: $white;
    }
    &:hover{
      background-color: darken($brand-secundary, 15%);
    }
  }
  img{
    display: inline;
    width: 22px;
    margin-top: -3px;
    margin-right: 4px;
  }
  h5{ 
    color: #fff;
    line-height: 0;
    display: inline-block;
  }
  &:hover{
    text-decoration: none;
  }
} 

.view-more{
  margin-top: 10px;
  margin-bottom: 10px;
  a{
    color: $brand-primary;
    text-decoration: none;
    .icon_tool16-more{
      margin-right: 6px;
    }
  }
}




.login,
.registration{
  @include make-sm-column(4, $gutter: $grid-gutter-width);
  @include make-md-column(3, $gutter: $grid-gutter-width);
  @include make-lg-column(3, $gutter: $grid-gutter-width);
  @include make-sm-column-offset(1);
  @include make-md-column-offset(1);
  @include make-lg-column-offset(1);
  @extend .well;
  @include border-top-radius (0);
  @include border-bottom-radius (0);
  @media (max-width: $screen-sm-min){
    margin-top: 40px; 
  }
  .modal-header{
    @include modal-header;
  }
  .modal-footer{
    padding: 15px 0 0;
    .checkbox{
      label{
        margin-top: -4px;
      }
    }
  }
}

.control-label{
  font-weight: normal;
  color: #C6C6C7;
  margin-bottom: 4px;
}

.conditions{
  font-size: 10px;
  text-align: left;
  margin-bottom: 15px;
  float: left;
    a{
    text-decoration: underline;
  }
  #inlineCheckbox1{ 
    margin-top: 2.2px;
  }
}

.actions{
  clear: both;
  text-align: left;
  padding-top: 10px;
  a{
    border-right: 1px solid $gray-light;
    padding-right: 6px;
    padding-left: 10px;
    font-size: 12px;
    float: left;
    &:first-child{
      padding-left: 0px;
    }
    &:last-child{
      border-right: none;
      float: none;
    }
  }
}
#recaptcha_image{
  width: 100% !important;
  margin-bottom: 10px;
  img{
    width: 100%;
  }
}

.input-group .input-group-addon {
  padding: 11px 6px !important;
  border: none !important;
  border-left: 1px solid #C2C2C2 !important;
}

.login,
.registration,
.remember-password,
.resend-confirmation-instructions{
  .modal-body{
    padding: 0;
  }
}


.remember-password,
.resend-confirmation-instructions{
  @include make-sm-column(4, $gutter: $grid-gutter-width);
  @include make-md-column(4, $gutter: $grid-gutter-width);
  @include make-lg-column(4, $gutter: $grid-gutter-width);
  @include make-sm-column-offset(4);
  @include make-md-column-offset(4);
  @include make-lg-column-offset(4);
  @extend .well;
  @include border-top-radius (0);
  @include border-bottom-radius (0);
  .modal-header{
    @include modal-header;
  }
  .modal-footer {
    padding: 15px 0 0 0;
  }
}



.glyphicon{
  @extend .fa;
}
.glyphicon-eye-open{
  @extend .fa-eye;
}

