#home{
  .applications{
    @include make-sm-column(6, $gutter: $grid-gutter-width);
    @include make-md-column(6, $gutter: $grid-gutter-width);
    @include make-lg-column(6, $gutter: $grid-gutter-width);
  }
  .tenants{
    @include make-sm-column(5, $gutter: $grid-gutter-width);
    @include make-md-column(5, $gutter: $grid-gutter-width);
    @include make-lg-column(5, $gutter: $grid-gutter-width);
    @include make-sm-column-offset(1);
    @include make-md-column-offset(1);
    @include make-lg-column-offset(1);
    .list-group-item{
      @include switch-hover;
      button.btn-link{
        margin-left: 0 !important;
      }
    }
  }
  .applications,
  .tenants {
    padding: 0;
    .panel-heading{
      font-family: $corporate-font-family-sans-serif-Regular;
    }
    .panel-body{
      min-height: 295px;
      max-height: 295px;
      overflow-x: hidden;
      overflow-y: scroll;
      @media (max-width: $screen-sm-min){
        min-height: 15px;
      }
    }
    .sortable{
      @extend .data;
    }
  }
}
