#create_application_modal,
#create_application_roles,
#upload_image_modal{
  @extend .well;
  textarea {
    min-height: 40px;
  }
  .modal-header{
    padding: 0;
    min-height: 32px;
    border-bottom: 1px solid transparent;
    h3{
      font-size: 17px !important;
      color: #48B9C9;

      .steps-group {
        position: relative;
        z-index: 100;
        .step{
          display: inline-block;
          background-color: $white;
          margin-right: 100px;
          border: 2px solid $gray-light;
          color: $gray-light;
          padding: 6px 0 0;
          height: 28px;
          width: 28px;
          text-align: center;
          font-size: 14px;
          @include border-top-radius (27px);
          @include border-bottom-radius (27px);
          position: relative;
          z-index: 2;
          &:last-child{
            margin-right: 0px;
          }
          @media (max-width: $screen-xs-min){
            margin-right: 45px;
          }
        }
        .line{
          position: relative;
          z-index: 1;
          height: 2px;
          margin-top: -15px;
          width: 291px;
          background-color: $gray-light;
          position: relative;
          z-index: 1;
          @media (max-width: $screen-xs-min){
            width: 175px;
          }
        }
      }
      .steps-group .completed{
        color: darken($gray-light, 20%) !important;
        border: 2px solid darken($gray-light, 20%) !important;
      }
      div.active {
        border: 2px solid $brand-secundary !important;
        color: $brand-primary !important;
      }
    }
  }
}


.site-client-roles{
  .list-group-item{
    min-height: 46px !important;
    margin-left: 0;
    width: 100%;

    span{
      float: right;
      a:first-child{margin-right:4px;}
    }

    .btn{
      padding: 8px;
    }
  }
}

.site_client_roles header{
    position: absolute;
    margin-top: -23px;
}
#new_relation{
  h4{
    margin-bottom: 10px;
    clear: both;
    min-height: 10px;
  }
  a{
    float: right;
  }
  .input-group{
    clear: both;
    .input-group-addon{
      padding: 0 !important;
      margin: 0 !important;
      background: rgba(0, 0, 0, 0);
      border: none;
    }
  }
}

#role_list {
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-md-column(5, $gutter: $grid-gutter-width);
  @include make-lg-column(5, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    padding-left: 0;
    padding-right: 0;
  }
  .role{
    text-align: left;
    position: relative;
    height: 34px;
    padding-top: 7px;
    a{
      position: absolute;
    }
    .ajax-inline-edit{
      right: 27px;
      top: 8px;
    }
    .ajax-modal{
      right: 7px;
    }
  }
}

#add_permission{
  .modal-content{
    padding: 10px 15px;
    .panel-body{
      padding: 10px;
    }
  }
}

#permissions_list{
  @include make-sm-column(7, $gutter: $grid-gutter-width);
  @include make-md-column(7, $gutter: $grid-gutter-width);
  @include make-lg-column(7, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    padding-left: 0;
    padding-right: 0;
  }
}

.permissions_list,
.role_list{
  header{
    min-height: 26px;
    h4{
      display: inline;
    }
    button{
      float:right;
      background-color: transparent;
      padding: 0 1px 0 0;
      margin-top: -2px;
      &:hover{
        color: $brand-secundary;
      }
    }
  }
  .btn-group-vertical{
    width: 95%;
  }
  .list-group-item{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    .normal_column{
      .data{
        margin-top: 5px;
        margin-left: 2px;
      }
    }
    .ajax-inline-edit{ 
      @extend .btn;
      @extend .btn-default;
      position: absolute;
      right: 27px;
      top: 9px;
    }
    .inline-edit-form{
      margin-top: -1px;
      input{
        &[type="text"]{
          width: 100% !important;
          height: 30px !important;
          position: absolute !important;
        }
      }
    }
    .inline-edit-actions{
      margin-right: 30px;
      position: absolute;
      right: -3px;
    }
    .actions_column{
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  .collapse{
    .modal-header{
      display: none;
    }
  }
}


.permissions_list{
  .alert{
    margin-top: 10px;
  }
  li{
    background-color: $white;
    color: #C5C5C5;
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:first-child{
      border-top: none;
    }
    &:hover{
      text-decoration: none;
      background-color: $gray-lighter;
    }
    i{
      margin-right: 5px;
      min-width: 14px;
      @include opacity (0);
    }
  }
  li.active{
    text-decoration: none;
    background-color: $gray-lighter;
    color: $text-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding-left: 10px;
    i{
      @include opacity (1);
      color: $brand-primary;
    }
    &:hover{
      text-decoration: none;
      background-color: #E2E2E2;
      color: $text-color;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
  hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top: 1px solid $gray !important;
  } 
}

#collapse_oauth2_credentials {
  .btn-link{
    margin-top: -6px;
  }
}


.workflow-roles{
  .modal-dialog {
    width: 100%;
    margin: 10px 0 0;
    .modal-content {
      box-shadow: none;
      border: none;
      margin-top: 20px;
      padding-bottom: 0;
    }
    .modal-footer {
      border-top: none;
      margin-top: 20px;
      padding-bottom: 0;
    }
  }
}

#edit{
  .modal{
  top: 0 !important;
  }
  .modal-header {
    padding: 0px 0px 5px;
    border-bottom: 1px solid $border-color;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    padding: 15px 0;
    border-top: 1px solid $border-color;
  }
}

#fiware_roles_roles{ 
  .static_page{
    .modal-header{
      display: none;
    }
    .modal-body{
      padding: 0;
      .form-group {
        padding: 0;
        margin-bottom: 0;
      }
      label.control-label{
        display: none;
      }
    }
    .modal-footer{
      margin: -27px 9px 0 0;
      position: relative;
      padding: 0;
      float: right;
      .fa-check{
        margin-right: 4px;
      }
    }
  }
}