#create_application_modal,
#create_application_roles,
#upload_image_modal{
  @extend .well;
  textarea {
    min-height: 40px;
  }
  .modal-header{
    padding: 0;
    min-height: 32px;
    border-bottom: 1px solid transparent;
    h3{
      font-size: 17px !important;
      color: #48B9C9;

      .steps-group {
        position: relative;
        z-index: 100;
        .step{
          display: inline-block;
          background-color: $white;
          margin-right: 100px;
          border: 2px solid $gray-light;
          color: $gray-light;
          padding: 6px 0 0;
          height: 28px;
          width: 28px;
          text-align: center;
          font-size: 14px;
          @include border-top-radius (27px);
          @include border-bottom-radius (27px);
          position: relative;
          z-index: 2;
          &:last-child{
            margin-right: 0px;
          }
          @media (max-width: $screen-xs-min){
            margin-right: 45px;
          }
        }
        .line{
          position: relative;
          z-index: 1;
          height: 2px;
          margin-top: -15px;
          width: 291px;
          background-color: $gray-light;
          position: relative;
          z-index: 1;
          @media (max-width: $screen-xs-min){
            width: 175px;
          }
        }
      }
      .steps-group .completed{
        color: darken($gray-light, 20%) !important;
        border: 2px solid darken($gray-light, 20%) !important;
      }
      div.active {
        border: 2px solid $brand-secundary !important;
        color: $brand-primary !important;
      }
    }
  }
}



.site-client-roles{
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(12, $gutter: $grid-gutter-width);
  @include make-lg-column(12, $gutter: $grid-gutter-width);
  padding: 25px 0 0px;
  margin: 0 0 20px;
}
.site-client-roles{
  .list-group-item{
    min-height: 46px !important;
    margin-left: 0;
    width: 100%;

    span{
      float: right;
      a:first-child{margin-right:4px;}
    }

    .btn{
      padding: 8px;
    }
  }
}

.site_client_roles header{
    position: absolute;
    margin-top: -23px;
}
#new_relation{
  h4{
    margin-bottom: 10px;
    clear: both;
    min-height: 10px;
  }
  a{
    float: right;
  }
  .input-group{
    clear: both;
    .input-group-addon{
      padding: 0 !important;
      margin: 0 !important;
      background: rgba(0, 0, 0, 0);
      border: none;
    }
  }
}

.site-client-roles{
  .data{
    float: left;
  }
  .btn-link{
    float: right;
    border: rgba(0, 0, 0, 0);
    &:hover{
      border: transparent;
      color: $brand-secundary;
    }
  }
  .panel-title {
    margin-bottom: 0;
    text-align: right;
    font-size: 15px;
    padding-top: 10px;
    color: inherit;
    border-top: 1px solid #DDD;
  }
}
#add_permission{
  .modal-content{
    padding: 10px 15px;
    .panel-body{
      padding: 10px;
    }
  }
}

.relation_list{
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-md-column(5, $gutter: $grid-gutter-width);
  @include make-lg-column(5, $gutter: $grid-gutter-width);
  @media (max-width: $screen-sm-min){
    padding-left: 0;
    padding-right: 0;
  }
  .btn-group-vertical{ 
    label{
      margin-bottom: 6px;
      @include border-top-radius ($border-radius-base !important);
      @include border-bottom-radius ($border-radius-base !important);
      text-align: left;
      i{
        float: right;
        margin-top: 2px;
        margin-left: 4px;
      }
      i.fa-edit{
        margin-top: 3px;
      }
      input{
        &[type="text"]{
          width: 94%;
          background-color: #DDD;
          border: none;
        }
      }
    }
    label.edit{
      background-color: #DDD;
    }
    .active{
      box-shadow: none;
    }
  }
}
.permissions_list,
.relation_list{
  header{
    min-height: 26px;
    h4{
      display: inline;
    }
    button{
      float:right;
      background-color: transparent;
      padding: 0 1px 0 0;
      margin-top: -2px;
      &:hover{
        color: $brand-secundary;
      }
    }
  }
  .btn-group-vertical{
    width: 95%;
  }
  .list-group-item{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    .normal_column{
      .data{
        margin-top: 5px;
        margin-left: 2px;
      }
    }
    .ajax-inline-edit{ 
      @extend .btn;
      @extend .btn-default;
      position: absolute;
      right: 27px;
      top: 9px;
    }
    .inline-edit-form{
      margin-top: -1px;
      input{
        &[type="text"]{
          width: 100% !important;
          height: 30px !important;
          position: absolute !important;
        }
      }
    }
    .inline-edit-actions{
      margin-right: 30px;
      position: absolute;
      right: -3px;
    }
    .actions_column{
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  .collapse{
    .modal-header{
      display: none;
    }
  }
}


.permissions_list{
  @include make-sm-column(6, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  border-left: 1px solid $gray-light;
  @media (max-width: $screen-sm-min){
    border-left: none;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .alert{
    margin-top: 10px;
  }
  li{
    background-color: $gray-lighter;
    color: #5B5B5F;
    white-space: nowrap;
    padding: 7px 10px;
    background-color: #B3B3B3;
    &:first-child{
      border-top: none;
    }
    &:hover{
      text-decoration: none;
      background-color: #D8D8D8;
    }
    i{
      margin-right: 5px;
      min-width: 14px;
      @include opacity (0);
    }
  }
  li.active{
    text-decoration: none;
    background-color: $white;
    border-color: #ddd;
    color: $text-color;
    i{
      @include opacity (1);
    }
    &:hover{
      text-decoration: none;
      background-color: #ECECEC;
      color: $text-color;
      border: transparent;
    }
  }
  hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-top: 1px solid $gray !important;
  } 
}
#collapse_oauth2_credentials {
  .btn-link{
    margin-top: -6px;
  }
}








.site-client-roles{}

