#create_application_modal,
#upload_image_modal{
   @extend .well;
  .modal-header{
    padding: 0;
    margin-bottom: 15px;
    h3{
      margin: 0;
      .steps-group div{
        display: inline-block;
        margin-right: 100px;
        border-bottom: 5px solid $gray-light;
        color: $gray-light;
        padding-bottom: 3px;
        font-size: 2rem;
        &:last-child{
          margin-right: 0px;
        }
      }
      .steps-group .completed{
        color: darken($gray-light, 20%);
        border-bottom: 5px solid darken($gray-light, 20%);
      }
      div.active {
        border-bottom: 5px solid $brand-secundary;
        color: $brand-primary;
      }
    }
  }
  textarea {
    min-height: 40px;
    max-height: 55px;
    resize: none;
  }
}

#avatar-update {
  width: 60%;
  margin-top: 15px;
}

.site-client-roles{ 
  .radio{
    float: none;
  }
}