#create_application_modal,
#upload_image_modal{
   @extend .well;
  .modal-header{
    padding: 0;
    margin-bottom: 15px;
    h3{
      margin: 0;
      .steps-group div{
        display: inline-block;
        margin-right: 100px;
        border-bottom: 5px solid $gray-light;
        color: $gray-light;
        padding-bottom: 3px;
        font-size: 2rem;
        &:last-child{
          margin-right: 0px;
        }
      }
      .steps-group .completed{
        color: darken($gray-light, 20%);
        border-bottom: 5px solid darken($gray-light, 20%);
      }
      div.active {
        border-bottom: 5px solid $brand-secundary;
        color: $brand-primary;
      }
    }
  }
  textarea {
    min-height: 40px;
    max-height: 55px;
    resize: none;
  }
}



.site-client-roles{
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(12, $gutter: $grid-gutter-width);
  @include make-lg-column(12, $gutter: $grid-gutter-width);
  padding: 25px 0 0px;
  margin: 0 0 20px;
}
.site-client-roles{  
  .list-group-item{
    min-height: 46px !important;
    margin-left: 0;
    width: 100%;

    span{
      float: right;
      a:first-child{margin-right:4px;}
    }

    .btn{
      padding: 8px;
    }
  }
}

.site_client_roles header{
    position: absolute;
    margin-top: -23px;
}
#new_relation{
  h4{
    margin-bottom: 10px;
    clear: both;
    min-height: 10px;
  }
  a{
    float: right;
  }
  .input-group{
    clear: both;
    .input-group-addon{
      padding: 0 !important;
      margin: 0 !important;
      background: rgba(0, 0, 0, 0);
      border: none;
    }
  }
}
#new_permission{
  .btn-link{
    float: right;
    clear: both;
  } 
}
#add_permission{
  .modal-content{
    padding: 10px 15px;
    .panel-body{
      padding: 10px;
    }
  }
}

.relation_list{
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-md-column(5, $gutter: $grid-gutter-width);
  @include make-lg-column(5, $gutter: $grid-gutter-width); 
}

.permissions_list{
  @include make-sm-column(6, $gutter: $grid-gutter-width);
  @include make-md-column(6, $gutter: $grid-gutter-width);
  @include make-lg-column(6, $gutter: $grid-gutter-width);
  border-left: 1px solid $gray-light;
  .alert{
    margin-top: 10px;
  }
}