#administrators{
  width: 100%;
  float: left;
  .list-group-item{
    @include make-sm-column(5, $gutter: $grid-gutter-width);
    @include make-md-column(4, $gutter: $grid-gutter-width);
    @include make-lg-column(3, $gutter: $grid-gutter-width);
    margin-right: 10px;
    margin-left: 10px;
    &:first-child{
      border-top: 1px solid #DDD
    }
    &:last-child{
      border-bottom: 1px solid #DDD
    }
  }
}
