#edit_organization_modal{
   @extend .well;
  .modal-header{
    padding: 0;
    margin-bottom: 15px;
    h3{
      margin: 0;
    }
  }
}
#detailApplication,
#detailOrganization{
  .logo{ 
    img{
      width: 60px;
      @include border-top-radius ($border-radius-base);
      @include border-bottom-radius ($border-radius-base);
    }
  }
  .panel-body{
    padding: 7px 15px;
  }
}
#detailOrganization {
  margin-top: 8px;
}
#detailApplication{ 
  margin-top: 13px;
  header{
    margin-bottom: 2px;
  }
}
.edit_organization_modal{
  textarea {
    min-height: 40px;
    max-height: 55px;
    resize: none;
  }
  button{
    @extend .btn;
    @extend .btn-primary;
  }
}
#organizations{
  .tab-pane{ 
    .list-group-item{
      @include switch-hover;
      .name{
        display: inline;
      }
      .btn-link{
        display: inline-block !important;
      }
    }
  }
  .sortable{
    @extend .data;
  }
}