#edit_organization_modal{
   @extend .well;
  .modal-header{
    padding: 0;
    margin-bottom: 15px;
    h3{
      margin: 0;
    }
  }
}
#detailApplication,
#detailOrganization,
#detailUser{
  .logo{ 
    img{
      width: 83px;
      @include border-top-radius ($border-radius-base);
      @include border-bottom-radius ($border-radius-base);
    }
  }
  .panel-body{
    padding: 7px 15px;
  }
}
#detailApplication,
#detailOrganization,
#detailUser {
  margin-top: 8px;
  .panel.members > .panel-body .members-actions,
  .panel.organizations > .panel-body .organizations-actions{
    border-bottom: 1px solid $border-color;
    padding-bottom: 7px;
    .form-control{
      width: 200px;
      display: inline;
    }
    .table_actions{
      float: right;
      display: inline-block;
      a{
        margin-top: 3px;
        @include text-overflow;
        @media (max-width: $screen-sm-min){
          max-width: 220px;
        }
        @media (max-width: $screen-xs-min){
          width: 131px;
        }
      }
    }
  }
}

#members{
  max-height: 232px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 -15px;
  .list-group-item{
    margin: 0;
  }
}
#detailApplication{ 
  margin-top: 13px;
  header{
    margin-bottom: 2px;
  }
}
.edit_organization_modal{
  textarea {
    min-height: 40px;
    max-height: 55px;
    resize: none;
  }
  button{
    @extend .btn;
    @extend .btn-primary;
  }
}

#organizations{
  .list-group-item{
    @include switch-hover;
    .name{
      display: inline;
    }
    .btn-link{
      display: inline-block !important;
    }
  }
  .sortable{
    @extend .data;
  }
}

.extra{
  .panel-title{
    a{
      color: $brand-primary;
    }
  }
  .panel-heading {
    padding: 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #D5D5D5;
    color: $brand-secundary;
  }
  .collapse{
    padding: 8px 5px 1px;
    background-color: #ECECEC;
  }
}

.add-members{
  @include make-sm-column(12, $gutter: $grid-gutter-width);
  @include make-md-column(12, $gutter: $grid-gutter-width);
  @include make-lg-column(12, $gutter: $grid-gutter-width);
  padding: 0;
  .list-group-item{
    margin: 0;
  }
  .avatar{
    float: left;
    margin-right: 15px;
  }
  .all-users{
    border-right: 1px solid $border-color;
  }
  .all-users,
  .members-list{
    padding: 0;
    @media (max-width: $screen-sm-min){
      padding-left: 0;
      padding-right: 0;
    }
    header{
      min-height: 28px;
      margin-bottom: 2px;
      margin-top: 7px;
      h4{
        display: inline;
        line-height: 31px;
      }
      .form-control{
        width: 100%;
        display: inline-block;
        float: right;
        height: 27px;
        padding: 3px 5px;
      }
    }
    li.list-group-item{
      border-bottom: 0px solid #DDD;
      &:last-child{
        border-bottom: none; 
      }
    }
    .data{padding-top: 8px;
      .dropdown{
        float: right;
        display: inline-block;
        margin-right: 20px;
      }               
    }
    .name{display: inline;}
    .fa-plus,
    .fa-close{
      float: right;
      display: inline-block;
      padding-top: 4px;
    } 
  }
}
.role_dropdown li.app-roles-list{
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #5B5B5F;
  white-space: nowrap;
  padding: 7px 10px;
  background-color: $white;
  &:hover{
    text-decoration: none;
    color: $text-color;
    background-color: #fff;
  }
  span{
    margin-bottom: 4px;
    padding-bottom: 3px;
    line-height: 1;
    width: 100%;
    float: left;
    border-bottom: 1px solid $brand-secundary;
    font-family: $corporate-font-family-sans-serif-Regular;
    @include text-overflow;
  }
  i{
    margin-right: 5px;
    min-width: 14px;
    @include opacity (0);
  }
  ol{
    padding-left: 0px;
    margin-top: 2px;
    padding-bottom: 2px;
    clear: both;
  }
}
.role_dropdown li.active{
  text-decoration: none;
  color: $text-color;
  background-color: #fff;
  i{
    @include opacity (1);
    color: $text-color;
  }
}

.all-users{
  @include make-sm-column(5, $gutter: $grid-gutter-width);
  @include make-md-column(5, $gutter: $grid-gutter-width);
  @include make-lg-column(5, $gutter: $grid-gutter-width);
  padding-right: 10px !important;
} 
.members-list{
  @include make-sm-column(7, $gutter: $grid-gutter-width);
  @include make-md-column(7, $gutter: $grid-gutter-width);
  @include make-lg-column(7, $gutter: $grid-gutter-width);
  padding-left: 10px !important;
}
.all-users,
.members-list{
  h4{
    display: inline;
  }
  .has-feedback{
    width: 120px;
    display: inline-block;
    float: right;
    height: 27px;
    padding: 3px 5px;
  }
  div.active{
    float: right;
    display: inline-block;
    margin-top: -18px;
  }
  .role_options{
    float: right;
    display: inline-block;
    margin-top: -22px;
    margin-right: 19px;
  }  
}


#no_update_owners_members,
#no_update_owners_organizations_members,
#no_update_owners_members_members,
#no_available_update_owners_members,
#no_available_update_owners_organizations,
#no_available_update_owners{
  @extend .alert;
  @extend .alert-info;
  margin-top: 11px;
}
