#detailApplication{
  .logo{
    margin-top: -7px !important;
  }
}
#detailOrganization
#detailApplication,{
  header .name{
    color: $gray-dark;
  }
}
#detailOrganization,
#detailApplication{
  header{
    position: relative;
    .name a{
      margin-left: 1px;
      border-left: 1px solid #CCC;
      padding-left: 10px;
      padding-top: 7px;
      &:hover{
        color: #C1C1C1;
      }
    }
    .logo{
      position: absolute;
      right: 15px;
      top: -15px;
    }
  }
  .panel-title{
    text-align: right;
    margin-bottom: 6px;
  }
}

.panel-body{
  min-height: 52px;
  h5{
    border-bottom: 1px solid #D5D5D5;
    margin-top: 10px;
    margin-bottom: 6px;
    color: $brand-secundary;
  }
  p{
    margin-bottom: 17px; 
  }
  p.empty{
    margin: 17px 0;
  }
  .description{
    #description{
      margin-bottom: 17px;
    }
  }
}