.settings{
  @include make-sm-column(8, $gutter: $grid-gutter-width);
  @include make-md-column(8, $gutter: $grid-gutter-width);
  @include make-lg-column(8, $gutter: $grid-gutter-width);
  a.panel-heading {
    &:hover{
      cursor: pointer;
      border-color: $brand-secundary !important;
      color: $brand-secundary !important;
    }
    h4.panel-title {
      margin-top: 3px !important;
      padding: 0px 15px;
    }
  }
  .panel-body{
    padding-top: 15px;
    padding-bottom: 15px;
    .btn{
      float: right;
    }
  }
}
.cancel_account,
.destroy_organization{
  &:hover{
    border-color: $brand-danger !important;
    h4{
      color: $brand-danger !important;
    }
  }
  h4{
    margin-top: 3px !important;
    padding: 0px 15px;
  }
  .panel-body{
    padding-top: 15px;
    padding-bottom: 15px;
    a{
      color: $brand-danger !important;
    }
  }
}

