.settings{
  @include make-sm-column(8, $gutter: $grid-gutter-width);
  @include make-md-column(8, $gutter: $grid-gutter-width);
  @include make-lg-column(8, $gutter: $grid-gutter-width);
  margin-top: 27px;
  a.panel-heading {
    &:hover{
      cursor: pointer;
      border-color: $brand-secundary !important;
      color: $brand-secundary !important;
    }
    h4.panel-title {
      margin-top: 3px !important;
      padding: 0px 15px;
    }
  }
  .panel-body{
    padding-top: 15px;
    padding-bottom: 15px;
    .btn{
      float: right;
    }
  }
  legend{
    margin-bottom: 0;
    border-bottom: 0;
  }
}
