{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p><strong>{% trans "Name:" %}</strong> {% blocktrans %} Select a name for your network profile.{% endblocktrans %}</p>
  <p><strong>{% trans "Segment Type:" %}</strong> {% blocktrans %} Segment types available are VLAN, Overlay and Trunk.{% endblocktrans %}</p>
  <p><strong>{% trans "Segment Sub Type:" %}</strong> {% blocktrans %} Sub types available are for the Overlay and Trunk segments. Available sub-types for Overlay are: Native-VXLAN, Enhanced-VXLAN or 'Other' (eg. GRE) which can be manually inputed as a text parameter for subtype. Available sub-type for Trunk is: VLAN.{% endblocktrans %}</p>
  <p><strong>{% trans "Segment Range:" %}</strong> {% blocktrans %} Segment Ranges are 1-4093 for VLAN and above 5000 for Enhanced-VXLAN Overlay.{% endblocktrans %}</p>
{% endblock %}
