{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}{{ block.super }}<li><a href="{% url syspanel_security %}">Security</a></li>{% endblock %}

{% block content %}
  <h2 class="page_heading">{{project}} Disabled</h2>

  <p>{%blocktrans%}
    If a user's credentials were comprimised, you will need to use 
    `nova-manage user revoke USERNAME`, and the restart all VPNs for projects
    they are a member of. {%endblocktrans%}
  </p>

  <p>{%blocktrans%}
    The VPN for {{project}} is currently offline.  You can turn it back on
    using {%endblocktrans%}<a href="{% url syspanel_vpns %}">VPN overview</a>.
  </p>
  
{% endblock %}
