{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}{{ block.super }}<li><a href="{% url syspanel_security %}">Security</a></li>{% endblock %}

{% block content %}
  <h2 class="page_heading">{% trans "Security" %}</h2>
  
  <h2>{% trans "Use the following tools to secure the cloud during a security event" %}</h2>
  
  <div id="scenerios">
    <div class="scenerio">
      <div class="description">
        <p>{% trans "<strong>Scenario:</strong> Project account credentials have been compromised." %}</p>
        <p>{% trans "<strong>Action:</strong> Disable the user or project. This should invalidate the credentials, also deny the specific port assigned to the user." %}</p>
      </div>

      <form id="disable_project_credentials" action="{% url syspanel_security_disable_project_credentials %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <fieldset>
          {% for field in project_form %}
            {{ field.label_tag }}
            {% if field.errors %}{{ field.errors }}{% endif %}
            {{ field }}
          {% endfor %}
          
          <input type="submit" value="Turn off user/project" />
        </fieldset>
      </form>
    </div>

    <div class="scenerio">
      <div class="description">
        <p>{% trans "<strong>Scenario:</strong> The issue pin points to be coming in from a specific external ip or ip range." %}</p> 
        <p>{% trans "<strong>Action:</strong> Block the IP or IP range. This should manipulate ip tables to block the ip or ip range." %}</p>
      </div>

        <form id="disable_ip_range" action="{% url syspanel_security_disable_ip_range %}" method="post" accept-charset="utf-8">
          {% csrf_token %}
          <fieldset>
            {% for field in ip_form %}
              {{ field.label_tag }}
              {% if field.errors %}{{ field.errors }}{% endif %}
              {{ field }}
            {% endfor %}

            <input type="submit" value="Block IP Range" />
          </fieldset>
        </form>
      </div>
    </div>

    <div class="scenerio">
      <div class="description">
        <p>{% trans "<strong>Scenario:</strong> Issues affecting multiple public entry points or could not determine to be a specific one." %}</p> 
        <p>{% trans "<strong>Action:</strong> Disable all public IPs on all VMs. This should unplumb the device the public ip was on." %}</p>
      </div>

      <form action="{% url syspanel_security_disable_public_ips %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <fieldset>
          <input name="turn_off_ips" type="submit" value="Turn off Public IPs" />
        </fieldset>
      </form>
    </div>

    <div class="scenerio">
      <div class="description">
        <p>{% trans "<strong>Scenario:</strong> Issue related to VPN service affecting multiple customers." %}</p> 
        <p>{% trans "<strong>Action:</strong> Disable VPN service. This should turn off the VPN ip." %}</p>
      </div>

      <form action="{% url syspanel_security_disable_vpn %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <fieldset>
          <input name="block_vpn" type="submit" value="Turn off VPNs" />
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
