{% load django_nova_tags %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Expired Token</title>
  </head>
  <body>
    <center>
      <h1>The link you clicked has expired.</h1>
      <p style="width:460px;">This credentials download link you have reached
      is either invalid or has expired. Each link is only good for one use. If
      you need to download your credentials again, please contact the
      {% site_branding %} support team.</p>
   </center>
  </body>
</html>
