[ng-controller="LaunchInstanceAccessAndSecurityCtrl"] {

  dl.key-pair-details {

    dt {
      width: 15%;
    }
    dd {
      width: 85%;
      margin-left: 15%;
      padding-right: 25px;

      pre {
        background: none;
      }
    }
  }

  .table-rsp.security-group-details {
    background: none;

    td {
      background: none !important;
      padding: 15px !important;
    }

  }
}
