[ng-controller="LaunchInstanceAccessAndSecurityCtrl"] {

  textarea.key_text {
    width: 600px;
    height: 280px;
    font-family: Menlo, Monaco, Consolas, 'Courier New';
  }

  .table-rsp.security-group-details {
    background: none;

    td {
      background: none !important;
      padding: 15px !important;
    }

  }
}
