<div ng-controller="LaunchInstanceAccessAndSecurityCtrl">
  <h1>{$ ::label.title $}</h1>

  <div class="content">
    <div class="subtitle">{$ ::label.subtitle $}</div>

    <div role="tabpanel">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li role="presentation" class="active">
          <a href="#security_groups" data-toggle="tab">{$ ::label.security_groups $}</a>
        </li>
        <li role="presentation">
          <a href="#key_pairs" data-toggle="tab">{$ ::label.key_pairs $}</a>
        </li>
      </ul>

      <div id="li-secgroup-keypairs" class="tab-content">

        <!-- Security Groups Tab Content -->
        <div role="tabpanel" class="tab-pane active" id="security_groups">

          <transfer-table tr-model="secGroupTableData"
                          help-text="secGroupTableHelp"
                          limits="secGroupTableLimits">

            <!-- Security Groups Allocated -->
            <allocated>
              <table st-table="secGroupTableData.displayedAllocated"
                     st-safe-src="secGroupTableData.allocated" hz-table
                     class="table-striped table-rsp table-detail modern">
                <thead>
                <tr>
                  <th class="expander"></th>
                  <th class="rsp-p1">{$ ::label.name $}</th>
                  <th class="rsp-p2">{$ ::label.description $}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="secGroupTableData.allocated.length === 0">
                  <td colspan="8">
                    <div class="no-rows-help">
                      {$ ::trCtrl.helpText.noneAllocText $}
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-start="row in secGroupTableData.displayedAllocated track by row.id">
                  <td class="expander">
                      <span class="fa fa-chevron-right" hz-expand-detail
                            title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
                  </td>
                  <td class="rsp-p1">{$ row.name $}</td>
                  <td class="rsp-p2">{$ row.description $}</td>
                  <td class="action-col">
                    <action-list>
                      <action action-classes="'btn btn-sm btn-default'"
                              callback="trCtrl.deallocate" item="row">
                        <span class="fa fa-minus"></span>
                      </action>
                    </action-list>
                  </td>
                </tr>
                <tr ng-repeat-end class="detail-row">
                  <td></td>
                    <td class="detail" colspan="3" ng-include="secGroupTableDetails">
                    </td>
                </tr>
                </tbody>
              </table>
            </allocated>

            <!-- Security Groups Available -->
            <available>
              <table st-table="secGroupTableData.displayedAvailable"
                     st-safe-src="secGroupTableData.available"
                     hz-table class="table-striped table-rsp table-detail modern">
                <thead>
                <tr>
                  <th class="search-header" colspan="7">
                    <search-bar group-classes="input-group-sm"
                                icon-classes="fa-search">
                    </search-bar>
                  </th>
                </tr>
                <tr>
                  <th class="expander"></th>
                  <th st-sort="name" st-sort-default class="rsp-p1">{$ ::label.name $}</th>
                  <th st-sort="description" class="rsp-p1">{$ ::label.description $}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="trCtrl.numDisplayedAvailable() === 0">
                  <td colspan="8">
                    <div class="no-rows-help">
                      {$ ::trCtrl.helpText.noneAvailText $}
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-start="row in secGroupTableData.displayedAvailable track by row.id"
                    ng-if="!trCtrl.allocatedIds[row.id]">
                  <td class="expander">
                      <span class="fa fa-chevron-right" hz-expand-detail
                            title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
                  </td>
                  <td class="rsp-p1">{$ row.name$}</td>
                  <td class="rsp-p1">{$ row.description $}</td>
                  <td class="action-col">
                    <action-list button-tooltip="row.warningMessage"
                                 bt-model="trCtrl.tooltipModel"
                                 bt-disabled="!row.disabled"
                                 warning-classes="'invalid'">
                      <notifications>
                        <span class="fa fa-exclamation-circle invalid"
                              ng-show="row.disabled"></span>
                      </notifications>
                      <action action-classes="'btn btn-sm btn-default'"
                              callback="trCtrl.allocate" item="row"
                              disabled="row.disabled">
                        <span class="fa fa-plus"></span>
                      </action>
                    </action-list>
                  </td>
                </tr>
                <tr ng-repeat-end class="detail-row" ng-if="!trCtrl.allocatedIds[row.id]">
                  <td></td>
                  <td class="detail" colspan="3" ng-include="secGroupTableDetails">
                  </td>
                </tr>
                </tbody>
              </table>
            </available>

          </transfer-table> <!-- End Security Groups Transfer Table -->

        </div> <!-- End Security Groups Tab Content -->

        <!-- Key Pairs Tab Content -->
        <div role="tabpanel" class="tab-pane" id="key_pairs">

          <transfer-table tr-model="keyPairTableData"
                          help-text="keyPairTableHelp"
                          limits="keyPairTableLimits">

            <!-- Key Pairs Allocated-->
            <allocated>
              <table st-table="keyPairTableData.displayedAllocated"
                     st-safe-src="keyPairTableData.allocated" hz-table
                     class="table-striped table-rsp table-detail modern">
                <thead>
                <tr>
                  <th class="expander"></th>
                  <th class="rsp-p1">{$ ::label.name $}</th>
                  <th class="rsp-p2">{$ ::keyPairTableLabels.fingerprint $}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="keyPairTableData.allocated.length === 0">
                  <td colspan="8">
                    <div class="no-rows-help">
                      {$ ::trCtrl.helpText.noneAllocText $}
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-start="row in keyPairTableData.displayedAllocated track by row.id">
                  <td class="expander">
                      <span class="fa fa-chevron-right" hz-expand-detail
                            title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
                  </td>
                  <td class="rsp-p1">{$ row.name $}</td>
                  <td class="rsp-p2">{$ row.fingerprint $}</td>
                  <td class="action-col">
                    <action-list>
                      <action action-classes="'btn btn-sm btn-default'"
                              callback="trCtrl.deallocate" item="row">
                        <span class="fa fa-minus"></span>
                      </action>
                    </action-list>
                  </td>
                </tr>
                <tr ng-repeat-end class="detail-row">
                  <td></td>
                  <td class="detail" colspan="3">
                    <dl class="dl-horizontal" ng-include="keyPairTableDetails">
                    </dl>
                  </td>
                </tr>
                </tbody>
              </table>
            </allocated>

            <!-- Key Pairs Available -->
            <available>
              <table st-table="keyPairTableData.displayedAvailable"
                     st-safe-src="keyPairTableData.available"
                     hz-table class="table-striped table-rsp table-detail modern">
                <thead>
                <tr>
                  <th class="search-header" colspan="7">
                    <search-bar group-classes="input-group-sm"
                                icon-classes="fa-search">
                    </search-bar>
                  </th>
                </tr>
                <tr>
                  <th class="expander"></th>
                  <th st-sort="name" st-sort-default class="rsp-p1">{$ ::label.name $}</th>
                  <th st-sort="fingerprint" class="rsp-p1">{$ ::keyPairTableLabels.fingerprint $}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="trCtrl.numDisplayedAvailable() === 0">
                  <td colspan="8">
                    <div class="no-rows-help">
                      {$ ::trCtrl.helpText.noneAvailText $}
                    </div>
                  </td>
                </tr>
                <tr ng-repeat-start="row in keyPairTableData.displayedAvailable track by row.id"
                    ng-if="!trCtrl.allocatedIds[row.id]">
                  <td class="expander">
                      <span class="fa fa-chevron-right" hz-expand-detail
                            title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
                  </td>
                  <td class="rsp-p1">{$ row.name$}</td>
                  <td class="rsp-p1">{$ row.fingerprint $}</td>
                  <td class="action-col">
                    <action-list button-tooltip="row.warningMessage"
                                 bt-model="trCtrl.tooltipModel"
                                 bt-disabled="!row.disabled"
                                 warning-classes="'invalid'">
                      <notifications>
                        <span class="fa fa-exclamation-circle invalid"
                              ng-show="row.disabled"></span>
                      </notifications>
                      <action action-classes="'btn btn-sm btn-default'"
                              callback="trCtrl.allocate" item="row"
                              disabled="row.disabled">
                        <span class="fa fa-plus"></span>
                      </action>
                    </action-list>
                  </td>
                </tr>
                <tr ng-repeat-end class="detail-row" ng-if="!trCtrl.allocatedIds[row.id]">
                  <td></td>
                  <td class="detail" colspan="3" ng-include="keyPairTableDetails">
                  </td>
                </tr>
                </tbody>
              </table>
            </available>

          </transfer-table> <!-- End Key Pairs Table -->

        </div>  <!-- End Key Pairs Tab Content -->
      </div> <!-- End Tab Content -->
    </div> <!-- End Tab Panel-->
  </div> <!-- End Content -->
</div> <!-- End Controller -->
