{% extends 'django_openstack/dash/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="keypairs" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_keypairs request.user.tenant_id as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title=_("Keypairs") refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block dash_main %}
  {% if keypairs %}
    {% include 'django_openstack/dash/keypairs/_list.html' %}
    <a id="keypairs_create_link" class="action_link large-rounded" href="{% url dash_keypairs_create request.user.tenant_id %}">{% trans "Add New Keypair"%}</a>
    <a id="keypairs_import_link" class="action_link large-rounded" href="{% url dash_keypairs_import request.user.tenant_id %}">{% trans "Import Keypair"%}</a>
  {% else %}
    <div class="message_box info">
      <h2>{% trans "Info"%}</h2>
      <p>{% trans "There are currently no keypairs."%}</p>
    </div>
    <a id="keypairs_create_link" class="action_link large-rounded" href="{% url dash_keypairs_create request.user.tenant_id %}">{% trans "Add New Keypair"%}</a>
    <a id="keypairs_import_link" class="action_link large-rounded" href="{% url dash_keypairs_import request.user.tenant_id %}">{% trans "Import Keypair"%}</a>
  {% endif %}
{% endblock %}
