{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
    {% block modal-header %}
        Resend confirmation instructions
    {% endblock %}
    {% block form_action %}{% url 'fiware_auth_confirmation' %}{% endblock %}
    {% block modal-body %}
        {% include "horizon/common/_form_fields.html" %}
    {% endblock %}

    {% block modal-footer %}
        <button type="submit" class="btn btn-primary">{% trans "Resend confirmation instructions" %}</button>
        <div class="actions">
          <a href="{% url 'fiware_auth_register' %}">
            Sign up
          </a>
          <a href="{% url 'fiware_auth_request' %}">
            Forgot password
          </a>
        </div>
    {% endblock %}