{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
<div class="registration">
  {% block modal-header %}{% trans "Registration" %}{% endblock %}
  {% block modal_class %}registration {% if hide %}modal hide{% endif %}{% endblock %}
  {% block form_action %}{% url 'fiware_auth_register' %}{% endblock %}
  {% block modal-body %}

      {% include "horizon/common/_form_fields.html" %}
      <div id="recaptcha_widget" style="display:none">
        <div id="recaptcha_image"></div>
        <div class="input-group">
          <input type="text" class="form-control" id="recaptcha_response_field" name="recaptcha_response_field" />
          <div class="input-group-addon"><div><a href="javascript:Recaptcha.reload()" class="fa fa-refresh"></a></div></div>
          <div class="input-group-addon"><div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')" class="fa fa-volume-up"></a></div></div>
          <div class="input-group-addon"><div><a href="javascript:Recaptcha.showhelp()" class="fa fa-question-circle"></a></div></div>
        </div>
        <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

      </div>

  {% endblock %}
  {% block modal-footer %}
      <label class="conditions checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" required="required" title="You need to accept the Terms and Conditions to create your account" value="option1"> I accept FIWARE Lab <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions" target="_blank">Terms and Conditions.</a>
      </label>

      <button type="submit" class="btn btn-primary pull-right">{% trans "Sign Up" %}</button>

      <div class="actions">
        <a href="{% url 'fiware_auth_request' %}">
          Forgot password
        </a>
        <a href="{% url 'fiware_auth_confirmation' %}">
          Didn't receive confirmation instructions?
        </a>
      </div>
  {% endblock %}
</div>