{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}x509_download_form{% endblock %}
{% block form_action %}{% url horizon:settings:ec2:index %}{% endblock %}

{% block modal_id %}x509_download_modal{% endblock %}
{% block modal-header %}{% trans "Download EC2 Credentials" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans 'Clicking "Download EC2 Credentials" will download a zip file which includes an rc file with your access/secret keys, as well as your x509 private key and certificate.' %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn btn-primary pull-right always-enabled" type="submit" value="{% trans "Download EC2 Credentials" %}" />
    {% if hide %}<a href="{% url horizon:settings:ec2:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}
