{% load truncate_filter %}

<ol class="breadcrumb">
  {% if breadcrumb %}
    {% for name, target in breadcrumb %}
      {% if target %}
        <li><a href="{{ target }}">{{ name|truncate:20 }}</a></li>
      {% else %}
        <li class="active">{{ name|truncate:20 }}</li>
      {% endif %}
    {% endfor %}
  {% else %}
    {% if panel %}
      <li><a href="{{ panel.get_absolute_url }}">{{ panel.name }}</a></li>
    {% endif %}
  {% endif %}

  <li class="active">{{ page_title }}</li>

  {% if actions %}
    <form class='actions_column pull-right' action='{{ url }}' method="POST">
      {% csrf_token %}
      {{ actions }}
    </form>
  {% endif %}
</ol>
