{% load i18n %}
<tr>
    <td colspan="{{ columns|length }}">
        <span class="table_count">{% blocktrans count counter=rows|length trimmed %}
            Displaying {{ counter }} item{% plural %}
            Displaying {{ counter }} items{% endblocktrans %}</span>
        {% if table.has_prev_data or table.has_more_data %}
            <span class="spacer">|</span>
        {% endif %}
        {% if table.has_prev_data %}
            <a href="?{{ table.get_prev_pagination_string }}">{% trans "&laquo;&nbsp;Prev" %}</a>
        {% endif %}
        {% if table.has_more_data %}
            <a href="?{{ table.get_pagination_string }}">{% trans "Next&nbsp;&raquo;" %}</a>
        {% endif %}
    </td>
</tr>