{% load horizon i18n %}

{% spaceless %} {# This makes sure whitespace doesn't affect positioning for dropdown. #}
{% if row_actions|length > 1 %}
<div class="btn-group {% if pull_right %}pull-right{% endif %}">
    {% for action in row_actions %}
        {% if forloop.first %}
          {% include "horizon/common/_data_table_row_action_dropdown.html" %}
          <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu row_actions dropdown-menu-right clearfix">
        {% else %}
          <li class="clearfix">
              {% include "horizon/common/_data_table_row_action_dropdown.html" %}
          </li>
        {% endif %}
        {% if forloop.last %}
          </ul>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if row_actions|length == 1 %}
  {% include "horizon/common/_data_table_row_action_dropdown.html" with action=row_actions.0 %}
{% endif %}
{% endspaceless %}
