{% load i18n horizon humanize sizeformat %}

<div class="quota-dynamic">
  <h3 class="quota-heading">{% trans "Limit Summary" %}</h3>
    {% for quota in charts %}
    <div class="d3_quota_bar">
      <div class="d3_pie_chart_usage" data-used="{% quotapercent quota.used quota.max %}"></div>
      <strong> {{ quota.name }} <br />
      {{ quota.text|default:_("Used") }}
      <span> {{quota.used|intcomma }} </span>
      {% if quota.max|quotainf != '-1' %}
        {% trans "of" %} <span> {{ quota.max|quotainf|intcomma }} </span>
      {% else %}
        <span> {% trans "(No Limit)" %} </span>
      {% endif %}
      </strong>
    </div>
    {% endfor %}

</div>
