{% extends "horizon/client_side/template.html" %}
{% load i18n horizon %}

{% block id %}confirm_modal{% endblock %}

{% block template %}{% spaceless %}{% jstemplate %}
  <div class="confirm-wrapper">
    <span class="confirm-list" style="word-wrap: break-word; word-break: normal;">
      {% blocktrans %}You have selected: [[selection]]. {% endblocktrans %}
    </span>
    <span class="confirm-text">{% trans 'Please confirm your selection.'%} </span>
    <span class="confirm-help">[[help]]</span>
  </div>
{% endjstemplate %}{% endspaceless %}{% endblock %}
