{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}attach_volume_form{% endblock %}
{% block form_action %}{% url horizon:nova:instances_and_volumes:volumes:attach volume_id %}{% endblock %}

{% block modal_id %}attach_volume_modal{% endblock %}
{% block modal-header %}{%trans "Attach Volume"%}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
  <h3>{% trans "Description" %}:</h3>
  <p>{% trans "Attach a volume to an instance." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn primary pull-right" type="submit" value="{%trans "Attach Volume"%}" />
    <a href="{% url horizon:nova:instances_and_volumes:volumes:index %}" class="btn secondary cancel close">Cancel</a>
{% endblock %}
