{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url horizon:nova:instances_and_volumes:volumes:create %}{% endblock %}

{% block modal_id %}create_volume_modal{% endblock %}
{% block modal-header %}create_volume_form{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Volumes are block devices that can be attached to instances." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn primary pull-right" type="submit" value="{% trans "Create Volume" %}" />
  <a href="{% url horizon:nova:instances_and_volumes:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
