{% load i18n %}
<form id="volume_form" action="{% block form_action %}{% endblock %}" method="post">
  {% csrf_token %}
  <fieldset>
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
      <div class="clearfix{% if field.errors %} error{% endif %}">
        {{ field.label_tag }}
        {% if field.errors %}
          {% for error in field.errors %}
            <span class="help-inline">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <span class="help-block">{{ field.help_text }}</span>
        <div class="input">
          {{ field }}
        </div>
      </div>
    {% endfor %}
    {% block modal-footer %}
      <input type="submit" value="{% trans "Create Security Group" %}" />
    {% endblock %}
  </fieldset>
</form>

