{% load i18n %}

<div class="clearfix">
  <h3 class="pull-left">{% trans "Instance Console Log" %}</h3>

  <form id="tail_length" action="{% url 'horizon:project:instances:console' instance.id %}" class="form-inline pull-right">
    <label for="tail_length_select">{% trans "Log Length" %}</label>
    <input class="span1" type="text" name="length" value="{{ log_length }}" />
    <button class="btn btn-default btn-sm btn-primary always-enabled" type="submit">{% trans "Go" %}</button>
    {% url 'horizon:project:instances:console' instance.id as console_url %}
    <a class="btn btn-default btn-sm" target="_blank" href="{{ console_url }}">{% trans "View Full Log" %}</a>
  </form>
</div>

<pre class="logs">
  {{ console_log }}
</pre>
