{% load i18n %}
<a href="#" id="flavor_details_{{ id }}" class="link-popover" rel="popover" tabindex="0" data-trigger="focus" data-content="
<table class='table table-bordered'>
  <tr><th>{% trans 'ID' %}</th><td>{{ flavor_id }}</td></tr>
  <tr><th>{% trans 'VCPUs' %}</th><td>{{ vcpus }}</td></tr>
  <tr><th>{% trans 'RAM' %}</th><td>{{ size_ram }}</td></tr>
  <tr><th>{% trans 'Size' %}</th><td>{{ size_disk }}</td></tr>
</table>
" data-original-title="{% blocktrans %}<span class='word-wrap'>Flavor Details: {{ name }}</span>">{{ name }}{% endblocktrans %}</a>
<script type="text/javascript" charset="utf-8">
$(function () {
  var $flavor = $("#flavor_details_{{ id }}");
  // NOTE(tsufiev): check this in case this template is used in network topology -> delete instance
  if ( $flavor.popover ) {
    $flavor.popover({html:true, trigger: "hover"});
  }
});
</script>
