{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <title>{{instance_name}} ({{instance_id}})</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/scss/serial_console.css" type="text/css" media="screen">
  <script src="{% url 'horizon:jsi18n' 'horizon' %}"></script>
  <script src='{{ STATIC_URL }}horizon/lib/term.js'></script>
  <script src="{{ STATIC_URL }}horizon/lib/jquery/jquery.js"></script>
  <script src="{{ STATIC_URL }}horizon/lib/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}horizon/js/angular/directives/serialConsole.js"></script>
</head>
<body ng-app='serialConsoleApp'>

    {% if error_message %}
        {{ error_message }}
    {% else %}
        <serial-console connection='"{{console_url}}"'></serial-console>
    {% endif %}

</body>
</html>
