{% extends "horizon/client_side/template.html" %}
{% load horizon %}

{% block id %}fiware_roles_template{% endblock %}

{% block template %}{% spaceless %}{% jstemplate %}
<div class="nav nav-pills btn-group">
  <div class="btn-group-vertical permission" data-toggle="buttons">
      [[#permissions]]
      <label class="btn btn-default disabled">
        <i class="fa fa-check"></i>
        <input data-permission-id="[[permission_id]]" type="checkbox" autocomplete="off"/>
        [[permission_name]]
      </label>
      [[/permissions]]
    </div>
</div>
{% endjstemplate %}{% endspaceless %}{% endblock %}
