{% extends "horizon/client_side/template.html" %}
{% load horizon %}

{% block id %}membership_template{% endblock %}

{% block template %}{% spaceless %}{% jstemplate %}
<li class="list-group-item">
  <img alt="User" class="avatar" src="{{ STATIC_URL }}dashboard/img/logos/small/user.png">
  <div class="member" data-[[step_slug]]-id="[[data_id]]">
    <div class="data">
      <span class="name">[[display_name]]</span>
    </div>
    <div class="active"><a class="[[update_icon]]" href="#add_remove"></a></div>
  </div>
  <div class="dropdown role_options">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="roles_display">[[roles_label]]</span>
      <span class="fa fa-chevron-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right role_dropdown clearfix">
      [[#apps]]
      <li class="app-roles-list"> 
        <span>[[app]]</span>
        <ol>
          [[#roles]]
          <li data-role-id="[[role_id]]">
            <i class="fa fa-check"></i>
            [[role_name]]
          </li>
          [[/roles]]
        </ol>
      </li>
      [[/apps]]
    </ul>
  </div>
</li>
{% endjstemplate %}{% endspaceless %}{% endblock %}
