{% extends 'nova/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="security_groups" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Create Security Group") %}
{% endblock page_header %}

{% block dash_main %}
  <div id="create_security_group" class="modal static_page">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Create Security Group</h3>
    </div>
    <div class="modal-body">
      <div class="left">
        {% include 'nova/security_groups/_create.html' with form=form%}
      </div>
      <div class="right">
        <h3>{% trans "Description"%}:</h3>
        <p>{% trans "From here you can create a new security group"%}</p>
      </div>
    </div>
  </div>
{% endblock %}
