<div class="jc-container">
  <nav id="header" class="jio-navbar" role="navigation">
    <div class="jio-navbar-start-column">
      <a class="jc-logo">jio Cloud</a>
    </div>
    <div class="jio-navbar-middle-column">
      <a href="{% url 'features' %}" class="header-link" data-toggle="dropdown">Features</a>
      <a href="{% url 'page_under_construction' %}" class="header-link">Pricing</a>
      <a href="{% url 'documentation' %}" class="header-link">Documentation</a>
      <a href="{% url 'login' %}" class="header-link">Login</a>
      <a href="{% url 'signup' %}" class="header-link">Sign Up</a>
    </div>
    <div class="jio-navbar-end-column">
      <a href="mailto:jiocloud.support@ril.com" class="jio-standout-link">jiocloud.support@ril.com</a>
    </div>
  </nav>
</div>
