<div ng-controller="LaunchInstanceNetworkController as ctrl">
  <h1>{$ ::ctrl.label.title $}</h1>
  <div class="content">
    <div class="subtitle">{$ ::ctrl.label.subtitle $}</div>


  <div class="form-group" ng-if="model.arePortProfilesSupported">
    <label class="control-label required" for="profile">{$ ::ctrl.label.profile $}</label>
    <select class="form-control" id="profile" ng-model="model.newInstanceSpec.profile" ng-options="profile.name for profile in model.profiles">
      <option value="">{$ ::ctrl.label.none_option $}</option>
    </select>
  </div>

  <transfer-table tr-model="ctrl.tableDataMulti" help-text="ctrl.tableHelpText" limits="ctrl.tableLimits">
    <allocated validate-number-min="1" ng-model="ctrl.tableDataMulti.allocated.length">
      <table st-table="ctrl.tableDataMulti.displayedAllocated" st-safe-src="ctrl.tableDataMulti.allocated" hz-table
        class="table-striped table-rsp table-detail modern">
        <thead>
          <tr>
            <th class="reorder"></th>
            <th class="expander"></th>
            <th class="rsp-p1">{$ ::ctrl.label.network $}</th>
            <th class="rsp-p2">{$ ::ctrl.label.subnet_associated $}</th>
            <th class="rsp-p1">{$ ::ctrl.label.shared $}</th>
            <th class="rsp-p1">{$ ::ctrl.label.admin_state $}</th>
            <th class="rsp-p1">{$ ::ctrl.label.status $}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="ctrl.tableDataMulti.allocated.length === 0">
            <td colspan="8">
              <div class="no-rows-help">
                {$ ::trCtrl.helpText.noneAllocText $}
              </div>
            </td>
          </tr>
          <tr ng-repeat-start="row in ctrl.tableDataMulti.displayedAllocated track by row.id"
            lr-drag-data="ctrl.tableDataMulti.displayedAllocated" lr-drag-src="reorder"
            lr-drop-target="reorder" lr-drop-success="trCtrl.updateAllocated(e, item, collection)">
            <td class="reorder">
              <span class="fa fa-sort" title="{$ ::trCtrl.helpText.orderText $}"></span>
              {$ $index + 1 $}
            </td>
            <td class="expander">
              <span class="fa fa-chevron-right" hz-expand-detail
                title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
            </td>
            <td class="rsp-p1">{$ row.name $}</td>
            <td class="rsp-p2">
              <div ng-repeat="subnet in row.subnets">{$ subnet.name $}</div>
            </td>
            <td class="rsp-p1">{$ row.shared | yesno $}</td>
            <td class="rsp-p1">{$ row.admin_state | decode:ctrl.networkAdminStates $}</td>
            <td class="rsp-p1">{$ row.status | decode:ctrl.networkStatuses $}</td>
            <td class="action-col">
              <action-list>
                <action action-classes="'btn btn-sm btn-default'"
                  callback="trCtrl.deallocate" item="row">
                  <span class="fa fa-minus"></span>
                </action>
              </action-list>
            </td>
          </tr>
          <tr ng-repeat-end class="detail-row">
            <td colspan="2"></td>
            <td colspan="7" class="detail">
              <dl class="dl-horizontal">
                <dt>{$ ::ctrl.label.id $}</dt>
                <dd>{$ row.id $}</dd>
                <dt>{$ ::ctrl.label.project_id $}</dt>
                <dd>{$ row.tenant_id $}</dd>
                <dt>{$ ::ctrl.label.external_network $}</dt>
                <dd>{$ row['router:external'] | yesno $}</dd>
              </dl>
              <div><b>{$ ::ctrl.label.provider_network $}</b></div>
              <div class="row" class="detail">
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_network_type $}</dt>
                  <dd>{$ row['provider:network_type'] $}</dd>
                </dl>
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_segmentation_id $}</dt>
                  <dd>{$ row['provider:segmentation_id'] $}</dd>
                </dl>
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_physical_network $}</dt>
                  <dd>{$ row['provider:physical_network'] $}</dd>
                </dl>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </allocated>
    <available>
      <table st-table="ctrl.tableDataMulti.displayedAvailable" st-safe-src="ctrl.tableDataMulti.available"
        hz-table class="table-striped table-rsp table-detail modern">
        <thead>
          <tr>
            <th class="search-header" colspan="8">
              <search-bar group-classes="input-group-sm" icon-classes="fa-search">
              </search-bar>
            </th>
          </tr>
          <tr>
            <th class="reorder"></th>
            <th class="expander"></th>
            <th st-sort="name" st-sort-default class="rsp-p1">{$ ::ctrl.label.network $}</th>
            <th class="rsp-p2">{$ ::ctrl.label.subnet_associated $}</th>
            <th st-sort="shared" class="rsp-p1">{$ ::ctrl.label.shared $}</th>
            <th st-sort="admin_state" class="rsp-p1">{$ ::ctrl.label.admin_state $}</th>
            <th st-sort="status" class="rsp-p1">{$ ::ctrl.label.status $}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="trCtrl.numDisplayedAvailable() === 0">
            <td colspan="8">
              <div class="no-rows-help">
                {$ ::trCtrl.helpText.noneAvailText $}
              </div>
            </td>
          </tr>
          <tr ng-repeat-start="row in ctrl.tableDataMulti.displayedAvailable track by row.id" ng-if="!trCtrl.allocatedIds[row.id]">
            <td class="reorder"></td>
            <td class="expander">
              <span class="fa fa-chevron-right" hz-expand-detail
                title="{$ ::trCtrl.helpText.expandDetailsText $}"></span>
            </td>
            <td class="rsp-p1">{$ row.name$}</td>
            <td class="rsp-p2">
              <div ng-repeat="subnet in row.subnets">{$ subnet.name $}</div>
            </td>
            <td class="rsp-p1">{$ row.shared | yesno $}</td>
            <td class="rsp-p1">{$ row.admin_state | decode:ctrl.networkAdminStates $}</td>
            <td class="rsp-p1">{$ row.status | decode:ctrl.networkStatuses $}</td>
            <td class="action-col">
              <action-list button-tooltip="row.warningMessage"
                bt-model="trCtrl.tooltipModel" bt-disabled="!row.disabled"
                warning-classes="'invalid'">
                <notifications>
                  <span class="fa fa-exclamation-circle invalid" ng-show="row.disabled"></span>
                </notifications>
                <action action-classes="'btn btn-sm btn-default'"
                  callback="trCtrl.allocate" item="row" disabled="row.disabled">
                  <span class="fa fa-plus"></span>
                </action>
              </action-list>
            </td>
          </tr>
          <tr ng-repeat-end class="detail-row" ng-if="!trCtrl.allocatedIds[row.id]">
            <td colspan="2"></td>
            <td colspan="7" class="detail">
              <dl class="dl-horizontal">
                <dt>{$ ::ctrl.label.id $}</dt>
                <dd>{$ row.id $}</dd>
                <dt>{$ ::ctrl.label.project_id $}</dt>
                <dd>{$ row.tenant_id $}</dd>
                <dt>{$ ::ctrl.label.external_network $}</dt>
                <dd>{$ row['router:external'] | yesno $}</dd>
              </dl>
              <div><b>{$ ::ctrl.label.provider_network $}</b></div>
              <div class="row">
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_network_type $}</dt>
                  <dd>{$ row['provider:network_type'] $}</dd>
                </dl>
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_segmentation_id $}</dt>
                  <dd>{$ row['provider:segmentation_id'] $}</dd>
                </dl>
                <dl class="col-sm-3">
                  <dt>{$ ::ctrl.label.provider_physical_network $}</dt>
                  <dd>{$ row['provider:physical_network'] $}</dd>
                </dl>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </available>
  </transfer-table>

  </div>
</div>
