{% load i18n %}

<noscript><h3>{{ step }}</h3></noscript>
<div id="routerListSortContainer">
  <div class="col-sm-6">
    <h4 id="selected_router_h4">{% trans "Selected Routers" %}</h4>
    <ul id="selected_router" class="routerlist"></ul>
    <h4>{% trans "Available Routers" %}</h4>
    <ul id="available_router" class="routerlist"></ul>
  </div>
  <div class="col-sm-6">
    {% include "project/firewalls/_update_router_help.html" %}
  </div>
</div>

<div id="routerListIdContainer">
  <div class="actions">
    <div id="routerListId">
      {% include "horizon/common/_form_fields.html" %}
    </div>
  </div>
  <div class="help_text">
    {{ step.get_help_text }}
  </div>
</div>

<script>
  if (typeof $ !== 'undefined') {
    horizon.firewalls.workflow_init($(".workflow"));
  } else {
    addHorizonLoadEvent(function() {
      horizon.firewalls.workflow_init($(".workflow"));
    });
  }
</script>
