{% extends "horizon/common/_modal_form.html" %}


{% load i18n %}

{% block form_id %}edit_tags_form{% endblock %}
{% block form_action %}{% url 'horizon:project:data_processing.data_image_registry:edit_tags' image.id %}{% endblock %}

{% block modal-header %}{% trans "Edit Image Tags" %}{% endblock %}

{% block modal-body %}


    <div class="left">
        <fieldset>
            {% include "horizon/common/_form_fields.html" %}
        </fieldset>
        {% include 'project/data_processing.data_image_registry/_tag_form.html' %}
    </div>
    <div class="right">
        {% include 'project/data_processing.data_image_registry/_help.html' %}
    </div>
{% endblock %}

{% block modal-footer %}
    <input class="btn btn-primary pull-right" id="edit_image_tags_btn" type="submit" value="{% trans "Done" %}"/>
    <a href="{% url 'horizon:project:data_processing.data_image_registry:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
