{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

<div class="remember-password">
    {% block modal-header %}
        Change your password
    {% endblock %}

    {% block form_action %}{% url 'fiware_auth_reset' %}?token={{ token }}&email={{ email }}{% endblock %}

    {% block modal-body %}
        {% include "horizon/common/_form_fields.html" %}
    {% endblock %}

    {% block modal-footer %}
        <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
        <div class="actions">
          <a href="{% url 'fiware_auth_register' %}">
            Sign up
          </a>
          <a href="{% url 'fiware_auth_confirmation' %}">
            Didn't receive confirmation instructions?
          </a>
        </div>
    {% endblock %}
</div>