{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

<div class="remember-password">
    {% block modal-header %}
        <h3>Change your password</h3>
    {% endblock %}

    {% block form_action %}{% url 'fiware_auth_reset' %}?reset_password_token={{ token }}{% endblock %}

    {% block modal-body %}
        {% include "horizon/common/_form_fields.html" %}
    {% endblock %}

    {% block modal-footer %}
        <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
    {% endblock %}
</div>