{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_tenant_form{% endblock %}
{% block form_action %}{% url horizon:syspanel:tenants:create %}{% endblock %}

{% block modal_id %}create_tenant_modal{% endblock %}
{% block modal-header %}{% trans "Create Tenant" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can create a new tenant (aka project) to organize users." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn primary pull-right" type="submit" value="{% trans "Create Tenant" %}" />
    <a href="{% url horizon:syspanel:tenants:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
