{% extends 'syspanel/base.html' %}
{%load i18n%}

{% block sidebar %}
  {% with current_sidebar="tenants" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Create Tenant") %}
{% endblock page_header %}

{% block syspanel_main %}
  <div class="modal static_page">
    <div class="modal-header">
      <h3>Create Tenant</h3>
    </div>
    <div class="modal-body">
      <div class="left">
        {% include 'syspanel/tenants/_create.html' %}
      </div>
      <div class="right">
        <h3>{% trans "Description"%}:</h3>
        <p>{% trans "From here you can create a new tenant (aka project) to organize users."%}</p>
      </div>
    </div>
  </div>
{% endblock %}
