{% extends 'syspanel/base.html' %}
{% load i18n %}

{% block page_header %}
  {% url horizon:syspanel:tenants:index as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "horizon/common/_page_header.html" with title=_("Tenants") refresh_link=refresh_link searchable="true" %}
{% endblock page_header %}

{% block syspanel_main %}
  {% include "syspanel/tenants/_list.html" %}
  <a id="tenant_create_link" class="btn small" href="{% url horizon:syspanel:tenants:create %}">{% trans "Create New Tenant"%}</a>
{% endblock %}
