<td></td>

<td colspan="{$ ::tableHeadCells.length $}" class="detail">

  <div class="row">
    <dl class="col-sm-2">
      <dt>{$ ::label.min_disk $}</dt>
      <dd>
        {$ (row.properties ? row.min_disk : row.volume_image_metadata.min_disk) || '--' $}
      </dd>
    </dl>
    <dl class="col-sm-2">
      <dt>{$ ::label.min_ram $}</dt>
      <dd>
        {$ (row.properties ? row.min_ram : row.volume_image_metadata.min_ram) || '--' $}
      </dd>
    </dl>
  </div>

  <div class="row"
       ng-if="model.metadataDefs.image || model.metadataDefs.volume">

    <div class="col-sm-12">
      <div ng-if="row.properties && model.metadataDefs.image">
        <hz-metadata-display
            available="::model.metadataDefs.image"
            existing="::row.properties">
        </hz-metadata-display>
      </div>

      <div ng-if="row.volume_image_metadata && model.metadataDefs.volume">
        <hz-metadata-display
            available="::model.metadataDefs.volume"
            existing="::row.volume_image_metadata">
        </hz-metadata-display>
      </div>
    </div>

  </div>

</td>

<td></td>