{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}launch_form{% endblock %}
{% block form_action %}{% url "horizon:project:database_clusters:launch" %}{% endblock %}

{% block modal_id %}launch_modal{% endblock %}
{% block modal-header %}{% trans "Launch Cluster" %}{% endblock %}

{% block modal-body %}
<div class="center">
  <fieldset>
  {% include "horizon/common/_form_fields.html" %}
  </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Launch" %}" />
  <a href="{% url "horizon:project:database_clusters:index" %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
