{% extends "base.html" %}
{% load django_openstack_tags %}

{% block region %}{% endblock %}

{% block headerjs %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block pageclass %}login{% endblock %}

{% block content %}
<div id="page_head">
  <h2>Sign in to the {% site_branding %} Dashboard</h2>
</div>

<div id="home_login" class="block">
  <h3>Sign In</h3>

  <form action="{% url auth_login %}" method="post">
    {% csrf_token %}
    <fieldset>
      {% if form.errors %}
      <p class="error">Your username and password didn't match. Please try again.</p>
      {% endif %}
      <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url index %}{% endif %}" />
      {{ form.username.label_tag }}{{ form.username }}
      {{ form.password.label_tag }}{{ form.password }}
      <div class="button">
        <input type="submit" value="Sign In">
        <span id="forgot_password">or <a href="{% url auth_password_reset %}">Forgot Password?</a></span>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
