{% load i18n %}{% load django_openstack_tags %}
{% autoescape off %}
You're receiving this e-mail because you requested a password reset for your
user account at {% site_branding %}.

Please use the following link and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}
{% endblock %}
Your user name, in case you've forgotten: {{ user.username }}

Thanks for using our site!

The {% site_branding %} Team
{% endautoescape %}
