{% extends "base.html" %}
{% block region %}{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div id="page_head">
  <h1>Reset Password</h1>
  <p id="page_description">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
</div>

<div id="home_login" class="block reset">
  <h3>Reset Password</h3>
  <form action="" method="post">
    <fieldset>
      {% csrf_token %}
      {{ form.email.errors }}
      <p><label for="id_email">E-mail address:</label> {{ form.email }} <input id="btn_reset_password" type="submit" value="Reset Password" /></p>
    </fieldset>
  </form>
</div>
{% endblock %}
