{% extends "base.html" %}
{% block region %}{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Password reset complete</h2>
  </div>

  <div class="ui-state-highlight ui-corner-all success">
   <span class="close ui-icon ui-icon-circle-close" style="display:none;"></span>
   <p>
      <span class="ui-icon ui-icon-check"></span>
      Your password has been reset. You can now <a href="{% url auth_login %}">login</a>.
    </p>
  </div>

{% endblock %}
