<h2>Welcome e-mail</h2>
<hr>
<p>
Greetings!
</p>
<p>
Congratulations on signing up for Jio Cloud!
</p>
<p>
User ID: {{ name }}
</p>
<p>
Sign in with your user ID to get started setting up and managing your services.
</p>
<p>
You can view our start-up guides <a href="{{ SITE_URL }}{% url 'starter-guide' %}">start-up guides</a>, <a href="{{ SITE_URL }}{% url 'api_documentation' %}">API documentation</a> before you begin. Or you can mail our customer support <a href="mailto: jiocloud.support@ril.com">jiocloud.support@ril.com</a> to help get you started.
We look forward to help take your ideas to market by addressing all your infrastructure needs.
Start shipping!</p>

Sincerely,
The Jio Cloud Team