{%load i18n%}
<table class="wide">
  <tr>
    <th>{% trans "Id"%}</th>
    <th>{% trans "Name"%}</th>
    <th>{% trans "Description"%}</th>
    <th>{% trans "Enabled"%}</th>
    <th>{% trans "Options"%}</th>
  </tr>
  {% for tenant in tenants %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{tenant.id}}</td>
      <td>{{tenant.name}}</td>
      <td>{{tenant.description}}</td>
      <td>{{tenant.enabled}}</td>
      <td id="actions">
        <ul>
          <li class="form">{% include "django_openstack/syspanel/tenants/_delete.html" with form=tenant_delete_form %}</li>
          <li><a href="{% url syspanel_tenant_update tenant.id %}">{% trans "Edit"%}</a></li>
          <li><a href="{% url syspanel_tenant_users tenant.id %}">{% trans "View Members"%}</a></li>
          <li><a href="{% url syspanel_tenant_quotas tenant.id %}">{% trans "Modify Quotas"%}</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>
